{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}


  <div class="container">

    <div class="site-top">

      <a class="link link--back" href="./">Fond</a>
      
      <h1 class="klp-fontsize--xxlarge">Alle fond</h1>


      <div class="switcher">
        <!-- <span>Velg visning</span> -->

        <a href="alle-fond-liste.html" class="switcher__option  grid">
          <span class="switcher__name">List</span>
          <img src="images/list.svg" style="width: 30px;">
        </a>

        <a href="alle-fond.html" class="switcher__option switcher__option--active grid">
          <span class="switcher__name">Grid</span>
          <img src="images/grid.svg">
        </a>
        
      </div>


      <p style="display: inline;"><a class="filters__toggle link--down" style="cursor: pointer;"><span class="link--text">Filtrer etter kategori</span></a></p>

      <br>
      <br>

  
   <div class="filters filters__hide" style="border: 3px solid #efefef; padding: 0em 3em 1em;">

      <div class="composition--beta">

        <div>
          <h2>Fondstype</h2>

          <label><input type="checkbox" name="KLP AksjeNorge Indeks II" id="F000002489" value=""> Aksjefond <br></label>
          <label><input type="checkbox" name="KLP AksjeNorge Indeks II" id="F000002489" value=""> Indeksfond <br></label>
          <label><input type="checkbox" name="KLP AksjeNorge Indeks II" id="F000002489" value=""> Kombinasjonsfond</label>
        </div>


        <div>
          <h2>Sparehorisont</h2>

          <label><input type="checkbox" name="KLP AksjeNorge Indeks II" id="F000002489" value=""> 3-5 år <br></label>
          <label><input type="checkbox" name="KLP AksjeNorge Indeks II" id="F000002489" value=""> 5-10 år <br></label>
          <label><input type="checkbox" name="KLP AksjeNorge Indeks II" id="F000002489" value=""> 10-20 <br></label>
          <label><input type="checkbox" name="KLP AksjeNorge Indeks II" id="F000002489" value=""> 20+</label>

        </div>


        <div>
        </div>

      </div>



    </div>
  </div>


      <p class="klp-font--base klp-fontsize--large" style="display: inline;">Trykk på et eller flere fond for å sammenligne eller starte sparing.</p>


    </div>






<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>

<script>
$('.filters__toggle').click(function(){
  $('.filters').toggleClass('filters__hide');
})
</script>


  <section class="sammenlign order__navigation">
  
    <div class="container">

      <div class="sticky" style="width: 100%;">

        <div class="sticky__content">

          <a class="klp-btn klp-btn--large klp-btn--primary" href="bestilling-velgfond-ferdigvalgt.html" >
            <span class="klp-btn__text">Start sparing</span>
          </a>

          <a class="klp-btn klp-btn--large klp-btn--secondary" href="sammenlign-fond.html">
            <span class="klp-btn__text">Sammenlign</span>
          </a>

        </div>

      </div>

    </div>

  </section>




  <section class="section">
    <div class="container">




      <h2 class="klp-font--base klp-fontsize--medium">Mest populære fond</h2>

      <div class="row">

        <section class="card card__fund card__fund--padding card__fund--index">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>KLP AksjeNorge Indeks II</h2>

              <img class="map" src="images/map-3.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 5–10 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Middels<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>


        <section class="card card__fund card__fund--padding card__fund--kombinasjons">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-rente.svg"></span>
              
              <h2>KLP Kombinasjon</h2>

              <img class="map" src="images/map-2.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 3–5 år<br>
                <label>Type</label> Kombinasjon<br>
                <label>Risiko</label> Middels<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>


        <section class="card card__fund card__fund--padding card__fund--index">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>KLP AksjeVerden Indeks</h2>

              <img class="map" src="images/map-3.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 5–10 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Middels<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>


        <section class="card card__fund card__fund--padding card__fund--index">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-aksje.svg"></span>
              
              <h2>KLP AksjeGlobal Indeks IV</h2>

              <img class="map" src="images/map-1.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 5–10 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Middels<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>

      </div>

    </div>
  </section>

  <br>

  <section class="section">
    <div class="container">


      <h2 class="klp-font--base klp-fontsize--medium">Indeksfond</h2>

      <div class="row">

        <section class="card card__fund card__fund--padding card__fund--index">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>KLP AksjeNorge Indeks II</h2>

              <img class="map" src="images/map-3.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 5–10 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Middels<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>


        <section class="card card__fund card__fund--padding card__fund--index">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-rente.svg"></span>
              
              <h2>KLP AksjeNorden Indeks</h2>

              <img class="map" src="images/map-2.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 5–10 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Middels<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>


        <section class="card card__fund card__fund--padding card__fund--index">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>KLP AksjeEuropa Indeks III</h2>

              <img class="map" src="images/map-3.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 5–10 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Middels<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>


        <section class="card card__fund card__fund--padding card__fund--index">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>KLP AksjeEuropa Indeks IV</h2>

              <img class="map" src="images/map-3.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 5–10 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Middels<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>



        <section class="card card__fund card__fund--padding card__fund--index">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>KLP AksjeEuropa Indeks III</h2>

              <img class="map" src="images/map-3.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 5–10 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Middels<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>




        <section class="card card__fund card__fund--padding card__fund--index">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>KLP AksjeAsia Indeks IV</h2>

              <img class="map" src="images/map-3.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 5–10 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Middels<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>




        <section class="card card__fund card__fund--padding card__fund--index">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>KLP AksjeFremv. Indeks II</h2>

              <img class="map" src="images/map-3.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 5–10 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Middels<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>




        <section class="card card__fund card__fund--padding card__fund--index">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>KLP AksjeGlobal Indeks IV</h2>

              <img class="map" src="images/map-3.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 5–10 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Middels<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>






        <section class="card card__fund card__fund--padding card__fund--index">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>KLP AksjeVerden Indeks</h2>

              <img class="map" src="images/map-3.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 5–10 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Middels<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>


      </div>


      <br><br>


      <h2 class="klp-font--base klp-fontsize--medium">Rentefond</h2>

      <div class="row">

        <section class="card card__fund card__fund--padding card__fund--rente">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-rente.svg"></span>
              
              <h2>KLP Pengemarked</h2>

              <img class="map" src="images/map-4.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 3–5 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Lav<br>
              </div>
            </div>
            
          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>


        <section class="card card__fund card__fund--padding card__fund--rente">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-rente.svg"></span>
              
              <h2>KLP FRN</h2>

              <img class="map" src="images/map-4.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 3–5 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Lav<br>
              </div>
            </div>
            
          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>


        <section class="card card__fund card__fund--padding card__fund--rente">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-rente.svg"></span>
              
              <h2>KLP Obligasjon 1 år</h2>

              <img class="map" src="images/map-1.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 3–5 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Lav<br>
              </div>
            </div>
            
          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>




        <section class="card card__fund card__fund--padding card__fund--rente">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-rente.svg"></span>
              
              <h2>KLP Obligasjon 3 år</h2>

              <img class="map" src="images/map-1.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 3–5 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Lav<br>
              </div>
            </div>
            
          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>




        <section class="card card__fund card__fund--padding card__fund--rente">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-rente.svg"></span>
              
              <h2>KLP Obligasjon 5 år</h2>

              <img class="map" src="images/map-1.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 3–5 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Lav<br>
              </div>
            </div>
            
          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>



        <section class="card card__fund card__fund--padding card__fund--rente">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-rente.svg"></span>
              
              <h2>KLP Kort Stat</h2>

              <img class="map" src="images/map-1.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 3–5 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Lav<br>
              </div>
            </div>
            
          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>




        <section class="card card__fund card__fund--padding card__fund--rente">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-rente.svg"></span>
              
              <h2>KLP Obligasjon Global II</h2>

              <img class="map" src="images/map-1.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 3–5 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Lav<br>
              </div>
            </div>
            
          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>



        <section class="card card__fund card__fund--padding card__fund--rente">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-rente.svg"></span>
              
              <h2>KLP Statsobligasjon</h2>

              <img class="map" src="images/map-1.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 3–5 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Lav<br>
              </div>
            </div>
            
          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>



        <section class="card card__fund card__fund--padding card__fund--rente">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-rente.svg"></span>
              
              <h2>KLP Obligasjon Kredittobligasjon</h2>

              <img class="map" src="images/map-1.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 3–5 år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Lav<br>
              </div>
            </div>
            
          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>


      </div>


      <br><br>


      <h2 class="klp-font--base klp-fontsize--medium">Aksjefond</h2>

      <div class="row">

        <section class="card card__fund card__fund--padding card__fund--aksje">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>KLP AksjeNorge Indeks II</h2>

              <img class="map" src="images/map-3.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 20+ år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Høy<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>


        <section class="card card__fund card__fund--padding card__fund--aksje">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-rente.svg"></span>
              
              <h2>KLP AksjeNorge Indeks II</h2>

              <img class="map" src="images/map-2.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 20+ år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Høy<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>


        <section class="card card__fund card__fund--padding card__fund--aksje">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>KLP AksjeNorge Indeks II</h2>

              <img class="map" src="images/map-3.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 20+ år<br>
                <label>Type</label> Indeks<br>
                <label>Risiko</label> Høy<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>


      </div>




      <br><br>


      <h2 class="klp-font--base klp-fontsize--medium">Kombinasjonsfond</h2>

      <div class="row">

        <section class="card card__fund card__fund--padding card__fund--kombinasjons">
          <label>
            <input class="checkbox" type="checkbox"/>

            <div class="card__content card__content--border">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>KLP Kombinasjon</h2>

              <img class="map" src="images/map-3.png">
              
              <div class="card__numbers">            
                <label>Sparehorisont</label> 5-10 år<br>
                <label>Type</label> Kombinasjon<br>
                <label>Risiko</label> Middels<br>
              </div>
            </div>

          </label>

          <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
        </section>



      </div>





    </div>
  </section>

    </div>
    
  </div>


<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>


<script>

  // $(document).ready(function(){
    
  //    $(window).bind('scroll', function() {
  //      if ($(window).scrollTop() > 500) {
  //        $('.sticky').addClass('sticky_scroll');
  //      }
  //      else {
  //        $('.sticky_scroll').removeClass('sticky_scroll');
  //      }
  //     });
  // });


$('.card__fund input').change(function() {
    if($(this).is(':checked')) {
         $('.sticky').toggleClass('sticky_scroll'); 
    } else {
         $('.sticky').removeClass('sticky_scroll'); 
    }
});


var countChecked = function() {
  var n = $( "input:checked" ).length;
};

$('.card__fund input').change(function() {
  countChecked();
});

$('.card__fund input').change(function() {
  var n = $( "input:checked" ).length;

  if( n == 1 ) {
    $('.klp-btn--secondary').css('visibility', 'hidden');
    $('.sticky').addClass('sticky_scroll'); 
  }
  else if ( n > 1 ) {
    $('.klp-btn--secondary').css('visibility', 'visible');
    $('.sticky').addClass('sticky_scroll'); 
  }
  else {
    $('.sticky').removeClass('sticky_scroll'); 
  }
});

// $( "input[type=checkbox]" ).on( "click", countChecked );
</script>
 

{% endblock %}
