{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

  <div class="container">
    <div class="site-top">
      <a class="link link--back" href="./">Fond</a>
      <h1>Alle fond</h1>
      <p class="ingress" style="display: inline;">Trykk på et eller flere fond
      for å sammenligne eller starte sparing.</p><br>
      <br>
      <div class="switcher">
        <!-- <span>Velg visning</span> -->
         <a class="switcher__option switcher__option--active grid" href=
        "alle-fond-liste.html"><span class="switcher__name">List</span>
        <img src="images/list.svg" style="width: 30px;"></a> <a class=
        "switcher__option grid" href="alle-fond.html"><span class=
        "switcher__name">Grid</span> <img src="images/grid.svg"></a>
      </div>
      <p style="display: inline;"><a class="filters__toggle link--down" style=
      "cursor: pointer;"><span class="link--text">Filtrer etter
      kategori</span></a></p>
    </div>
    <div class="filters filters__hide" style=
    "border: 3px solid #efefef; padding: 0em 3em 1em;">
      <div class="composition--beta">
        <div>
          <h2>Fondstype</h2><label><input id="F000002489" name=
          "KLP AksjeNorge Indeks II" type="checkbox" value="">
          Aksjefond<br></label> <label><input id="F000002489" name=
          "KLP AksjeNorge Indeks II" type="checkbox" value="">
          Indeksfond<br></label> <label><input id="F000002489" name=
          "KLP AksjeNorge Indeks II" type="checkbox" value="">
          Kombinasjonsfond</label>
        </div>
        <div>
          <h2>Fondstype</h2><label><input id="F000002489" name=
          "KLP AksjeNorge Indeks II" type="checkbox" value="">
          Aksjefond<br></label> <label><input id="F000002489" name=
          "KLP AksjeNorge Indeks II" type="checkbox" value="">
          Indeksfond<br></label> <label><input id="F000002489" name=
          "KLP AksjeNorge Indeks II" type="checkbox" value="">
          Kombinasjonsfond</label>
        </div>
        <div>
          <h2>Fondstype</h2><label><input id="F000002489" name=
          "KLP AksjeNorge Indeks II" type="checkbox" value="">
          Aksjefond<br></label> <label><input id="F000002489" name=
          "KLP AksjeNorge Indeks II" type="checkbox" value="">
          Indeksfond<br></label> <label><input id="F000002489" name=
          "KLP AksjeNorge Indeks II" type="checkbox" value="">
          Kombinasjonsfond</label>
        </div>
      </div>
    </div>
  </div>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'>
  </script> 
  <script>
  $('.filters__toggle').click(function(){
  $('.filters').toggleClass('filters__hide');
  })
  </script>
  <section class="sammenlign order__navigation">
    <div class="container">
      <div class="sticky" style="width: 100%;">
        <div class="sticky__content">
          <a class="klp-btn klp-btn--primary" href=
          "bestilling-velgfond-ferdigvalgt.html"><span class=
          "klp-btn__text">Start sparing</span></a> <a class=
          "klp-btn klp-btn--secondary" href="sammenlign-fond.html"><span class=
          "klp-btn__text">Sammenlign</span></a> 
          <!-- <span style="padding: 0 1em; opacity: .7;">Trykk på et eller flere fond for å sammenligne eller starte sparing.</span> -->
        </div>
      </div>
    </div>
  </section>
  <div class="section">
    <div class="container">
      <h3 class="font-light">Mest populære fond</h3>
      <table cellpadding="0" cellspacing="0" class="responsive fund">
        <thead>
          <tr>
            <th>Fond</th>
            <th class="columnsize">Årlig<br>
            forvaltnings­honorar</th>
            <th>Kurs</th>
            <th>Hittil i år</th>
            <th>3 år *</th>
            <th>10 år *</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fund-title"><label for="F000002489"><input id=
            "F000002489" name="KLP AksjeNorge Indeks II" type="checkbox" value=
            "F000002489%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "fullvisning-fond.html">KLP AksjeNorge Indeks II</a></label></td>
            <td>0.20 %</td>
            <td>1,631</td>
            <td>-0.25 %</td>
            <td>7.30 %</td>
            <td>-</td>
            <!--td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F00000M968"><input id=
            "F00000M968" name="KLP Kombinasjon" type="checkbox" value=
            "F00000M968%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-kombinasjon">KLP
            Kombinasjon</a></label></td>
            <td>0.30 %</td>
            <td>1,402</td>
            <td>1.13 %</td>
            <td>6.28 %</td>
            <td>-</td>
            <!--td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F00000MKD8"><input id=
            "F00000MKD8" name="KLP AksjeVerden Indeks" type="checkbox" value=
            "F00000MKD8%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-aksjeverden-indeks">KLP
            AksjeVerden Indeks</a></label></td>
            <td>0.30 %</td>
            <td>2,178</td>
            <td>-5.54 %</td>
            <td>17.54 %</td>
            <td>-</td>
            <!--td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F0GBR060IY"><input id=
            "F0GBR060IY" name="KLP AksjeGlobal Indeks IV" type="checkbox"
            value="F0GBR060IY%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link"
            href="https://www.klp.no/person/fond/klp-fondene/klp-aksjeglobal-indeks-iv">KLP
            AksjeGlobal Indeks IV</a></label></td>
            <td>0.30 %</td>
            <td>1,667</td>
            <td>-0.03 %</td>
            <td>8.45 %</td>
            <td>4.31 %</td>
            <!--td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F00000MKDH"><input id=
            "F00000MKDH" name="KLP AksjeFremv. Indeks II" type="checkbox"
            value="F00000MKDH%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link"
            href="https://www.klp.no/person/fond/klp-fondene/klp-aksjefremvoksende-markeder-indeks-ii">KLP
            AksjeFremv. Indeks II</a></label></td>
            <td>0.30 %</td>
            <td>1,349</td>
            <td>-4.26 %</td>
            <td>7.01 %</td>
            <td>-</td>
            <!--td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
        </tbody>
      </table>
      <h3 class="font-light">Indeksfond</h3>
      <table cellpadding="0" cellspacing="0" class="responsive fund">
        <thead>
          <tr>
            <th>Fond</th>
            <th class="columnsize">Årlig<br>
            forvaltnings­honorar</th>
            <th>Kurs</th>
            <th>Hittil i år</th>
            <th>3 år *</th>
            <th>10 år *</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fund-title"><label for="F000002489"><input id=
            "F000002489" name="KLP AksjeNorge Indeks II" type="checkbox" value=
            "F000002489%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-aksjenorge-indeks-ii">KLP
            AksjeNorge Indeks II</a></label></td>
            <td>0.20 %</td>
            <td>1,631</td>
            <td>-0.25 %</td>
            <td>7.30 %</td>
            <td>-</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F0GBR04HHA"><input id=
            "F0GBR04HHA" name="KLP AksjeNorden Indeks" type="checkbox" value=
            "F0GBR04HHA%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-aksjenorden-indeks">KLP
            AksjeNorden Indeks</a></label></td>
            <td>0.20 %</td>
            <td>3,558</td>
            <td>-4.91 %</td>
            <td>16.95 %</td>
            <td>11.27 %</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F00000WEGF"><input id=
            "F00000WEGF" name="KLP AksjeEuropa Indeks III" type="checkbox"
            value="F00000WEGF%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link"
            href="https://www.klp.no/person/fond/klp-fondene/klp-aksjeeuropa-indeks-iii">KLP
            AksjeEuropa Indeks III</a></label></td>
            <td>0.20 %</td>
            <td>910</td>
            <td>-7.66 %</td>
            <td>-</td>
            <td>-</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F00000WEGG"><input id=
            "F00000WEGG" name="KLP AksjeEuropa Indeks IV" type="checkbox"
            value="F00000WEGG%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link"
            href="https://www.klp.no/person/fond/klp-fondene/klp-aksjeeuropa-indeks-iv">KLP
            AksjeEuropa Indeks IV</a></label></td>
            <td>0.23 %</td>
            <td>952</td>
            <td>-2.10 %</td>
            <td>-</td>
            <td>-</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F00000X6B4"><input id=
            "F00000X6B4" name="KLP AksjeAsia Indeks III" type="checkbox" value=
            "F00000X6B4%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-aksjeasia-indeks-iii">KLP
            AksjeAsia Indeks III</a></label></td>
            <td>0.20 %</td>
            <td>1,007</td>
            <td>- %</td>
            <td>-</td>
            <td>-</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F00000X6B5"><input id=
            "F00000X6B5" name="KLP AksjeAsia Indeks IV" type="checkbox" value=
            "F00000X6B5%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-aksjeasia-indeks-iv">KLP
            AksjeAsia Indeks IV</a></label></td>
            <td>0.23 %</td>
            <td>1,004</td>
            <td>- %</td>
            <td>-</td>
            <td>-</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F00000MKDH"><input id=
            "F00000MKDH" name="KLP AksjeFremv. Indeks II" type="checkbox"
            value="F00000MKDH%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link"
            href="https://www.klp.no/person/fond/klp-fondene/klp-aksjefremvoksende-markeder-indeks-ii">KLP
            AksjeFremv. Indeks II</a></label></td>
            <td>0.30 %</td>
            <td>1,349</td>
            <td>-4.26 %</td>
            <td>7.01 %</td>
            <td>-</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F0GBR060IY"><input id=
            "F0GBR060IY" name="KLP AksjeGlobal Indeks IV" type="checkbox"
            value="F0GBR060IY%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link"
            href="https://www.klp.no/person/fond/klp-fondene/klp-aksjeglobal-indeks-iv">KLP
            AksjeGlobal Indeks IV</a></label></td>
            <td>0.30 %</td>
            <td>1,667</td>
            <td>-0.03 %</td>
            <td>8.45 %</td>
            <td>4.31 %</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F00000MKD8"><input id=
            "F00000MKD8" name="KLP AksjeVerden Indeks" type="checkbox" value=
            "F00000MKD8%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-aksjeverden-indeks">KLP
            AksjeVerden Indeks</a></label></td>
            <td>0.30 %</td>
            <td>2,178</td>
            <td>-5.54 %</td>
            <td>17.54 %</td>
            <td>-</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
        </tbody>
      </table>
      <h3 class="font-light">Rentefond</h3>
      <table cellpadding="0" cellspacing="0" class="responsive fund">
        <thead>
          <tr>
            <th>Fond</th>
            <th class="columnsize">Årlig<br>
            forvaltnings­honorar</th>
            <th>Kurs</th>
            <th>Hittil i år</th>
            <th>3 år *</th>
            <th>10 år *</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fund-title"><label for="F0GBR04NJW"><input id=
            "F0GBR04NJW" name="KLP Pengemarked" type="checkbox" value=
            "F0GBR04NJW%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-pengemarked">KLP
            Pengemarked</a></label></td>
            <td>0.10 %</td>
            <td>1,004</td>
            <td>0.86 %</td>
            <td>1.82 %</td>
            <td>3.18 %</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F0GBR04NJS"><input id=
            "F0GBR04NJS" name="KLP FRN" type="checkbox" value=
            "F0GBR04NJS%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-frn">KLP
            FRN</a></label></td>
            <td>0.10 %</td>
            <td>1,038</td>
            <td>2.03 %</td>
            <td>-</td>
            <td>-</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F0GBR04NJQ"><input id=
            "F0GBR04NJQ" name="KLP Obligasjon 1 År" type="checkbox" value=
            "F0GBR04NJQ%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-obligasjon-1-ar">KLP
            Obligasjon 1 År</a></label></td>
            <td>0.10 %</td>
            <td>1,014</td>
            <td>1.23 %</td>
            <td>2.13 %</td>
            <td>3.61 %</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F0GBR04OY2"><input id=
            "F0GBR04OY2" name="KLP Obligasjon 3 År" type="checkbox" value=
            "F0GBR04OY2%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-obligasjon-3-ar">KLP
            Obligasjon 3 År</a></label></td>
            <td>0.10 %</td>
            <td>1,043</td>
            <td>1.86 %</td>
            <td>3.11 %</td>
            <td>4.49 %</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F0GBR04NJU"><input id=
            "F0GBR04NJU" name="KLP Obligasjon 5 År" type="checkbox" value=
            "F0GBR04NJU%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-obligasjon-5-ar">KLP
            Obligasjon 5 År</a></label></td>
            <td>0.10 %</td>
            <td>1,322</td>
            <td>2.50 %</td>
            <td>4.58 %</td>
            <td>5.61 %</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F00000SXX3"><input id=
            "F00000SXX3" name="KLP Kort Stat" type="checkbox" value=
            "F00000SXX3%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-kort-stat">KLP Kort
            Stat</a></label></td>
            <td>0.10 %</td>
            <td>1,008</td>
            <td>0.18 %</td>
            <td>-</td>
            <td>-</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F000002KH8"><input id=
            "F000002KH8" name="KLP Obligasjon Global II" type="checkbox" value=
            "F000002KH8%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-obligasjon-global-ii">KLP
            Obligasjon Global II</a></label></td>
            <td>0.20 %</td>
            <td>1,212</td>
            <td>4.80 %</td>
            <td>5.68 %</td>
            <td>-</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F000002T8X"><input id=
            "F000002T8X" name="KLP Statsobligasjon" type="checkbox" value=
            "F000002T8X%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-statsobligasjon">KLP
            Statsobligasjon</a></label></td>
            <td>0.10 %</td>
            <td>1,057</td>
            <td>1.48 %</td>
            <td>3.67 %</td>
            <td>-</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F000002T8Y"><input id=
            "F000002T8Y" name="KLP Kredittobligasjon" type="checkbox" value=
            "F000002T8Y%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-kredittobligasjon">KLP
            Kredittobligasjon</a></label></td>
            <td>0.10 %</td>
            <td>1,093</td>
            <td>2.19 %</td>
            <td>-</td>
            <td>-</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
        </tbody>
      </table>
      <h3 class="font-light">Aktive aksjefond</h3>
      <table cellpadding="0" cellspacing="0" class="responsive fund">
        <thead>
          <tr>
            <th>Fond</th>
            <th class="columnsize">Årlig<br>
            forvaltnings­honorar</th>
            <th>Kurs</th>
            <th>Hittil i år</th>
            <th>3 år *</th>
            <th>10 år *</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fund-title"><label for="F0GBR04GPC"><input id=
            "F0GBR04GPC" name="KLP AksjeNorge" type="checkbox" value=
            "F0GBR04GPC%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link" href=
            "https://www.klp.no/person/fond/klp-fondene/klp-aksjenorge">KLP
            AksjeNorge</a></label></td>
            <td>0.75 %</td>
            <td>4,916</td>
            <td>2.12 %</td>
            <td>5.53 %</td>
            <td>5.53 %</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F00000RW2R"><input id=
            "F00000RW2R" name="KLP AksjeGlobal LavBeta I" type="checkbox"
            value="F00000RW2R%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link"
            href="https://www.klp.no/person/fond/klp-fondene/klp-aksjeglobal-lavbeta-i">KLP
            AksjeGlobal LavBeta I</a></label></td>
            <td>0.27 %</td>
            <td>1,552</td>
            <td>-1.15 %</td>
            <td>-</td>
            <td>-</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
          <tr>
            <td class="fund-title"><label for="F00000SXX2"><input id=
            "F00000SXX2" name="KLP AksjeGlobal Lavbeta II" type="checkbox"
            value="F00000SXX2%5D2%5D1%5DFONOR$$ALL_475%7C"><a class="link"
            href="https://www.klp.no/person/fond/klp-fondene/klp-aksjeglobal-lavbeta-ii">KLP
            AksjeGlobal Lavbeta II</a></label></td>
            <td>0.30 %</td>
            <td>1,227</td>
            <td>4.33 %</td>
            <td>-</td>
            <td>-</td>
            <!--==td><a class="link button==secondary" href="#">Start sparing</a></td-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'>
  </script> 
  <script>


  $('.card__fund input').change(function() {
    if($(this).is(':checked')) {
         $('.sticky').toggleClass('sticky_scroll'); 
    } else {
         $('.sticky').removeClass('sticky_scroll'); 
    }
  });


  var countChecked = function() {
  var n = $( "input:checked" ).length;
  };

  $('.card__fund input').change(function() {
  countChecked();
  });

  $('.card__fund input').change(function() {
  var n = $( "input:checked" ).length;

  if( n == 1 ) {
    $('.klp-btn--secondary').css('visibility', 'hidden');
    $('.sticky').addClass('sticky_scroll'); 
  }
  else if ( n > 1 ) {
    $('.klp-btn--secondary').css('visibility', 'visible');
    $('.sticky').addClass('sticky_scroll'); 
  }
  else {
    $('.sticky').removeClass('sticky_scroll'); 
  }
  });

  // $( "input[type=checkbox]" ).on( "click", countChecked );
  </script>

  {% endblock %}