{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

  <div class="container">

    <div class="site-top">

      <a class="link link--back" href="/">Fond</a>
      
      <h1>Ung og nyetablert</h1>

    </div>

  </div>


  <div class="section">
    <div class="container__narrow">


        <img src="images/people-1.png" style="width: 100%;">

        <p class="ingress">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis nulla eget purus iaculis auctor. Aliquam mauris lectus, dignissim quis turpis vitae, aliquet accumsan sem. Ut faucibus sem vel finibus tempus. Praesent bibendum scelerisque ante nec fermentum. Curabitur rutrum porta sem, vel rutrum metus efficitur quis.</p>

        <p>Sed neque dui, hendrerit id massa sed, pellentesque iaculis ligula. Phasellus auctor, sem ac pulvinar commodo, purus felis sollicitudin felis, sed sodales ante justo vel mauris. Nunc tempus quis mauris nec molestie. Nulla id placerat erat. Aliquam erat volutpat. Pellentesque commodo venenatis enim, in ultrices libero tincidunt eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec auctor metus vitae augue lacinia, at rutrum lectus dictum.</p>

        </p>Morbi eleifend, nisl vitae facilisis mattis, massa leo sodales arcu, a imperdiet mauris ante non mi. Praesent posuere sagittis maximus. Etiam euismod, ex eget tempus imperdiet, tortor neque tincidunt est, sed convallis ligula sem non augue. In vestibulum urna eu urna ultrices mattis. Nullam eget placerat urna. Donec sollicitudin tempus consequat. Aenean hendrerit vulputate molestie.</p>

        <p>Praesent tellus metus, maximus vitae purus fringilla, mattis ornare risus. Donec lorem libero, sollicitudin in commodo sed, venenatis et sem. Suspendisse consequat nisl mi, a tristique augue tempus vitae. Sed ut mauris et nibh porttitor dapibus. Suspendisse sapien purus, tempus id libero at, efficitur placerat turpis. Vivamus sit amet tristique sapien, at eleifend nibh. Proin id commodo lectus. Nulla accumsan, purus ut laoreet iaculis, sem felis euismod est, a euismod sem ex ac enim. Duis congue finibus ex sit amet ultrices. Phasellus nec magna nec leo tincidunt auctor at et diam. Morbi sed tortor in turpis mollis sodales vel ut quam. Etiam mollis sem in est rhoncus, a fringilla eros blandit. Vivamus vel urna ut mauris tempus volutpat.</p>



    </div>
    
  </div>




<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js'></script>

{% endblock %}
