{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

{% set next = "kvittering.html#kvittering" %}

  <br>

  <div class="section">
    <div class="container">

    {% include "shared/form-top.html" %}

      <div class="composition--alpa">
        <div>


          <a href="bestilling-velgfond.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">1. Velg fond og beløp</span>

              <br><br>

              <strong>Fond:</strong> KLP AksjeEuropa Indeks II<br>
              <strong>Fond:</strong> KLP AksjeGlobal Indeks I

            </div>
          </a><br>

          <a href="bestilling-identifisering.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">2. Identifisering</span>

              <br><br>

              <strong>Status:</strong> Identifisert

            </div>
          </a><br>


          <a href="bestilling-personopplysninger.html#personopplysninger" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">3. Personopplysninger</span>

              <br><br>

              <strong>Fødselsnummer:</strong> 123456 78912<br>
              <strong>Navn:</strong> Agathe Eufemia<br>
              <strong>Adresse:</strong> Gateveien 1, 1234 OSLO<br>
              <strong>E-postadresse:</strong> agathe@test.no<br>
              <strong>Mobilnummer:</strong> (+47) 987 65 432<br>

            </div>
          </a><br>




          <a href="bestilling-betaling.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">4. Betaling</span>

              <br><br>

              <strong>Engangsbeløp kontonr:</strong> 98754324433<br>
              <strong>Månedlig sparing kontonr:</strong> 98754324433<br>
              <strong>Trekkdag i måneden:</strong> 1.<br>
              <strong>VPS-konto</strong>: Bruk eksisterende VPS-konto fra KLP eller opprett ny hvis jeg ikke har

            </div>
          </a><br>

          <a href="bestilling-bekreft.html#bekreft" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">5. Vilkår</span>

              <br><br>

              <strong>Status:</strong> Godkjent
            </div>
          </a><br>

          <a href="bestilling-avtalegiro.html#avtalegiro" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">6. Avtalegiro</span>

              <br><br>

              <strong>Status:</strong> Opprettet
            </div>
          </a><br>

          <div id="kvittering" style="background: #fafafa; padding: .5em 2em;">


              <h1 class="klp-fontsize--xlarge">7. Kvittering</h1>

              <div class="composition--delta">

                <div>

                  <section class="card card__fund card__fund--padding card__fund--index" style="width: 100%;">
                      <div class="card__content">
                        <span class="symbol"><img src="images/graph-index.svg"></span>
                        
                        <h2>KLP AksjeNorge Indeks II</h2>

                        <img class="map" src="images/map-2.png">
                        
                        <div class="card__numbers">            
                          <label>Sparehorisont</label> 3–5 år<br>
                          <label>Type</label> Kombinasjon<br>
                          <label>Risiko</label> Middels<br>
                        </div>
                      </div>

                    <div style="text-align: center; width: 100%;"><a href="fullvisning-fond.html" class="link">Se detaljer</a></div>
                  </section>

                </div>
                <div>

                <div class="padding">


                  <p class="ingress">Gratulerer med fondet KLP Kombinasjon!</p>


                  <p style="opacity: .7;">Vi har sendt deg kvittering på e-post: epost@gmail.com.</p>

                  <p>Engangsbeløpet blir normalt trukket fra din bankkonto neste virkedag. Din månedlige sparing aktiveres når du oppretter avtalegiro.</p>

                  <p>For å følge med på utvikling på fondet ditt eller ta ut pengene din kan du enkelt logge deg inn på Min side.</p>
                    

                  <a class="klp-btn klp-btn--primary" href="#">
                    <span class="klp-btn__text">Logg inn på Min side</span>
                  </a>

                </div>
                
                </div>
              </div>

          </div>

          <br><br>

        </div>
        <div>


          <div class="order__summary">

            <div class="order__summary__content">

               <h2>Din bestilling er fullført</h2>
              
          </div>
        
        </div>
      </div>
    </div>
  </div>


{% endblock %}

