{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

{% set next = "gavesparing-identifisering.html#identifisering" %}

  <br>
  <div class="section">

    {% include "shared/form-top.html" %}

    <div class="container">

      <div class="composition--alpa">
        <div>

          <div id="personopplysninger" style="background: #fafafa; padding: .5em 2em 2em; display: block;">
            
              <h1 class="klp-fontsize--xlarge">1. Velg fond og beløp</h1>
              
              <div style="border: 1px solid #ddd; padding: 2em;" class="composition--delta fund__element">

                <div>
                  <a class="link klp-font--semibold klp-fontsize--medium" href="#">KLP Ivaretatt<br>Velkommen til verden</a>
                </div>

                <div>
                  <div class="composition--beta">

                    <div>
                      <div class="">

                        <section class="bgcolor-6">
                          <span class="input input--juro">
                            <input class="input__field input__field--juro" type="text" id="belop_fast" />
                            <label class="input__label input__label--juro" for="input-28">
                              <span class="input__label-content input__label-content--juro">Månedsbeløp</span>
                            </label>
                          </span>
                        </section>
                    
                      </div>
                    </div>

                    <div style="text-align: center; padding: 1em 0;">
                      og/eller
                    </div>
                    
                    <div>
                      <section class="bgcolor-6">
                        <span class="input input--juro">
                          <input class="input__field input__field--juro" type="text" id="belop_engangs" />
                          <label class="input__label input__label--juro" for="input-28">
                            <span class="input__label-content input__label-content--juro">Engangsbeløp</span>
                          </label>
                        </span>
                      </section>
                    </div>

                  </div>
              
                </div>


                <a class="toggle-link klp-fontsize--small" style="width: auto; margin-top: 1em;">
                  <i class="klp-icon klp-icon--inline klp-iconsize--small klp-fonticon klp-fonticon--angle-down"></i>
                  <span>Vis detaljer</span>
                </a>

                <div class="toggle_hide">

                  <div class="toggle__wrap">
                    
                    <div class="toggle__content">

                      <p>KLP Kombinasjon er et fond i fond som investerer i KLP AksjeNorge Indeks (ca. 30 %), KLP AksjeGlobal Indeks II (ca. 30 %), KLP Obligasjon 5 år (ca. 20 %) og KLP Obligasjon Global (ca. 20 %). Fordelingen mellom aksjefond og obligasjonsfond er 60/40 i gjennomsnitt, men kan svinge med inntil +/- 6 prosentpoeng.</p>

                      <p>Fondet egner seg for deg som har en sparehorisont på 5-10 år.</p>

                    </div>

                  </div>

                </div> <!-- / toggle -->

              </div>

              <div style="border: 1px solid #ddd; padding: 2em;" class="composition--delta fund__element">

                <div>
                  <a class="link klp-font--semibold klp-fontsize--medium" href="#">KLP Ivaretatt Ungdom</a>
                </div>

                <div>
                  <div class="composition--beta">

                    <div>
                      <div class="">

                        <section class="bgcolor-6">
                          <span class="input input--juro">
                            <input class="input__field input__field--juro" type="text" id="belop_fast" />
                            <label class="input__label input__label--juro" for="input-28">
                              <span class="input__label-content input__label-content--juro">Månedsbeløp</span>
                            </label>
                          </span>
                        </section>
                    
                      </div>
                    </div>

                    <div style="text-align: center; padding: 1em 0;">
                      og/eller
                    </div>
                    
                    <div>
                      <section class="bgcolor-6">
                        <span class="input input--juro">
                          <input class="input__field input__field--juro" type="text" id="belop_engangs" />
                          <label class="input__label input__label--juro" for="input-28">
                            <span class="input__label-content input__label-content--juro">Engangsbeløp</span>
                          </label>
                        </span>
                      </section>
                    </div>

                  </div>
              
                </div>


                <a class="toggle-link klp-fontsize--small" style="width: auto; margin-top: 1em;">
                  <i class="klp-icon klp-icon--inline klp-iconsize--small klp-fonticon klp-fonticon--angle-down"></i>
                  <span>Vis detaljer</span>
                </a>

                <div class="toggle_hide">

                  <div class="toggle__wrap">
                    
                    <div class="toggle__content">

                      <p>KLP Kombinasjon er et fond i fond som investerer i KLP AksjeNorge Indeks (ca. 30 %), KLP AksjeGlobal Indeks II (ca. 30 %), KLP Obligasjon 5 år (ca. 20 %) og KLP Obligasjon Global (ca. 20 %). Fordelingen mellom aksjefond og obligasjonsfond er 60/40 i gjennomsnitt, men kan svinge med inntil +/- 6 prosentpoeng.</p>

                      <p>Fondet egner seg for deg som har en sparehorisont på 5-10 år.</p>

                    </div>

                  </div>

                </div> <!-- / toggle -->

              </div>

              <div style="border: 1px solid #ddd; padding: 2em;" class="composition--delta fund__element">

                <div>
                  <a class="link klp-font--semibold klp-fontsize--medium" href="#">KLP Ivaretatt 18-årsgave</a>
                </div>

                <div>
                  <div class="composition--beta">

                    <div>
                      <div class="">

                        <section class="bgcolor-6">
                          <span class="input input--juro">
                            <input class="input__field input__field--juro" type="text" id="belop_fast" />
                            <label class="input__label input__label--juro" for="input-28">
                              <span class="input__label-content input__label-content--juro">Månedsbeløp</span>
                            </label>
                          </span>
                        </section>
                    
                      </div>
                    </div>

                    <div style="text-align: center; padding: 1em 0;">
                      og/eller
                    </div>
                    
                    <div>
                      <section class="bgcolor-6">
                        <span class="input input--juro">
                          <input class="input__field input__field--juro" type="text" id="belop_engangs" />
                          <label class="input__label input__label--juro" for="input-28">
                            <span class="input__label-content input__label-content--juro">Engangsbeløp</span>
                          </label>
                        </span>
                      </section>
                    </div>

                  </div>
              
                </div>


                <a class="toggle-link klp-fontsize--small" style="width: auto; margin-top: 1em;">
                  <i class="klp-icon klp-icon--inline klp-iconsize--small klp-fonticon klp-fonticon--angle-down"></i>
                  <span>Vis detaljer</span>
                </a>

                <div class="toggle_hide">

                  <div class="toggle__wrap">
                    
                    <div class="toggle__content">

                      <p>KLP Kombinasjon er et fond i fond som investerer i KLP AksjeNorge Indeks (ca. 30 %), KLP AksjeGlobal Indeks II (ca. 30 %), KLP Obligasjon 5 år (ca. 20 %) og KLP Obligasjon Global (ca. 20 %). Fordelingen mellom aksjefond og obligasjonsfond er 60/40 i gjennomsnitt, men kan svinge med inntil +/- 6 prosentpoeng.</p>

                      <p>Fondet egner seg for deg som har en sparehorisont på 5-10 år.</p>

                    </div>

                  </div>

                </div> <!-- / toggle -->

              </div>


              <div style="border: 1px solid #ddd; padding: 2em;" class="composition--delta fund__element">

                <div>
                  <a class="link klp-font--semibold klp-fontsize--medium" href="#">KLP Ivaretatt For alltid</a>
                </div>

                <div>
                  <div class="composition--beta">

                    <div>
                      <div class="">

                        <section class="bgcolor-6">
                          <span class="input input--juro">
                            <input class="input__field input__field--juro" type="text" id="belop_fast" />
                            <label class="input__label input__label--juro" for="input-28">
                              <span class="input__label-content input__label-content--juro">Månedsbeløp</span>
                            </label>
                          </span>
                        </section>
                    
                      </div>
                    </div>

                    <div style="text-align: center; padding: 1em 0;">
                      og/eller
                    </div>
                    
                    <div>
                      <section class="bgcolor-6">
                        <span class="input input--juro">
                          <input class="input__field input__field--juro" type="text" id="belop_engangs" />
                          <label class="input__label input__label--juro" for="input-28">
                            <span class="input__label-content input__label-content--juro">Engangsbeløp</span>
                          </label>
                        </span>
                      </section>
                    </div>

                  </div>
              
                </div>


                <a class="toggle-link klp-fontsize--small" style="width: auto; margin-top: 1em;">
                  <i class="klp-icon klp-icon--inline klp-iconsize--small klp-fonticon klp-fonticon--angle-down"></i>
                  <span>Vis detaljer</span>
                </a>

                <div class="toggle_hide">

                  <div class="toggle__wrap">
                    
                    <div class="toggle__content">

                      <p>KLP Kombinasjon er et fond i fond som investerer i KLP AksjeNorge Indeks (ca. 30 %), KLP AksjeGlobal Indeks II (ca. 30 %), KLP Obligasjon 5 år (ca. 20 %) og KLP Obligasjon Global (ca. 20 %). Fordelingen mellom aksjefond og obligasjonsfond er 60/40 i gjennomsnitt, men kan svinge med inntil +/- 6 prosentpoeng.</p>

                      <p>Fondet egner seg for deg som har en sparehorisont på 5-10 år.</p>

                    </div>

                  </div>

                </div> <!-- / toggle -->

              </div>


              <br>



              {% include "shared/form-buttons.html" %}
              
          </div>

          <br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            2. Identifisering
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            3. Personopplysninger: Giver
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            4. Personopplysninger: Mottaker
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            5. Betaling
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            6. Vilkår
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            7. Avtalegiro
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            8. Kvittering
          </div><br>

        </div>
        <div>


<!--           <div class="order__summary">

            {% include "shared/order-summary.html" %}

          </div> --> <!-- order__summary / -->
        
        
        </div>
      </div>
    </div>
  </div>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>


<script>


  // Order summary stick on scroll
  $(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 112) {
      $(".order__summary").addClass("stick-on-scroll");
    }
    else {
      $(".order__summary").removeClass("stick-on-scroll");
    }
  });

  // Table head stick on scroll
  $(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 112) {
      $(".table__header").addClass("table__header--fixed");
    }
    else {
      $(".table__header").removeClass("table__header--fixed");
    }
  });
</script>

<style>
.table__header--fixed {
  position: fixed;
  width: 600px;
  height: 200px;
  left: 50%;
  top: 0%;
  margin-left: -300px; /*half the width*/
}
</style>


    {% include "shared/form-footer.html" %}



<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>






  <script>

  /*!
   * classie - class helper functions
   * from bonzo https://github.com/ded/bonzo
   * 
   * classie.has( elem, 'my-class' ) -> true/false
   * classie.add( elem, 'my-new-class' )
   * classie.remove( elem, 'my-unwanted-class' )
   * classie.toggle( elem, 'my-class' )
   */

  /*jshint browser: true, strict: true, undef: true */
  /*global define: false */

  ( function( window ) {

  'use strict';

  // class helper functions from bonzo https://github.com/ded/bonzo

  function classReg( className ) {
    return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
  }

  // classList support for class management
  // altho to be fair, the api sucks because it won't accept multiple classes at once
  var hasClass, addClass, removeClass;

  if ( 'classList' in document.documentElement ) {
    hasClass = function( elem, c ) {
      return elem.classList.contains( c );
    };
    addClass = function( elem, c ) {
      elem.classList.add( c );
    };
    removeClass = function( elem, c ) {
      elem.classList.remove( c );
    };
  }
  else {
    hasClass = function( elem, c ) {
      return classReg( c ).test( elem.className );
    };
    addClass = function( elem, c ) {
      if ( !hasClass( elem, c ) ) {
        elem.className = elem.className + ' ' + c;
      }
    };
    removeClass = function( elem, c ) {
      elem.className = elem.className.replace( classReg( c ), ' ' );
    };
  }

  function toggleClass( elem, c ) {
    var fn = hasClass( elem, c ) ? removeClass : addClass;
    fn( elem, c );
  }

  var classie = {
    // full names
    hasClass: hasClass,
    addClass: addClass,
    removeClass: removeClass,
    toggleClass: toggleClass,
    // short names
    has: hasClass,
    add: addClass,
    remove: removeClass,
    toggle: toggleClass
  };

  // transport
  if ( typeof define === 'function' && define.amd ) {
    // AMD
    define( classie );
  } else {
    // browser global
    window.classie = classie;
  }

  })( window );





</script>






    <script>
      (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
          (function() {
            // Make sure we trim BOM and NBSP
            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
            String.prototype.trim = function() {
              return this.replace(rtrim, '');
            };
          })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
          // in case the input is already filled..
          if( inputEl.value.trim() !== '' ) {
            classie.add( inputEl.parentNode, 'input--filled' );
          }

          // events:
          inputEl.addEventListener( 'focus', onInputFocus );
          inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
          classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
          if( ev.target.value.trim() === '' ) {
            classie.remove( ev.target.parentNode, 'input--filled' );
          }
        }
      })();
    </script>





<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

<script>

$('.more__toggle').click(function(){
  $('.more').toggleClass('more__hide');
})
</script>





  <script>

  /*!
   * classie - class helper functions
   * from bonzo https://github.com/ded/bonzo
   * 
   * classie.has( elem, 'my-class' ) -> true/false
   * classie.add( elem, 'my-new-class' )
   * classie.remove( elem, 'my-unwanted-class' )
   * classie.toggle( elem, 'my-class' )
   */

  /*jshint browser: true, strict: true, undef: true */
  /*global define: false */

  ( function( window ) {

  'use strict';

  // class helper functions from bonzo https://github.com/ded/bonzo

  function classReg( className ) {
    return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
  }

  // classList support for class management
  // altho to be fair, the api sucks because it won't accept multiple classes at once
  var hasClass, addClass, removeClass;

  if ( 'classList' in document.documentElement ) {
    hasClass = function( elem, c ) {
      return elem.classList.contains( c );
    };
    addClass = function( elem, c ) {
      elem.classList.add( c );
    };
    removeClass = function( elem, c ) {
      elem.classList.remove( c );
    };
  }
  else {
    hasClass = function( elem, c ) {
      return classReg( c ).test( elem.className );
    };
    addClass = function( elem, c ) {
      if ( !hasClass( elem, c ) ) {
        elem.className = elem.className + ' ' + c;
      }
    };
    removeClass = function( elem, c ) {
      elem.className = elem.className.replace( classReg( c ), ' ' );
    };
  }

  function toggleClass( elem, c ) {
    var fn = hasClass( elem, c ) ? removeClass : addClass;
    fn( elem, c );
  }

  var classie = {
    // full names
    hasClass: hasClass,
    addClass: addClass,
    removeClass: removeClass,
    toggleClass: toggleClass,
    // short names
    has: hasClass,
    add: addClass,
    remove: removeClass,
    toggle: toggleClass
  };

  // transport
  if ( typeof define === 'function' && define.amd ) {
    // AMD
    define( classie );
  } else {
    // browser global
    window.classie = classie;
  }

  })( window );






  (function() {
    // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
    if (!String.prototype.trim) {
      (function() {
        // Make sure we trim BOM and NBSP
        var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
        String.prototype.trim = function() {
          return this.replace(rtrim, '');
        };
      })();
    }

    [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
      // in case the input is already filled..
      if( inputEl.value.trim() !== '' ) {
        classie.add( inputEl.parentNode, 'input--filled' );
      }

      // events:
      inputEl.addEventListener( 'focus', onInputFocus );
      inputEl.addEventListener( 'blur', onInputBlur );
    } );

    function onInputFocus( ev ) {
      classie.add( ev.target.parentNode, 'input--filled' );
    }

    function onInputBlur( ev ) {
      if( ev.target.value.trim() === '' ) {
        classie.remove( ev.target.parentNode, 'input--filled' );
      }
    }
  })();

  $(function () {
    $('#belop_engangs, #belop_fast').on('keyup', function() {
      if (this.value.length > 2) {
        $('.field_2').removeClass('hide').addClass('show');
      }

      else {
        $('.field_2,.field_3').removeClass('show').addClass('hide');
      }
    });

    $('#tid').on('keyup change', function() {
      if (this.value.length >= 1) {
        $('.field_3, .field_4').removeClass('hide').addClass('show');
      }
      else {
        $('.field_3, .field_4').removeClass('show').addClass('hide');
      }
    });
  });


  $( ".velg-fond" ).change(function() {
    var value = $( this ).val();
    $( ".calculator__result" ).replaceWith( '<span class="calculator__result">' + value + ' kr</span>' );

    $( "#calculator__secondOption h2" ).replaceWith( '<h2 class="klp-font--semibold" style="font-size: 22px; color: black;">' + value + '</h2>' );



    if(value !== "200") {
        $( "#calculator__recommended" ).addClass('collapsed');
        $( "#calculator__secondOption" ).removeClass('hidden');
    } else {
        $( "#calculator__recommended" ).removeClass('collapsed');
        $( "#calculator__secondOption" ).addClass('hidden');
    }

  });

  $(document).ready(function() {
    $('#resizing_select').change(function(){
      $("#width_tmp_option").html($('#resizing_select option:selected').text()); 
      $(this).width($("#width_tmp_select").width() + 20 + 'px');  
    });
  });


  $('.velg-fond--tilbake').click(function(){ 
      $('.velg-fond').val($(this).data('val')).trigger('change');
  });

</script>







    <script>
      (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
          (function() {
            // Make sure we trim BOM and NBSP
            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
            String.prototype.trim = function() {
              return this.replace(rtrim, '');
            };
          })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
          // in case the input is already filled..
          if( inputEl.value.trim() !== '' ) {
            classie.add( inputEl.parentNode, 'input--filled' );
          }

          // events:
          inputEl.addEventListener( 'focus', onInputFocus );
          inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
          classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
          if( ev.target.value.trim() === '' ) {
            classie.remove( ev.target.parentNode, 'input--filled' );
          }
        }
      })();
    </script>







<script>

  $('.more__toggle').click(function(){
    $(this).next('.more').toggleClass('more__hide');
  });

  $( ".more__toggle" ).click(function() {
      if ( $(this).next('.more').hasClass( "more__hide" ) ) {
        $(this).removeClass('more--close');
      } else {
        $(this).addClass('more--close');
      }
  });

</script>

<style>
  .fund__element {
    margin: 0 0 .5em;
    display: block;
    overflow: hidden;
  }
</style>


{% endblock %}


