{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

{% set next = "betaling.html#betaling" %}

  <br>

  <div class="section">

    {% include "shared/form-top.html" %}

    <div class="container">

      <div class="composition--alpa">
        <div>

          <a href="bestilling-velgfond.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">1. Velg fond og beløp</span>

              <br><br>

              <strong>Fond:</strong> KLP AksjeEuropa Indeks II<br>
              <strong>Fond:</strong> KLP AksjeGlobal Indeks I

            </div>
          </a><br>

          <a href="bestilling-identifisering.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">2. Identifisering</span>

              <br><br>

              <strong>Status:</strong> Identifisert

            </div>
          </a><br>

          <div id="personopplysninger" style="background: #fafafa; padding: .5em 2em;">

            <h1 class="klp-fontsize--xlarge">3. Personopplysninger</h1>

            <span>Adressen er hentet fra Folkeregisteret. Den må endres på altinn.no hvis den er feil.</span>

            <br>
            <br>

            <div class="row" style="margin: 0 0 1em;">
              <label class="klp-label">Fødselsnummer</label>
              <span style="color: #888;">123456 76543</span>
            </div>

            <div class="row" style="margin: 0 0 1em;">
              <label class="klp-label">Navn</label>
              <span style="color: #888;">Agathe Eufemia</span>
            </div>

            <div class="row" style="margin: 0 0 1em;">
              <label class="klp-label">Adresse</label>
              <span style="color: #888;">Gateveien 1<br>1234 OSLO</span>
            </div>

            <br>

            <div class="row" style="margin: 0 0 1em;">

                <div>
                  <section class="bgcolor-6">
                    <span class="input input--juro">
                      <input class="input__field input__field--juro" type="text" id="belop_engangs" />
                      <label class="input__label input__label--juro" for="input-28">
                        <span class="input__label-content input__label-content--juro">E-postadresse</span>
                      </label>
                    </span>
                  </section>
                </div>

            </div>

            <div class="row" style="margin: 0 0 1em;">

                <div style="display: inline-block;">
                  <section class="bgcolor-6">
                    <span class="input input--juro" style="width: 120px;">
                      <select value="Norge (+47)" class="input__field input__field--juro" type="text" id="belop_engangs">
                      <option selected>Norge (+47)</option>
                      <option>Polen (+48)</option>
                      <option>Tyskland (+49)</option>

                      </select>
                      <label class="input__label input__label--juro" for="input-28">
                        <span class="input__label-content input__label-content--juro">Retningsnummer</span>
                      </label>
                    </span>
                  </section>
                </div>

                <div style="display: inline-block;">
                  <section class="bgcolor-6">
                    <span class="input input--juro">
                      <input class="input__field input__field--juro" type="text" id="belop_engangs" />
                      <label class="input__label input__label--juro" for="input-28">
                        <span class="input__label-content input__label-content--juro">Mobilnummer</span>
                      </label>
                    </span>
                  </section>
                </div>

            </div>

            <div class="row" style="margin-top: 2em;">

              <h2 class="klp-font--bold klp-fontsize--medium">Om skatt</h2>








              <div style="display: inline-block;">

                <label class="klp-label" style="display: inline-block;">
                  Er du skattepliktig til andre land enn Norge?
                </label>

              </div>

              <a class="toggle-link">
                <i class="klp-icon klp-icon--inline klp-iconsize--base klp-fonticon klp-fonticon--info-circle"></i>
                <span>Hvorfor spør vi om dette?</span>
              </a>

              <div class="toggle_hide">

                <div class="toggle__wrap">
                  

                  <div class="toggle__content info">

                    <p>KLP Kapitalforvaltning AS er i henhold til nye regler for skatterapportering (CRS - Common Reporting Standard) pålagt å innhente egenerklæring om skattetilhørighet utover Norge og USA for alle nye VPS-konti. Dersom dette er tilfelle for deg, må du angi hvilke(t) land du er skattepliktig til. Vi vil deretter gjøre nødvendige tiltak for å ivareta rapporteringsplikten.</p>

                  </div>

                </div>

              </div>

              <label class="klp-radio-label">
                <input name="skattepliktig-usa" value="ja" type="radio">
                <span></span>
                Ja
              </label>

              <label class="klp-radio-label">
                <input name="skattepliktig-usa" value="nei" type="radio">
                <span></span>
                Nei
              </label>


              <div class="show-when-yes">


                {% include "shared/autocomplete.html" %}



                <div class="usa-box">

                  <div>
                    <section class="bgcolor-6">
                      <span class="input input--juro">
                        <input class="input__field input__field--juro" type="text" id="belop_engangs" />
                        <label class="input__label input__label--juro" for="input-28">
                          <span class="input__label-content input__label-content--juro">Ditt identifikasjonsnummer i USA</span>
                        </label>
                      </span>
                    </section>
                  </div>

                  <br>

                  <a href="#" class="link">Legg til flere land</a>

                  <br><br>

                </div> <!-- usa-box -->

              </div> <!-- show-when-yes -->

            </div> <!-- row -->

            {% include "shared/form-buttons.html" %}

          </div>

          <br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            4. Betaling
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            5. Vilkår
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            6. Avtalegiro
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            7. Kvittering
          </div><br>
          
        </div>

        <div>

          <div class="order__summary">

            {% include "shared/order-summary.html" %}

          </div> <!-- order__summary / -->
        
        </div>

      </div> <!-- composition alpa-->
    </div> <!-- container -->
  </div> <!-- section -->

  {% include "shared/form-footer.html" %}

<style>
  .stick-on-scroll {
    position: fixed;
    top: 1em;
    width: inherit;
  }
</style>


<script>

  /*!
   * classie - class helper functions
   * from bonzo https://github.com/ded/bonzo
   * 
   * classie.has( elem, 'my-class' ) -> true/false
   * classie.add( elem, 'my-new-class' )
   * classie.remove( elem, 'my-unwanted-class' )
   * classie.toggle( elem, 'my-class' )
   */

  /*jshint browser: true, strict: true, undef: true */
  /*global define: false */

  ( function( window ) {

  'use strict';

  // class helper functions from bonzo https://github.com/ded/bonzo

  function classReg( className ) {
    return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
  }

  // classList support for class management
  // altho to be fair, the api sucks because it won't accept multiple classes at once
  var hasClass, addClass, removeClass;

  if ( 'classList' in document.documentElement ) {
    hasClass = function( elem, c ) {
      return elem.classList.contains( c );
    };
    addClass = function( elem, c ) {
      elem.classList.add( c );
    };
    removeClass = function( elem, c ) {
      elem.classList.remove( c );
    };
  }
  else {
    hasClass = function( elem, c ) {
      return classReg( c ).test( elem.className );
    };
    addClass = function( elem, c ) {
      if ( !hasClass( elem, c ) ) {
        elem.className = elem.className + ' ' + c;
      }
    };
    removeClass = function( elem, c ) {
      elem.className = elem.className.replace( classReg( c ), ' ' );
    };
  }

  function toggleClass( elem, c ) {
    var fn = hasClass( elem, c ) ? removeClass : addClass;
    fn( elem, c );
  }

  var classie = {
    // full names
    hasClass: hasClass,
    addClass: addClass,
    removeClass: removeClass,
    toggleClass: toggleClass,
    // short names
    has: hasClass,
    add: addClass,
    remove: removeClass,
    toggle: toggleClass
  };

  // transport
  if ( typeof define === 'function' && define.amd ) {
    // AMD
    define( classie );
  } else {
    // browser global
    window.classie = classie;
  }

  })( window );



      (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
          (function() {
            // Make sure we trim BOM and NBSP
            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
            String.prototype.trim = function() {
              return this.replace(rtrim, '');
            };
          })();
        }

        [].slice.call( document.querySelectorAll( '.input__field' ) ).forEach( function( inputEl ) {
          // in case the input is already filled..
          if( inputEl.value.trim() !== '' ) {
            classie.add( inputEl.parentNode, 'input--filled' );
          }

          // events:
          inputEl.addEventListener( 'focus', onInputFocus );
          inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
          classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
          if( ev.target.value.trim() === '' ) {
            classie.remove( ev.target.parentNode, 'input--filled' );
          }
        }
      })();

</script>

<script>
  $(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 112) {
      $(".order__summary").addClass("stick-on-scroll");
    }
    else {
      $(".order__summary").removeClass("stick-on-scroll");
    }
  });



  $( ".klp-radio-label input" ).change(function() {
    var value = $( this ).val();
    if ( value === 'ja' ) {
      $('.show-when-yes').addClass('show');

    }
    else if ( value !== 'ja' ) {
      $('.show-when-yes').removeClass('show');
    }
  });
</script>


{% endblock %}
