{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

{% set next = "kvittering.html#kvittering" %}

  <br>

  <div class="section">
    <div class="container">

    {% include "shared/form-top.html" %}

      <div class="composition--alpa">
        <div>

          <a href="bestilling-velgfond.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">1. Velg fond og beløp</span>

              <br><br>

              <strong>Fond:</strong> KLP AksjeEuropa Indeks II<br>
              <strong>Fond:</strong> KLP AksjeGlobal Indeks I

            </div>
          </a><br>

          <a href="bestilling-identifisering.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">2. Identifisering</span>

              <br><br>

              <strong>Status:</strong> Identifisert

            </div>
          </a><br>


          <a href="bestilling-personopplysninger.html#personopplysninger" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">3. Personopplysninger</span>

              <br><br>

              <strong>Fødselsnummer:</strong> 123456 78912<br>
              <strong>Navn:</strong> Agathe Eufemia<br>
              <strong>Adresse:</strong> Gateveien 1, 1234 OSLO<br>
              <strong>E-postadresse:</strong> agathe@test.no<br>
              <strong>Mobilnummer:</strong> (+47) 987 65 432<br>

            </div>
          </a><br>




          <a href="bestilling-betaling.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">4. Betaling</span>

              <br><br>

              <strong>Engangsbeløp kontonr:</strong> 98754324433<br>
              <strong>Månedlig sparing kontonr:</strong> 98754324433<br>
              <strong>Trekkdag i måneden:</strong> 1.<br>
              <strong>VPS-konto</strong>: Bruk eksisterende VPS-konto fra KLP eller opprett ny hvis jeg ikke har

            </div>
          </a><br>

          <a href="bestilling-bekreft.html#bekreft" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">5. Vilkår</span>

              <br><br>

              <strong>Status:</strong> Godkjent
            </div>
          </a><br>

          <div id="avtalegiro" style="background: #fafafa; padding: .5em 2em;">

            <div class="composition--gamma">

              <h1 class="klp-fontsize--xlarge">6. Opprett avtalegiro</h1>

              <label class="klp-font--bold">Fond:</label> KLP AksjeEuropa Indeks II <br>
        
              <label class="klp-font--bold">Bankkontonummer</label> 3493.4805203 <br>

              <label class="klp-font--bold">KID</label> 35679874738493 <br>

              <label class="klp-font--bold">Månedlig sparing</label> 500 kr <br>
        
              <label class="klp-font--bold">Status</label> Ikke påbegynt <br>

              <br>

              <a class="klp-btn klp-btn--secondary" href="#">
                <span class="klp-btn__text">Opprett avtalegiro</span>
              </a>

            </div>

            {% include "shared/form-buttons.html" %}

          </div>

          <br>

          
          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            7. Kvittering
          </div><br>

        </div>
        <div>


          <div class="order__summary">

            {% include "shared/order-summary.html" %}

          </div> <!-- order__summary / -->
        
        </div>
      </div>
    </div>
  </div>

    {% include "shared/form-footer.html" %}

{% endblock %}
