{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

{% set next = "avtalegiro.html#avtalegiro" %}


  <br>

  <div class="section section_pakker">
    <div class="container">

    {% include "shared/form-top.html" %}

      <div class="composition--alpa">
        <div>

          <a href="bestilling-velgfond.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">1. Velg fond og beløp</span>

              <br><br>

              <strong>Fond:</strong> KLP AksjeEuropa Indeks II<br>
              <strong>Fond:</strong> KLP AksjeGlobal Indeks I

            </div>
          </a><br>

          <a href="bestilling-identifisering.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">2. Identifisering</span>

              <br><br>

              <strong>Status:</strong> Identifisert

            </div>
          </a><br>


          <a href="bestilling-personopplysninger.html#personopplysninger" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">3. Personopplysninger</span>

              <br><br>

              <strong>Fødselsnummer:</strong> 123456 78912<br>
              <strong>Navn:</strong> Agathe Eufemia<br>
              <strong>Adresse:</strong> Gateveien 1, 1234 OSLO<br>
              <strong>E-postadresse:</strong> agathe@test.no<br>
              <strong>Mobilnummer:</strong> (+47) 987 65 432<br>

            </div>
          </a><br>

          <a href="bestilling-betaling.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">4. Betaling</span>

              <br><br>

              <strong>Engangsbeløp kontonr:</strong> 98754324433<br>
              <strong>Månedlig sparing kontonr:</strong> 98754324433<br>
              <strong>Trekkdag i måneden:</strong> 1.<br>
              <strong>VPS-konto</strong>: Bruk eksisterende VPS-konto fra KLP eller opprett ny hvis jeg ikke har

            </div>
          </a><br>

          <div id="bekreft" style="background: #fafafa; padding: 2em;">

            <h1 class="klp-fontsize--xlarge">5. Vilkår</h1>




            <style>
            /* Add animation (Chrome, Safari, Opera) */
            @-webkit-keyframes example {
                from {top:-100px;opacity: 0;}
                to {top:0px;opacity:1;}
            }

            /* Add animation (Standard syntax) */
            @keyframes example {
                from {top:-100px;opacity: 0;}
                to {top:0px;opacity:1;}
            }

            /* The modal's background */
            .modal {
              display: none;
              position: fixed;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              overflow: auto;
              z-index: 999;
            /*  background-color: rgb(0, 0, 0);
              background-color: rgba(0, 0, 0, 0.4);*/
            }

            /* Display the modal when targeted */
            .modal:target {
              display: table;
              /*position: absolute;*/
            }

            /* The modal box */
            .modal-dialog {
              display: table-cell;
              vertical-align: middle;
            }

            /* The modal's content */
            #vilkar .modal-dialog .modal-content {
              margin: auto;
              background-color: #fff;
              position: relative;
              padding: 0;
              outline: 0;
              width: 100%;
              max-width: 720px;
              max-height: 80%;
              overflow: auto;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

              /* Add animation */
              -webkit-animation-name: example; /* Chrome, Safari, Opera */
              -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
              animation-name: example;
              animation-duration: 0.5s;
            }

            /* The button used to close the modal */
            .closebtn {
              text-decoration: none;
              float: right;
              font-size: 35px;
              font-weight: bold;
              color: #333;
            }

            .closebtn:hover,
            .closebtn:focus {
              color: #888;
              text-decoration: none;
              cursor: pointer;
            }

            .modal .container {
              padding: 2em;
            }

            </style>

            <div id="vilkar" class="modal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="container">

                    <header>
                      <a href="#" class="closebtn">×</a>
                      <h2 style="margin-top: 0; padding-top: 0;" class="klp-font--semibold">Vilkår</h2>
                    </header>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique, risus eu commodo facilisis, nisi eros congue enim, ultrices accumsan felis urna sed urna. Sed a sagittis ante, eget iaculis dolor. Phasellus placerat quis diam non sodales. Donec fringilla blandit nisi, vel rhoncus metus posuere sed. Praesent commodo id orci vel hendrerit. Curabitur in luctus neque. Suspendisse fermentum lorem eu egestas venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies ultricies ligula quis mattis. Integer a arcu nulla. Etiam ut diam sed ligula facilisis auctor sit amet nec felis. Duis interdum urna at nisi condimentum lobortis. Cras quis mauris sollicitudin, aliquam massa sit amet, facilisis neque. Sed sagittis fringilla massa, euismod vehicula metus bibendum eget. Morbi eu felis neque.</p>

                      <p>Pellentesque faucibus velit metus, et euismod dolor dapibus ac. In sodales, diam at malesuada tristique, ligula orci convallis felis, ut pretium purus lectus non nulla. Maecenas id nisi id orci cursus rhoncus vitae in erat. Morbi porta pellentesque tellus, at porttitor lacus suscipit quis. Sed consequat sapien sed leo molestie, sit amet aliquet massa rhoncus. Nulla suscipit dui ac elementum tempor. Phasellus a suscipit justo. Morbi lobortis aliquam lorem, at consequat nisl vulputate nec. Maecenas tempus aliquet fringilla. Sed fermentum rhoncus ipsum ac lobortis. Curabitur fermentum mattis dolor, eget consequat libero. Nunc sit amet cursus nulla.</p>

                      <p>Curabitur et lacus sed tellus commodo iaculis. Sed risus nisi, mattis gravida efficitur eget, tristique vel elit. Ut porta, velit quis sodales tincidunt, ex nisl malesuada justo, in tristique neque est ac ligula. Nulla volutpat feugiat auctor. Sed non nulla sit amet libero laoreet pharetra. Ut gravida neque sit amet sodales sollicitudin. Curabitur aliquet et felis vel blandit. Cras pulvinar risus ut lorem congue, mattis condimentum turpis interdum. Nam ut metus quis tortor tempus posuere. Aenean scelerisque massa malesuada tempus rhoncus. Nullam euismod ornare lacus sed semper. Morbi ornare quam quis ligula venenatis, id rhoncus odio ultricies.</p>

                      <p>Sed quis venenatis urna, sit amet luctus leo. Sed ac risus eros. Aliquam blandit finibus lacinia. Pellentesque purus neque, tincidunt at orci at, semper semper erat. Donec faucibus felis tempus arcu efficitur, quis vehicula nisl dictum. Suspendisse malesuada consequat nulla sit amet sollicitudin. Nam rutrum, nibh vitae porttitor dignissim, enim ex imperdiet quam, sit amet convallis mauris libero in neque. Donec efficitur, ante et feugiat mollis, mi erat finibus nunc, non posuere justo ipsum rutrum eros. Fusce blandit cursus sapien, eu faucibus massa. Etiam pulvinar velit leo, nec imperdiet quam egestas eget.</p>

                      <p>Etiam ullamcorper, massa ut aliquet pellentesque, ligula nisi eleifend metus, sed accumsan eros tellus et lorem. Nullam id massa faucibus, molestie sapien tempus, semper felis. Morbi urna diam, pharetra at lorem sit amet, ultricies pretium felis. Sed consectetur ornare convallis. Ut at accumsan risus. Curabitur facilisis in tortor vel cursus. Integer erat lorem, consectetur nec convallis et, malesuada nec lorem. Nulla eget sem eget sapien fringilla feugiat ac at tortor. Suspendisse metus nisi, auctor ut auctor id, scelerisque tempus dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent a imperdiet ex. Praesent eu vestibulum est, vitae fermentum lectus. Curabitur aliquet in eros at laoreet. In varius fringilla malesuada.</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique, risus eu commodo facilisis, nisi eros congue enim, ultrices accumsan felis urna sed urna. Sed a sagittis ante, eget iaculis dolor. Phasellus placerat quis diam non sodales. Donec fringilla blandit nisi, vel rhoncus metus posuere sed. Praesent commodo id orci vel hendrerit. Curabitur in luctus neque. Suspendisse fermentum lorem eu egestas venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies ultricies ligula quis mattis. Integer a arcu nulla. Etiam ut diam sed ligula facilisis auctor sit amet nec felis. Duis interdum urna at nisi condimentum lobortis. Cras quis mauris sollicitudin, aliquam massa sit amet, facilisis neque. Sed sagittis fringilla massa, euismod vehicula metus bibendum eget. Morbi eu felis neque.</p>

                      <p>Pellentesque faucibus velit metus, et euismod dolor dapibus ac. In sodales, diam at malesuada tristique, ligula orci convallis felis, ut pretium purus lectus non nulla. Maecenas id nisi id orci cursus rhoncus vitae in erat. Morbi porta pellentesque tellus, at porttitor lacus suscipit quis. Sed consequat sapien sed leo molestie, sit amet aliquet massa rhoncus. Nulla suscipit dui ac elementum tempor. Phasellus a suscipit justo. Morbi lobortis aliquam lorem, at consequat nisl vulputate nec. Maecenas tempus aliquet fringilla. Sed fermentum rhoncus ipsum ac lobortis. Curabitur fermentum mattis dolor, eget consequat libero. Nunc sit amet cursus nulla.</p>

                      <p>Curabitur et lacus sed tellus commodo iaculis. Sed risus nisi, mattis gravida efficitur eget, tristique vel elit. Ut porta, velit quis sodales tincidunt, ex nisl malesuada justo, in tristique neque est ac ligula. Nulla volutpat feugiat auctor. Sed non nulla sit amet libero laoreet pharetra. Ut gravida neque sit amet sodales sollicitudin. Curabitur aliquet et felis vel blandit. Cras pulvinar risus ut lorem congue, mattis condimentum turpis interdum. Nam ut metus quis tortor tempus posuere. Aenean scelerisque massa malesuada tempus rhoncus. Nullam euismod ornare lacus sed semper. Morbi ornare quam quis ligula venenatis, id rhoncus odio ultricies.</p>

                      <p>Sed quis venenatis urna, sit amet luctus leo. Sed ac risus eros. Aliquam blandit finibus lacinia. Pellentesque purus neque, tincidunt at orci at, semper semper erat. Donec faucibus felis tempus arcu efficitur, quis vehicula nisl dictum. Suspendisse malesuada consequat nulla sit amet sollicitudin. Nam rutrum, nibh vitae porttitor dignissim, enim ex imperdiet quam, sit amet convallis mauris libero in neque. Donec efficitur, ante et feugiat mollis, mi erat finibus nunc, non posuere justo ipsum rutrum eros. Fusce blandit cursus sapien, eu faucibus massa. Etiam pulvinar velit leo, nec imperdiet quam egestas eget.</p>

                      <p>Etiam ullamcorper, massa ut aliquet pellentesque, ligula nisi eleifend metus, sed accumsan eros tellus et lorem. Nullam id massa faucibus, molestie sapien tempus, semper felis. Morbi urna diam, pharetra at lorem sit amet, ultricies pretium felis. Sed consectetur ornare convallis. Ut at accumsan risus. Curabitur facilisis in tortor vel cursus. Integer erat lorem, consectetur nec convallis et, malesuada nec lorem. Nulla eget sem eget sapien fringilla feugiat ac at tortor. Suspendisse metus nisi, auctor ut auctor id, scelerisque tempus dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent a imperdiet ex. Praesent eu vestibulum est, vitae fermentum lectus. Curabitur aliquet in eros at laoreet. In varius fringilla malesuada.</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique, risus eu commodo facilisis, nisi eros congue enim, ultrices accumsan felis urna sed urna. Sed a sagittis ante, eget iaculis dolor. Phasellus placerat quis diam non sodales. Donec fringilla blandit nisi, vel rhoncus metus posuere sed. Praesent commodo id orci vel hendrerit. Curabitur in luctus neque. Suspendisse fermentum lorem eu egestas venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies ultricies ligula quis mattis. Integer a arcu nulla. Etiam ut diam sed ligula facilisis auctor sit amet nec felis. Duis interdum urna at nisi condimentum lobortis. Cras quis mauris sollicitudin, aliquam massa sit amet, facilisis neque. Sed sagittis fringilla massa, euismod vehicula metus bibendum eget. Morbi eu felis neque.</p>

                      <p>Pellentesque faucibus velit metus, et euismod dolor dapibus ac. In sodales, diam at malesuada tristique, ligula orci convallis felis, ut pretium purus lectus non nulla. Maecenas id nisi id orci cursus rhoncus vitae in erat. Morbi porta pellentesque tellus, at porttitor lacus suscipit quis. Sed consequat sapien sed leo molestie, sit amet aliquet massa rhoncus. Nulla suscipit dui ac elementum tempor. Phasellus a suscipit justo. Morbi lobortis aliquam lorem, at consequat nisl vulputate nec. Maecenas tempus aliquet fringilla. Sed fermentum rhoncus ipsum ac lobortis. Curabitur fermentum mattis dolor, eget consequat libero. Nunc sit amet cursus nulla.</p>

                      <p>Curabitur et lacus sed tellus commodo iaculis. Sed risus nisi, mattis gravida efficitur eget, tristique vel elit. Ut porta, velit quis sodales tincidunt, ex nisl malesuada justo, in tristique neque est ac ligula. Nulla volutpat feugiat auctor. Sed non nulla sit amet libero laoreet pharetra. Ut gravida neque sit amet sodales sollicitudin. Curabitur aliquet et felis vel blandit. Cras pulvinar risus ut lorem congue, mattis condimentum turpis interdum. Nam ut metus quis tortor tempus posuere. Aenean scelerisque massa malesuada tempus rhoncus. Nullam euismod ornare lacus sed semper. Morbi ornare quam quis ligula venenatis, id rhoncus odio ultricies.</p>

                      <p>Sed quis venenatis urna, sit amet luctus leo. Sed ac risus eros. Aliquam blandit finibus lacinia. Pellentesque purus neque, tincidunt at orci at, semper semper erat. Donec faucibus felis tempus arcu efficitur, quis vehicula nisl dictum. Suspendisse malesuada consequat nulla sit amet sollicitudin. Nam rutrum, nibh vitae porttitor dignissim, enim ex imperdiet quam, sit amet convallis mauris libero in neque. Donec efficitur, ante et feugiat mollis, mi erat finibus nunc, non posuere justo ipsum rutrum eros. Fusce blandit cursus sapien, eu faucibus massa. Etiam pulvinar velit leo, nec imperdiet quam egestas eget.</p>

                      <p>Etiam ullamcorper, massa ut aliquet pellentesque, ligula nisi eleifend metus, sed accumsan eros tellus et lorem. Nullam id massa faucibus, molestie sapien tempus, semper felis. Morbi urna diam, pharetra at lorem sit amet, ultricies pretium felis. Sed consectetur ornare convallis. Ut at accumsan risus. Curabitur facilisis in tortor vel cursus. Integer erat lorem, consectetur nec convallis et, malesuada nec lorem. Nulla eget sem eget sapien fringilla feugiat ac at tortor. Suspendisse metus nisi, auctor ut auctor id, scelerisque tempus dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent a imperdiet ex. Praesent eu vestibulum est, vitae fermentum lectus. Curabitur aliquet in eros at laoreet. In varius fringilla malesuada.</p>

                    <footer>
                      <a href="#" class="closebtn">×</a>
                    </footer>

                  </div>
                </div>
              </div>
            </div>






            <p>Kontroller at informasjonen i stegene over er korrekt før du går videre.</p>

            <div style="">
              <div class="row">
                <label class="klp-font--bold">

                  <a href="#vilkar" class="link">
                    <i class="klp-icon klp-icon--inline klp-iconsize--base klp-fonticon klp-fonticon--info-circle"></i>
                    <span>Se vilkårene</span>
                  </a>

                  <br><br>

                  <input name="vilkar" type="checkbox" value="Aksepterer">
                  Jeg aksepterer vilkårene og er kjent med at fondet nøkkelinformasjon og prospekt er tilgjengelig på klp.no.
                </label>
              </div>
            </div>

            {% include "shared/form-buttons.html" %}


          </div>

          <br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            6. Avtalegiro
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            7. Kvittering
          </div><br>
          
        </div>
        <div>

          <div class="order__summary">

            {% include "shared/order-summary.html" %}

          </div> <!-- order__summary / -->
        
        </div>
        
      </div>
    </div>
  </div>
     
  <style>
  .stick-on-scroll {
    position: fixed;
    top: 1em;
    width: inherit;
  }
  </style>

  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>

  <script>

    $(window).scroll(function() {    
      var scroll = $(window).scrollTop();

      if (scroll >= 112) {
        $(".order__summary").addClass("stick-on-scroll");
      }
      else {
        $(".order__summary").removeClass("stick-on-scroll");
      }
    });

  </script>


{% endblock %}
