{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

{% set next = "personopplysninger.html#personopplysninger" %}

  <br>

  <div class="section">

    {% include "shared/form-top.html" %}
  
    <div class="container">

      <div class="composition--alpa">
        <div>

          <a href="bestilling-velgfond.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">1. Velg fond og beløp</span>

              <br><br>

              <strong>Fond:</strong> KLP AksjeEuropa Indeks II<br>
              <strong>Fond:</strong> KLP AksjeGlobal Indeks I

            </div>
          </a><br>

          <div id="identifisering" style="background: #fafafa; padding: .5em 2em;">

            <div class="composition--gamma">

              <h1 class="klp-fontsize--xlarge">2. Identifisering</h1>

              <p class="ingress">For å opprette spareavtale må du identifiserer deg først. Du kan bruke Bank ID.</p>

              <div>
                <a class="link" style="background: #efefef; padding: 2em; display: block; margin-bottom: 1em;" class="klp-btn" href="#">Bank ID</a>
              </div>

              <div>
                <a class="link" style="background: #efefef; padding: 2em; display: block;" class="klp-btn" href="#">Bank ID på mobil</a>
              </div>

            </div>
      
            {% include "shared/form-buttons.html" %}


          </div>

          <br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            3. Personopplysninger
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            4. Betaling
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            5. Vilkår
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            6. Avtalegiro
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            7. Kvittering
          </div><br>

        </div>
        <div>


          <div class="order__summary">

            {% include "shared/order-summary.html" %}

          </div> <!-- order__summary / -->
        
        </div>
      </div>
    </div>
  </div>


    {% include "shared/form-footer.html" %}

<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

<script>

  $('.more__toggle').click(function(){
    $(this).next('.more').toggleClass('more__hide');
  });

  $( ".more__toggle" ).click(function() {
      if ( $(this).next('.more').hasClass( "more__hide" ) ) {
        $(this).removeClass('more--close');
      } else {
        $(this).addClass('more--close');
      }
  });

</script>

<style>
  .more--close:before {
    content: "Skjul informasjon om fondet";
    border-bottom: 1px solid #ddd;
  }
  .more--close .link--text {
    display: none;
  }


  .fund__element {
    margin: 0 0 .5em;
    display: block;
    overflow: hidden;
  }
</style>
   

{% endblock %}
