{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

{% set next = "bekreft.html#bekreft" %}

  <br>

  <div class="section section_pakker">
    <div class="container">

    {% include "shared/form-top.html" %}

      <div class="composition--alpa">
        <div>

          <a href="bestilling-gavesparing-velgfond.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">1. Velg fond og beløp</span>

              <br><br>

              <strong>Fond:</strong> KLP AksjeEuropa Indeks II<br>
              <strong>Fond:</strong> KLP AksjeGlobal Indeks I

            </div>
          </a><br>

          <a href="bestilling-gavesparing-identifisering.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">2. Identifisering</span>

              <br><br>

              <strong>Status:</strong> Identifisert

            </div>
          </a><br>


          <a href="bestilling-gavesparing-personopplysninger.html#personopplysninger" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">3. Personopplysninger: Giver</span>

              <br><br>

              <strong>Fødselsnummer:</strong> 123456 78912<br>
              <strong>Navn:</strong> Agathe Eufemia<br>
              <strong>Adresse:</strong> Gateveien 1, 1234 OSLO<br>
              <strong>E-postadresse:</strong> agathe@test.no<br>
              <strong>Mobilnummer:</strong> (+47) 987 65 432<br>

            </div>
          </a><br>

          <a href="bestilling-gavesparing-personopplysninger-mottaker.html#personopplysninger" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
            <div class="klp-gizmo__body">
              <span style="font-weight: 600;">4. Personopplysninger: Mottaker</span>

              <br><br>

              <strong>Fødselsnummer:</strong> 123456 78912<br>
              <strong>Navn:</strong> Agathe Eufemia<br>
              <strong>Adresse:</strong> Gateveien 1, 1234 OSLO<br>
              <strong>E-postadresse:</strong> agathe@test.no<br>
              <strong>Mobilnummer:</strong> (+47) 987 65 432<br>

            </div>
          </a><br>


          <div id="betaling" style="background: #fafafa; padding: 2em;">

            <h1 class="klp-fontsize--xlarge">5. Betaling</h1>

                <section class="bgcolor-6">
                  <span class="input input--juro">
                    <input class="input__field input__field--juro" type="number" id="belop_fast" />
                    <label class="input__label input__label--juro" for="input-28">
                      <span class="input__label-content input__label-content--juro">Når skal gaven gis?</span>
                    </label>
                  </span>

                </section>



            <h2 class="klp-font--bold klp-fontsize--medium">Engangsbeløp</h2>
            <span class="klp-font--bold">Hvilket kontonummer skal beløpet trekkes fra?</span><br>
            <span>Du vil som regel få neste virkedags kurs.</span>

            <br><br>

            <div class="row">
              <div class="row">

                <section class="bgcolor-6">
                  <span class="input input--juro">
                    <input class="input__field input__field--juro" type="number" id="belop_fast" />
                    <label class="input__label input__label--juro" for="input-28">
                      <span class="input__label-content input__label-content--juro">Kontonummer</span>
                    </label>
                  </span>

                  <a class="toggle-link" style="display: inline;">
                      <i style="margin: .7em 0 0 .4em;" class="klp-icon klp-icon--inline klp-iconsize--base klp-fonticon klp-fonticon--info-circle"></i>
                      <span></span>
                    </a>

                    <div class="toggle_hide">

                      <div class="toggle__wrap">

                        <div class="toggle__content">

                        <p class="info">Du som kjøper fondet må være eier av bankkontoen som oppgis her.</p>

                        </div>

                      </div>

                    </div>
                    

                </section>

              </div>



            <label class="toggle-label" style="margin-top: .7em; display: block;">
                <input name="engangsbelop" type="checkbox">
                <span></span>
                Jeg vil heller betale beløpet selv (f.eks. via nettbank)
            </label>

            <div class="toggle-label_hide">

              <div class="toggle__wrap">

                <div class="toggle__content info">

                  <p>Merk at sparingen din ikke vil bli aktivert før du betaler beløpet.</p>

                  <p>Dersom du ønsker dagens kurs, må du selv betale fra din nettbank til fondets bankkonto med ditt navn i meldingsfeltet. For å få dagens kurs må bestillingen være mottatt innen kl. 13:00 og betalingen må være på fondets bankkonto innen kl. 15:00. For KLP AksjeFremvoksende Markeder Indeks II får du kurs neste virkedag uansett.


                </div>

              </div>

            </div>



            </div>

            
            <br>



            <h2 class="klp-font--bold klp-fontsize--medium">Månedlig sparing</h2>
            <span>Den månedlige spareavtalen aktiveres først når du oppretter avtalegiro.</span><br><br>

            <div class="row">

                <section class="bgcolor-6">
                  <span class="input input--juro">
                    <input class="input__field input__field--juro" type="number" id="belop_fast" />
                    <label class="input__label input__label--juro" for="input-28">
                      <span class="input__label-content input__label-content--juro">Kontonummer</span>
                    </label>
                  </span>

                  <a class="toggle-link" style="display: inline;">
                      <i style="margin: .7em 0 0 .4em;" class="klp-icon klp-icon--inline klp-iconsize--base klp-fonticon klp-fonticon--info-circle"></i>
                      <span></span>
                    </a>

                    <div class="toggle_hide">

                      <div class="toggle__wrap">

                        <div class="toggle__content">

                        <p class="info">Vi trekker ikke sparebeløpet fra denne kontoen. Nummeret brukes kun for å registrere deg i våre systemer.</p>

                        </div>

                      </div>

                    </div>

                </section>


            </div>

            <div class="row" style="margin-top: .5em;">

                <section class="bgcolor-6">
                  <span class="input input--juro">
                    <input class="input__field input__field--juro" type="number" id="belop_fast" />
                    <label class="input__label input__label--juro" for="input-28">
                      <span class="input__label-content input__label-content--juro">Trekkdag i måneden (1-28)</span>
                    </label>
                  </span>
                </section>

            </div>

            <br>

            <h2 class="klp-font--bold klp-fontsize--medium">VPS-konto</h2>
            <p class="">Nye fondskunder får automatisk tildelt et VPS-kotonummer. Har du en VPS-konto hos oss fra før, blir denne brukt automatisk.</p>




            <a class="toggle-link" style="display: inline;">
              <i class="klp-icon klp-icon--inline klp-iconsize--base klp-fonticon klp-fonticon--info-circle"></i>
              <span>Hva er en VPS-konto?</span>
            </a>

            <div class="toggle_hide">

              <div class="toggle__wrap">

                <div class="toggle__content">

                <p class="info">Når du kjøper fond, må du ha en VPS-konto. Det er her fondene du eier registreres. En VPS-konto fungerer med andre ord ganske likt som å sette penger i en bankkonto.</p>

                </div>

              </div>

            </div>

            <br>

            <a class="toggle-link" style="display: inline;">
              <span>Se alternativer for VPS-konto</span>
            </a>

            <div class="toggle_hide">

              <div class="toggle__wrap">

                <div class="toggle__content">

                  <div class="row">
                    <label class="klp-radio-label">
                      <input name="vps" type="radio" checked>
                      <span></span>
                      Bruk eksisterende VPS-konto fra KLP eller opprett ny hvis jeg ikke har
                    </label>

                    <label class="klp-radio-label">
                      <input name="vps" type="radio">
                      <span></span>
                      Opprett en ny VPS-konto for denne bestillingen
                    </label>

                    <label class="klp-radio-label">
                      <input name="vps" type="radio">
                      <span></span>
                      Velg en av dine VPS-kontoer fra KLP eller annen bank
                    </label>
                  </div>


                </div>

              </div>

            </div>

            <!-- {% include "shared/form-buttons.html" %} -->

          </div>

          <br>
          
          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            6. Vilkår
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            7. Avtalegiro
          </div><br>

          <div style="background: #f8f8f8; color: #a9a9a9; padding: 2em;">
            8. Kvittering
          </div><br>


        </div>
        <div>



          <div class="order__summary">

            {% include "shared/order-summary.html" %}

          </div> <!-- order__summary / -->
        
        </div>


        
      </div>
    </div>
  </div>

   
<style>
.stick-on-scroll {
  position: fixed;
  top: 1em;
  width: inherit;
}
</style>

<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>





  <script>

  /*!
   * classie - class helper functions
   * from bonzo https://github.com/ded/bonzo
   * 
   * classie.has( elem, 'my-class' ) -> true/false
   * classie.add( elem, 'my-new-class' )
   * classie.remove( elem, 'my-unwanted-class' )
   * classie.toggle( elem, 'my-class' )
   */

  /*jshint browser: true, strict: true, undef: true */
  /*global define: false */

  ( function( window ) {

  'use strict';

  // class helper functions from bonzo https://github.com/ded/bonzo

  function classReg( className ) {
    return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
  }

  // classList support for class management
  // altho to be fair, the api sucks because it won't accept multiple classes at once
  var hasClass, addClass, removeClass;

  if ( 'classList' in document.documentElement ) {
    hasClass = function( elem, c ) {
      return elem.classList.contains( c );
    };
    addClass = function( elem, c ) {
      elem.classList.add( c );
    };
    removeClass = function( elem, c ) {
      elem.classList.remove( c );
    };
  }
  else {
    hasClass = function( elem, c ) {
      return classReg( c ).test( elem.className );
    };
    addClass = function( elem, c ) {
      if ( !hasClass( elem, c ) ) {
        elem.className = elem.className + ' ' + c;
      }
    };
    removeClass = function( elem, c ) {
      elem.className = elem.className.replace( classReg( c ), ' ' );
    };
  }

  function toggleClass( elem, c ) {
    var fn = hasClass( elem, c ) ? removeClass : addClass;
    fn( elem, c );
  }

  var classie = {
    // full names
    hasClass: hasClass,
    addClass: addClass,
    removeClass: removeClass,
    toggleClass: toggleClass,
    // short names
    has: hasClass,
    add: addClass,
    remove: removeClass,
    toggle: toggleClass
  };

  // transport
  if ( typeof define === 'function' && define.amd ) {
    // AMD
    define( classie );
  } else {
    // browser global
    window.classie = classie;
  }

  })( window );






  (function() {
    // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
    if (!String.prototype.trim) {
      (function() {
        // Make sure we trim BOM and NBSP
        var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
        String.prototype.trim = function() {
          return this.replace(rtrim, '');
        };
      })();
    }

    [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
      // in case the input is already filled..
      if( inputEl.value.trim() !== '' ) {
        classie.add( inputEl.parentNode, 'input--filled' );
      }

      // events:
      inputEl.addEventListener( 'focus', onInputFocus );
      inputEl.addEventListener( 'blur', onInputBlur );
    } );

    function onInputFocus( ev ) {
      classie.add( ev.target.parentNode, 'input--filled' );
    }

    function onInputBlur( ev ) {
      if( ev.target.value.trim() === '' ) {
        classie.remove( ev.target.parentNode, 'input--filled' );
      }
    }
  })();

</script>

<script>

  $(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 112) {
      $(".order__summary").addClass("stick-on-scroll");
    }
    else {
      $(".order__summary").removeClass("stick-on-scroll");
    }
  });






  $(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 112) {
      $(".order__summary").addClass("stick-on-scroll");
    }
    else {
      $(".order__summary").removeClass("stick-on-scroll");
    }
  });
</script>

  <p style="padding: 0 0 7em;"></p>


   

{% endblock %}
