{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}



<div style="position: absolute; top: 0; z-index: -1; height: 500px; overflow: hidden; width: 100%;">
 <img src="images/fondspakke-1.jpg" style="width: 100%; margin: auto; position: absolute; top: 12em; right: 0; bottom: 0; left: 0;">

  <div style="" class="site-top" style="z-index: 2;position: relative;">

    <div class="container--narrow">
            
      <a class="link link--back" href="liste-pakker.html">Fondspakker</a>
    </div>
  </div>

 </div>



  <div style="" class="site-top" style="z-index: 2;position: relative;">

    <div class="container--narrow">
      <a class="link link--back" href="liste-pakker.html">Fondspakker</a>
    </div>

    <div class="container--narrow" style="background: white; border: 1px solid #ddd; margin-top: 17em; padding: .5em 0em 2em;">

      <div style="padding: 0 3em;">
            
      
      <h1>KLP Ivaretatt Nær framtid</h1>


            <p style="max-width: 65ch;" class="ingress klp-font--light">Ivaretatt Nær framtid er fondspakken for deg som vil ta ut sparepengene dine om 5-10 år. Dette er en samling fond med lav svingningsgrad som er populære blant mange med samme sparehorisont som deg.</p>


            <div class="numbers composition--four">
                <div>
                    <label>Sparehorisont</label>
                    <span class="number">3–5 år</span>
                </div>
                <div>
                    <label>Andel rentefond</label>
                    <div class="number">80 %</div>
                </div>
                <div>
                    <label>Andel aksjefond</label>
                    <span class="number">20 %</span>
                </div>
                <div>
                    <label>Risiko</label>
                    <span class="number">Lav</span>
                </div>
            </div>

            <br>


            <a style="" class="klp-btn klp-btn--primary" href="bestilling-velgfond-ferdigvalgt-pakke.html">
              <span class="klp-btn__text">Start sparing</span>
            </a>


          



            <section>

                <div class="card__content">
                  <!-- <img class="map" src="images/teddy.svg" style="width: 150px; float: right;"> -->
                </div>

            </section>

      </div>


        </div>

      </div> <!-- alpa -->

    </div> <!-- container -->

  </div> <!-- site-top -->

  <br>

  <div class="section">
    <div class="container">

      <center><img style="max-width: 100%;" src="images/enkeltfond.png"></center>

    </div>
    
  </div>




<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js'></script>

{% endblock %}
