{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}



  <div class="site-top" style="background: #F0F6F6;">

    <div class="container--narrow">

      <div class="composition--alpa">

        <div>

            <a class="link link--back" href="alle-fond.html">Alle fond</a>
            
            <h1 class="klp-fontsize--xlarge">KLP AksjeNorge Indeks II</h1>

            <p style="max-width: 65ch;" class="klp-font--light">KLP AksjeNorge Indeks II er et indeksnært aksjefond. Fondet investerer i norske aksjer og tar sikte på å oppnå en avkastning tilnærmet lik hovedindeksen på Oslo Børs. Alle investeringer gjøres i samsvar med KLP-fondenes retningslinjer for ansvarlige investeringer.</p>




            <div class="numbers composition--four">
                <div>
                    <label>Sparehorisont</label>
                    <span class="number">3 – 5 år</span>
                </div>
                <div>
                    <label>Andel rentefond</label>
                    <div class="number">50 %</div>
                </div>
                <div>
                    <label>Andel aksjefond</label>
                    <span class="number">50 %</span>
                </div>
                <div>
                    <label>Risiko</label>
                    <span class="number">Middels</span>
                </div>
            </div>

            <br>


            <a style="" class="klp-btn klp-btn--primary" href="bestilling-velgfond-ferdigvalgt.html">
              <span class="klp-btn__text">Start sparing</span>
            </a>

        </div>

        <div>
                  
          <img style="margin-top: 5em; width: 300px;" class="map" src="images/map-2.png">


        </div>

      </div> <!-- alpa -->

    </div> <!-- container -->

  </div> <!-- site-top -->

  <br>

  <div class="section">
    <div class="container">

      <center><img style="max-width: 100%;" src="images/enkeltfond.png"></center>

    </div>
    
  </div>




<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js'></script>

{% endblock %}
