{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}



  <div class="site-top gavesparing1">

    <div class="container--narrow">
            
      <a class="link link--back" href="gavesparing.html">Gavesparing</a>
      
      <h1>KLP Ivaretatt Velkommen til verden</h1>

      <div class="composition--alpa">

        <div>

            <p style="max-width: 65ch;" class="ingress klp-font--light">Cras non est faucibus, commodo turpis vitae, vehicula eros. Sed at blandit sem, ac dapibus enim. Donec lacinia augue quis metus semper, non porttitor risus porttitor. Ut egestas purus nec purus gravida, at porttitor enim pretium. Nam eget felis eros. Praesent auctor, nunc sed posuere fringilla, libero erat rhoncus libero, quis consequat nunc nisl nec ex.</p>


            <div class="numbers composition--four">
                <div>
                    <label>Sparehorisont</label>
                    <span class="number">20+ år</span>
                </div>
                <div>
                    <label>Andel rentefond</label>
                    <div class="number">20 %</div>
                </div>
                <div>
                    <label>Andel aksjefond</label>
                    <span class="number">80 %</span>
                </div>
                <div>
                    <label>Risiko</label>
                    <span class="number">Høy</span>
                </div>
            </div>

            <br>


            <a style="" class="klp-btn klp-btn--primary" href="bestilling-velgfond-ferdigvalgt.html">
              <span class="klp-btn__text">Start sparing</span>
            </a>

        </div>

        <div>
          



            <section>

                <div class="card__content">
                  <img class="map" src="images/teddy.svg" style="width: 150px; float: right;">
                </div>

            </section>




        </div>

      </div> <!-- alpa -->

    </div> <!-- container -->

  </div> <!-- site-top -->

  <br>

  <div class="section">
    <div class="container">

      <center><img style="max-width: 100%;" src="images/enkeltfond.png"></center>

    </div>
    
  </div>




<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js'></script>

{% endblock %}
