{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}


  <div class="container">

    <div class="site-top">

      <a class="link link--back" href="/">Fond</a>
      
      <h1 class="klp-fontsize--xlarge">Gi fond i gave</h1>
    
    </div>


    <div class="composition--gamma" style="margin-top: -2.5em;">
      <div>

        <p class="ingress">Gi en smart og langsiktig sparegave til konfirmanten, barnebarnet eller noen du er glad i.</p>

        <h2>Enkelt å kjøpe – smart å få</h2>

        <ol>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

          <li>Nullam porta, augue pharetra efficitur commodo, odio est dignissim leo.</li>

          <li>Vestibulum dui erat, volutpat in accumsan eu, facilisis.</li>

          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

        </ol>

        <br>

        <a href="bestilling-velgfond.html" class="klp-btn klp-btn--primary">Start gavesparing</a>

        <br><br>

      </div>

      <div>
      </div>
      
    </div>

    </div>
  </div>

  <div class="section section_pakker section_pakker--horizonal"> <!-- pakker -->
    <div class="container">

      <h2>Hvem ønsker du å gi en fondsgave til?</h2>

      <div class="section section_pakker"> <!-- pakker -->
        <div class="">

          <a href="gavepakke_fullvisning.html" class="fund_pack fund_pack--gift klp-gizmo klp-gizmo--fill klp-gizmo--shadow"> <!-- pakke -->

            <div class="klp-gizmo__body">

              <div class="composition">

                <div>
                    <div class="image" style="position: relative; height: 317px; width: 100%;">
                      <img style="position: absolute; width: 70px; margin: auto; left: 0; right: 0; bottom: 0; top: 0;" src="images/teddy.svg">
                    </div>
                </div>

                <div>
                    
                  <h2>
                      Velkommen til verden
                  </h2>
            
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum lacinia felis a euismod. Nulla sed nibh eu neque condimentum pharetra vel a elit. Aenean et fermentum nisl. Mauris eget vestibulum massa, sed euismod ligula.</p>

                  <div class="numbers composition--four">
                      <div>
                          <label>Sparehorisont</label>
                          <span class="number">20+ år</span>
                      </div>
                      <div>
                          <label>Andel rentefond</label>
                          <div class="number">20 %</div>
                      </div>
                      <div>
                          <label>Andel aksjefond</label>
                          <span class="number">80 %</span>
                      </div>
                      <div>
                          <label>Risiko</label>
                          <span class="number">Høy</span>
                      </div>
                  </div>

                </div>

              </div>

            </div>

          </a> <!-- pakke -->

          <br>



          <a href="gavepakke_fullvisning.html" class="fund_pack fund_pack--gift klp-gizmo klp-gizmo--fill klp-gizmo--shadow"> <!-- pakke -->

            <div class="klp-gizmo__body">

              <div class="composition">

                <div>
                    <div class="image" style="position: relative; height: 317px; width: 100%;">
                      <img style="position: absolute; width: 80px; margin: auto; left: 0; right: 0; bottom: 0; top: 0;" src="images/pakke-kake.png">
                    </div>
                </div>

                <div>
                    
                  <h2>
                      Konfirmasjonsgave
                  </h2>
            
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum lacinia felis a euismod. Nulla sed nibh eu neque condimentum pharetra vel a elit. Aenean et fermentum nisl. Mauris eget vestibulum massa, sed euismod ligula.</p>

                  <div class="numbers composition--four">
                      <div>
                          <label>Sparehorisont</label>
                          <span class="number">20+ år</span>
                      </div>
                      <div>
                          <label>Andel rentefond</label>
                          <div class="number">20 %</div>
                      </div>
                      <div>
                          <label>Andel aksjefond</label>
                          <span class="number">80 %</span>
                      </div>
                      <div>
                          <label>Risiko</label>
                          <span class="number">Høy</span>
                      </div>
                  </div>

                </div>

              </div>

            </div>

          </a> <!-- pakke -->

          <br>



          <a href="gavepakke_fullvisning.html" class="fund_pack fund_pack--gift klp-gizmo klp-gizmo--fill klp-gizmo--shadow"> <!-- pakke -->

            <div class="klp-gizmo__body">

              <div class="composition">

                <div>
                    <div class="image" style="position: relative; height: 317px; width: 100%;">
                      <img style="position: absolute; width: 80px; margin: auto; left: 0; right: 0; bottom: 0; top: 0;" src="images/id.png">
                    </div>
                </div>

                <div>
                    
                  <h2>
                      18-årsgave
                  </h2>
            
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum lacinia felis a euismod. Nulla sed nibh eu neque condimentum pharetra vel a elit. Aenean et fermentum nisl. Mauris eget vestibulum massa, sed euismod ligula.</p>

                  <div class="numbers composition--four">
                      <div>
                          <label>Sparehorisont</label>
                          <span class="number">5–10 år</span>
                      </div>
                      <div>
                          <label>Andel rentefond</label>
                          <div class="number">50 %</div>
                      </div>
                      <div>
                          <label>Andel aksjefond</label>
                          <span class="number">50 %</span>
                      </div>
                      <div>
                          <label>Risiko</label>
                          <span class="number">Middels</span>
                      </div>
                  </div>

                </div>

              </div>

            </div>

          </a> <!-- pakke -->

          <br>




          <a href="gavepakke_fullvisning.html" class="fund_pack fund_pack--gift klp-gizmo klp-gizmo--fill klp-gizmo--shadow"> <!-- pakke -->

            <div class="klp-gizmo__body">

              <div class="composition">

                <div>
                    <div class="image" style="position: relative; height: 317px; width: 100%;">
                      <img style="position: absolute; width: 80px; margin: auto; left: 0; right: 0; bottom: 0; top: 0;" src="images/pakke-hjerte.png">
                    </div>
                </div>

                <div>
                    
                  <h2>
                      For alltid
                  </h2>
            
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum lacinia felis a euismod. Nulla sed nibh eu neque condimentum pharetra vel a elit. Aenean et fermentum nisl. Mauris eget vestibulum massa, sed euismod ligula.</p>

                  <div class="numbers composition--four">
                      <div>
                          <label>Sparehorisont</label>
                          <span class="number">5-10 år</span>
                      </div>
                      <div>
                          <label>Andel rentefond</label>
                          <div class="number">50 %</div>
                      </div>
                      <div>
                          <label>Andel aksjefond</label>
                          <span class="number">50 %</span>
                      </div>
                      <div>
                          <label>Risiko</label>
                          <span class="number">Middels</span>
                      </div>
                  </div>

                </div>

              </div>

            </div>

          </a> <!-- pakke -->

          <br>

      </div> <!-- pakker -->

    </div>

  </div>

  <br><br><br><br><br>

{% endblock %}
