
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KLP Fond • prototype</title>
    <link rel="stylesheet" href="stylesheets/app.css?v=04082016v3"">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    
  </head>
  <body>

    <div style="margin: 0 auto; text-align: center; border-bottom: 1px solid #ddd; overflow: hidden; height: 99px; background: url('images/klp-header-bg.jpg');">
        
      <div class="container">
        <a href="./">
          <img src="images/klp-header-left.jpg" style="float: left;">
          <img src="images/klp-header-right.jpg" style="float: right;">
        </a>
      </div>

    </div>

    <div class="intro">
      <div class="intro__imageWrap">
        <img class="intro__image" src="images/top-image.jpg">
      </div>

      <div class="intro__text">
        <div class="container">
          <h1>Fond for alle</h1>
          <p>Hos KLP kan alle spare i fond – også du som ikke er medlem. Vi
          har markedets laveste kostnader, og satser på selskaper som ivaretar
          miljø, etikk og menneskerettigheter. 
            <a class="link" href="#">Finn ut mer</a>
          </p>
        </div>
      </div>

    </div>

    <section class="section container frontpage-calculator">

      {% include "shared/calculator.html" %}

    </section>

    <br>

    {% include "shared/frontpage-menu.html" %}
    
    <br><br><br><br><br>


  <!-- fondspakker -->

  <section class="section section_pakker">
  
    <div class="container">

      <div class="site-top">

      </div>


        <div class="composition--alpa">
          <div>
            <img src="images/forside-video.png" style="width: 100%;">
          </div>
          <div>
            <h1>Hvordan er det å spare i fond?</h1>
          </div>
        </div>


    </div>

  </section>


  <br><br><br><br>


  <section class="section section_pakker">
  
    <div class="container">

      <h1>
          4 typer fond
      </h1>

      <div class="composition composition--gamma">

        <div class="card card__fund card__fund--index card__compressed">
          <a style="text-decoration: none; color: black;" href="learn.html">

            <div class="card__content">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>Indeksfond</h2>

              <p>Et indeksfond har som mål å gi avkastning tilsvarende utviklingen på en indeks, som for eksempel Oslo Børs sin hovedindeks. Indeksfond har betydelig lavere kostnader enn de aktive aksjefondene.</p>

            </div>

          </a>

        </div>


        <div class="card card__fund card__fund--rente card__compressed">

          <a style="text-decoration: none; color: black;" href="learn.html">

            <div class="card__content">
              <span class="symbol"><img src="images/graph-rente.svg"></span>
              
              <h2>Rentefond</h2>

              <p>Er en samlebetegnelse på pengemarkedsfond og obligasjonsfond der andelseiernes penger investeres i både kortsiktig og langsiktig rentepapirer. Rentefond har lave svingninger med tilhørende forventet avkastning.</p>

            </div>

          </a>

        </div>     
 

        <div class="card card__fund card__fund--aksje card__compressed">

          <a style="text-decoration: none; color: black;" href="learn.html">

            <div class="card__content">
              <span class="symbol"><img src="images/graph-aksje.svg"></span>
              
              <h2>Aksjefond</h2>

              <p>Et aksjefond er en sammensatt portefølje av aksjer, forvaltet av en fondsforvalter. Du kan forvente høyere avkastning, men også en høyere risiko.</p>
              
            </div>

          </a>

        </div>


        <div class="card card__fund card__fund--kombinasjons card__compressed">

          <a style="text-decoration: none; color: black;" href="learn.html">

            <div class="card__content">
              <span class="symbol"><img src="images/graph-index.svg"></span>
              
              <h2>Kombinasjonsfond</h2>

              <p>I et kombinasjonbsfond investerer du i både aksjer og i rentemarked, men man kan ikke ha mer enn 80 % av fondet plassert i aksjer.</p>

            </div>

          </a>

        </div>     

      </div>

      <a class="link" href="learn.html">Lær om fond</a>

      <br><br><br>

    </div>
  </section>

  <br><br>
  




  <!-- fondspakker -->

  <section class="section section_pakker">
  
    <div class="container">

      <div class="site-top">

        <h1>Fondspakker</h1>

        <p class="ingress">Skreddersydd for din sparehorisont.</p>

      </div>

      <div class="composition composition--beta">

      <div>

        <a href="fullvisning-pakke.html" class="fund_pack klp-gizmo klp-gizmo--shadow klp-gizmo--fill"> <!-- pakke -->

          <div class="klp-gizmo__body">

            <div>
              <img src="images/people-2.jpg">
            </div>

            <div class="paddingx">
                
              <h2>
                  Nær fremtid
              </h2>
        
              <p>For deg som vil spare i 3–5 år.</p>

            </div>

          </div>
        </a> <!-- pakke -->

      </div>

      <div>

        <a href="fullvisning-pakke.html" class="fund_pack klp-gizmo klp-gizmo--shadow klp-gizmo--fill"> <!-- pakke -->

          <div class="klp-gizmo__body">

              <div>
                <img src="images/people-1.jpg">
              </div>

              <div class="paddingx">
                  
                <h2>Om en stund</h2>
          
                <p>For deg som vil spare i 5–10 år.</p>

              </div>

          </div>
        </a> <!-- pakke -->

      </div>

      <div>
        <a href="fullvisning-pakke.html" class="fund_pack klp-gizmo klp-gizmo--shadow klp-gizmo--fill"> <!-- pakke -->

          <div class="klp-gizmo__body">

              <img src="images/people-3.jpg">

              <div class="paddingx">
                  
                <h2>For dagene som kommer</h2>
          
                <p>For deg som vil spare i over 20 år.</p>

              </div>

          </div>

        </a> <!-- pakke -->
      
      </div>

    </div>
    
    <p><a class="link" href="liste-pakker.html">Se alle fondspakker</a></p>
    
  </section> <!-- fondspakker -->

  <br><br><br><br>



  <div>

    <div class="container">

      <div>

        <h2 class="klp-font--base klp-fontsize--large">På Min Side kan du</h1>

        <!-- <p class="ingress">På Min Side kan du:</p> -->

        <div class="composition--four">

          <div style="padding-bottom: .2em;">
    
              <img style="height: 55px; vertical-align: middle; float: left; padding-right: 1em; " src="images/icon-money.png"> 
              <h2>Ta ut penger</h2>

          </div>               

          <div>

              <img style="height: 55px; vertical-align: middle; float: left; padding-right: 1em;" src="images/icon-settings.png">
              <h2>Endre eller bytte fond</h2>

          </div>
        
          <div style="padding-bottom: .2em;">

              <img style="height: 55px; vertical-align: middle; float: left; padding-right: 1em;" src="images/icon-graph.png">
              <h2>Følge utviklingen</h2>

          </div>

          <div style="padding-bottom: .2em;">

              <img style="height: 55px; vertical-align: middle; float: left; padding-right: 1em;" src="images/icon-chart.png">
              <h2>Få oversikt</h2>

          </div>

        </div>

        <br><a class="link" href="#">Logg inn på Min Side</a>

        <br><br>

      </div>

<!--       <div>

        <div>

          <h2 class="klp-font--base klp-fontsize--large">Nyttige linker</h2>
          <ul>
            <li><a href="#" class="link">Rapporter</a></li>
            <li><a href="#" class="link">Retningslinjer</a></li>
            <li><a href="#" class="link">Hellidagskalender</a></li>
            <li><a href="#" class="link">Ofte stilte spørsmål</a></li>
          </ul>

        </div>

      </div> -->

    </div>


  <br><br><br><br>














  <div style="padding: 4em 0; border-top: 1px solid #efefef; width: 100%; text-align: center;">
      Prototype project:<br>
      <a class="link" href="https://bitbucket.org/karisabine/klp-fond-proto">https://bitbucket.org/karisabine/klp-fond-proto</a>
  </div>

  </body>

</html>
