{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

    <div class="container">

      <div style="margin: 1em 0;">

        <a class="link link--back" href="./">Fond</a>

      </div>

    </div>

      <style>
        .horizonal-nav {
          background: #fafafa;
          clear: both;
          overflow: hidden;
          width: 100%;
          padding: 1em;
          position: absolute;
        }
        .horizonal-nav.horizonal-nav--sticky {
          position: fixed;
          z-index: 999999;
          top: 0;
        }
        .horizonal-nav ul {
          list-style: none;
        }
        .horizonal-nav li {
          float: left;
          margin-right: 4em;
        }
      </style>

      <div style="position: relative; padding: 0 0 3.5em;">

        <div class="horizonal-nav">

          <div class="container">

          <ul style="margin: 0; padding: 0; list-style: none;">
            <li><a class="link" href="#hva-er">Hva er et fond?</a></li>
            <li><a class="link" href="#hvordan-fungerer">Hvordan fungerer fond?</a></li>
            <li><a class="link" href="#hvordan-velge">Hvordan velge riktig fond?</a></li>
            <li><a class="link" href="#hvordan-starte">Hvordan starte fondssparing?</a></li>
          </ul>

          </div>

        </div>

      </div>




    <div class="topimage" style="overflow: hidden; position: relative; background: url(images/people-02.jpg) center center; background-size: cover;" >
    </div>

    <div class="container">

    <div class="container--article">

        <h1>Lær om fondssparing</h1>

        <h2 class="klp-fontsize--large" id="hva-er">Hva er et fond?</h2>

        <p class="ingress">Et fond er en form for kollektiv investering. Enkelt forklart blir du en slags investor som har en eierandel i det fondet du velger å spare i. Fordelen med dette er at fondsinvestorene kjøpe et bredere utvalg aksjer eller obligasjoner enn de kunne hvis de prøvde å kjøpe aksjene eller obligasjonene på egenhånd. Dessuten er det vi i KLP som er ansvarlige for å forvalte dette fondet og dets portefølje, så alt du trenger å gjøre er å starte sparingen.</p>

        <h2 style="padding: 1.5em 0 0;" class="klp-fontsize--large" id="hva-er">Det finnes tre ulike typer fond</h2>

        <h3 class="klp-fontsize--medium klp-font--semibold">Aksjefond</h3>
        <p>Et aksjefond er et fond som plasserer minst 80 % av pengene i aksjer. Aksjefond har den høyeste risikoen av de tre fondstypene, men også den høyeste avkastningen. Aksjefond kan enten forvaltes som et såkalt aktivt fond, eller som et indeksfond. Når man investerer i aktive aksjefond, så er det en forvalter som aktivt ser på utviklingen i markedene og prøver å sette pengene der han/hun tror det vil gi mest avkastning. I et indeksfond derimot, følger investeringen indeksen i sitt marked. Hvis man investerer i et norsk fond f.eks., følger man indeksen til Oslo Børs. Fordi dette ikke krever jobb fra en aktiv forvalter, koster det mye mindre å investere i indeksfondet.</p>

        <h3 class="klp-fontsize--medium klp-font--semibold">Rentefond</h3>
        <p>Et rentefond er et fond som plasserer 100 % i rentebærende verdipapir som f.eks. obligasjoner og statsobligasjoner. Rentefond har typisk en lavere risiko og avkastning enn aksjefond.</p>

        <h3 class="klp-fontsize--medium klp-font--semibold">Kombinasjonsfond</h3>
        <p>Et kombinasjonsfond er et fond som investerer i både aksjer og rentebærende verdipapir. Fordelingen av midlene kan variere for hvert enkelt fond.</p>



        <br>
      </div>
    </div>



      <div style="background: #fafafa">

        <div class="container">

        <div class="container--article">
          <h2 style="padding: 1.5em 0 0;" class="klp-fontsize--large" id="hvordan-fungerer">Hvordan fungerer fond?</h2>

          <img src="images/infografikk.svg">

        </div>

      </div>
      </div>


  <div class="container">
    <div class="container--article">

        <h2 style="padding: 1.5em 0 0;" class="klp-fontsize--large" id="hvordan-velge">Hvordan velge riktig fond?</h2>

        <h3 class="klp-fontsize--medium klp-font--semibold">1. Hvor lenge har du tenkt å spare?</h3>
        <p>Sparehorisonten din er viktig, fordi det generelt sies at man kan tillate seg litt større svingninger i utviklingen (ofte kalt risiko), dersom man skal spare lenge. Husk at jo større risiko du tar, jo større avkastning vil du også antagelig få. Hvis du har kort sparehorisont kan det lønne seg å velge rentefond, eller eventuelt kombinasjonsfond som har mindre svingninger. Aksjefondene egner seg best dersom du skal spare litt lengre (mer enn 5 år).</p>




        <h3 class="klp-fontsize--medium klp-font--semibold">2. Trenger du pengene på et helt bestemt tidspunkt?</h3>
        <p>Dersom du vet helt sikkert at du trenger sparepengene dine om f.eks. 3 år, kan det være lurt å velge et rentefond med litt mindre svingninger. Med aksjefond får du som sagt større avkastning, men du kan samtidig risikere at fondet er midt inne i en negativ utvikling akkurat idet du trenger pengene. Hvis du har mulighet til å vente med å ta ut disse pengene til verdien stiger igjen, er det ikke noe problem. Men dersom du må ha pengene på et bestemt tidspunkt, kan det være fint å unngå for store svingninger.</p>




        <h3 class="klp-fontsize--medium klp-font--semibold">3. Er det noen spesielle deler av verdien eller sektorer du ønsker å investere i?</h3>

        <p>Ved å lese mer om <a class="link" href="alle-fond.html">alle fondene våre</a> kan du kikke nærmere på hvilke deler av verden disse er investert i. Kanskje har du lyst til å investere bare i Norge? Eller i hele verden? Du kan også se hvilke selskaper og sektorer fondet er investert i. Kanskje har du mest tro på finanssektoren? Energi, telekom eller helse?</p>

        <p>Ved å se på <a href="#" class="link">detaljene om hvert enkelt fond</a> kan du også se hva slags avkastning dette fondet har hatt de siste årene, og du kan se helt konkret hvordan dette fondet er fordelt mellom aksjer og renter.</p>



        <br>


        <div class="info" style="max-width: 100ch;" >
          <p>Synes du fortsatt det er vanskelig å velge? Da kan du ta en titt på <a class="link" href="liste-pakker.html">våre fondspakker</a>. Disse er laget for å gjøre det enkelt å finne det som passer for deg!</p>
        </div>





        <h2 style="padding: 1.5em 0 0;" class="klp-fontsize--large" id="hvordan-starte">Hvordan starte fondssparing?</h2>

        <p><strong>1.</strong> Finn ut hvilket fond som passer for deg. Dette kan du gjøre ved å se på <a href="alle-fond.html" class="link">oversikten over alle våre fond</a>, eller du kan velge en av <a class="link" href="liste-pakker.html">våre fondspakker</a>. Disse fondspakkene er laget for å gjøre det enklere for deg å velge, og her har vi valgt ut noen av de mest populære fondene som passer den sparehorisonten du ønsker.</p>

        <p><strong>2.</strong> Start prosessen med å spare i fond. Her velger du hvor mye du vil spare, og hvorvindt du ønsker å investere et engangsbeløp eller et fast månedlig beløp. Du kan også gjøre begge deler.</p>

        <p><strong>3.</strong> Du må identifisere deg underveis i spareprosessen, så pass på at du har det du trenger klart for identifisering.</p>

        <p><strong>4.</strong> Spareavtalen aktiveres. Som fondskunde i KLP kan du gå inn på Min Side for å se fondets utvikling. Vi sender deg også en månedlig rapport på e-post, sånn at du kan følge med på hvordan det går med sparepengene dine. Du kan også enkelt avslutte spareavtalen din, ved å selge fondsandelene dine. Dette gjør du også på Min Side.</p>


        <br>

        <a class="klp-btn klp-btn--primary" href="bestilling-velgfond.html"><span class="klp-btn__text">Start fondssparing</span></a>


        <br>



    </div>
    </div>




    {% include "shared/more-links.html" %}

    {% include "shared/feedback.html" %}

    <br>
    <br>
    <br>





<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js'></script>


<script>


$(document).ready(function(){
  
   $(window).bind('scroll', function() {
     if ($(window).scrollTop() > 155) {
       $('.horizonal-nav').addClass('horizonal-nav--sticky');
     }
     else {
       $('.horizonal-nav').removeClass('horizonal-nav--sticky');
     }
    });
});



$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top - 70
        }, 1000);
        return false;
      }
    }
  });
});
</script>



{% endblock %}
