{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}


  <div class="container">

    <div class="site-top">

      <a class="link link--back" href="/">Fond</a>
      
      <h1>Fondspakker</h1>

      <p class="ingress">Start sparing i en ferdig fondsspakke, så slipper du å velge enkeltfond. Her er våre anbefalinger til deg.</p>

    </div>

  </div>



  <div class="section section_pakker--horizonal"> <!-- pakker -->
    <div class="container">

      <a href="fullvisning-pakke.html" class="fund_pack klp-gizmo klp-gizmo--fill klp-gizmo--shadow"> <!-- pakke -->

        <div class="klp-gizmo__body">

          <div class="composition">

            <div>
              <img src="images/people-2.jpg">
            </div>

            <div>
                
              <h2>
                  Nær fremtid
              </h2>
        
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum lacinia felis a euismod. Nulla sed nibh eu neque condimentum pharetra vel a elit. Aenean et fermentum nisl. Mauris eget vestibulum massa, sed euismod ligula.</p>

              <div class="numbers composition--four">
                  <div>
                      <label>Sparehorisont</label>
                      <span class="number">3 – 5 år</span>
                  </div>
                  <div>
                      <label>Andel rentefond</label>
                      <div class="number">50 %</div>
                  </div>
                  <div>
                      <label>Andel aksjefond</label>
                      <span class="number">50 %</span>
                  </div>
                  <div>
                      <label>Risiko</label>
                      <span class="number">Moderat</span>
                  </div>
              </div>

            </div>

          </div>

        </div>

      </a> <!-- pakke -->

      <br>

      <a href="fullvisning-pakke.html" class="fund_pack klp-gizmo klp-gizmo--fill klp-gizmo--shadow"> <!-- pakke -->

        <div class="klp-gizmo__body">

          <div class="composition">

            <div>
              <img src="images/people-1.jpg">
            </div>

            <div>
                
              <h2>
                  Nær fremtid
              </h2>
        
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum lacinia felis a euismod. Nulla sed nibh eu neque condimentum pharetra vel a elit. Aenean et fermentum nisl. Mauris eget vestibulum massa, sed euismod ligula.</p>

              <div class="numbers composition--four">
                  <div>
                      <label>Sparehorisont</label>
                      <span class="number">3 – 5 år</span>
                  </div>
                  <div>
                      <label>Andel rentefond</label>
                      <div class="number">50 %</div>
                  </div>
                  <div>
                      <label>Andel aksjefond</label>
                      <span class="number">50 %</span>
                  </div>
                  <div>
                      <label>Risiko</label>
                      <span class="number">Moderat</span>
                  </div>
              </div>

            </div>

          </div>

        </div>

      </a> <!-- pakke -->

      <br>

      <a href="fullvisning-pakke.html" class="fund_pack klp-gizmo klp-gizmo--fill klp-gizmo--shadow"> <!-- pakke -->

        <div class="klp-gizmo__body">

          <div class="composition">

            <div>
              <img src="images/people-3.jpg">
            </div>

            <div>
                
              <h2>
                  Nær fremtid
              </h2>
        
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum lacinia felis a euismod. Nulla sed nibh eu neque condimentum pharetra vel a elit. Aenean et fermentum nisl. Mauris eget vestibulum massa, sed euismod ligula.</p>

              <div class="numbers composition--four">
                  <div>
                      <label>Sparehorisont</label>
                      <span class="number">3 – 5 år</span>
                  </div>
                  <div>
                      <label>Andel rentefond</label>
                      <div class="number">50 %</div>
                  </div>
                  <div>
                      <label>Andel aksjefond</label>
                      <span class="number">50 %</span>
                  </div>
                  <div>
                      <label>Risiko</label>
                      <span class="number">Moderat</span>
                  </div>
              </div>

            </div>

          </div>

        </div>

      </a> <!-- pakke -->

    </div>
    
  </div> <!-- pakker -->

<br><br><br><br>

{% endblock %}
