{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}


    <div class="container">

      <div style="margin: 1em 0;">

        <a class="link link--back" href="./">Fond</a>

      </div>

    </div>

    <div class="topimage" style="overflow: hidden; position: relative; background: url(images/flowers.jpg) 50% 60%; background-size: cover;" >
    </div>

    <div class="container">

    <div class="container--article">

        <h1>Slik investerer vi pengene</h1>


        <div style="background: #f5f6f1; padding: 1em 1.5em; margin: 0 -17em 2em 2em; width: 50%; float: right;">
          <h2 class="klp-fontsize--large">Visste du at ...</h2>
          <p>KLP når opp blant verdens 20 beste i den årlige undersøkelsen om hvordan kapitaleiere bidrar til det nødvendige klimaskiftet.</p>
          <p><a href="#" class="link">Se hele undersøkelsen</a></p>
        </div>

        <p class="ingress">De pengene du velger å investerer, behandler vi på akkurat samme måte som vi behandler de mange milliardene vi forvalter på vegne av våre medlemmer og deres pensjon. For oss er det utrolig viktig å forvalte disse pengene på en god måte.</p>


        <p>Vi gjør alt vi kan for å påvirke selskaper vi investerer i – slik at vi kan bidra til en bærekraftig utvikling. Dette betyr at vi velger å investere i selskaper og sektorer der etikk, miljø og samfunnsansvar står sentralt. Vi investerer også mye i fornybar energi og utviklingsland.</p>

        <br>

        <h2 class="klp-fontsize--large" id="hvordan-starte">Et bidrag til fornybar energi og det grønne skiftet</h2>

        <p>KLP fokuserer på to sektorer: finans og energi. Målsettingen knyttet til å investerer i finanssektoren i utviklingsland er å bidra til å redusere fattigdom gjennom å gi tilgang til viktig infrastruktur og vekstimpulser i lokalsamfunnene. Målsettingen med å investere i fornybar energi i utviklingsland er å bidra til økt produksjon av fornybar energi, det grønne skiftet og til verdens felles togradersmål.</p>

        <p>I 2014 besluttet KLP å øke investeringene i ny kapasitet i fornybar energi med en halv milliard kroner. Samtidig besluttet vi å trekke oss ut av kullgrulevelskaper og kraftselskaper som har en vesentlig del av sine inntekter fra kull.</p>

        <p>Å selge KLPs aksjene i kullselskaper kan gi et incitament for selskaper til å utvikle sin virksomhet mot fornybar energi. Vi håper også at det kan være en støtteerklæring til politikere og andre beslutningstagere frem mot nye klimaforhandlinger og nasjonale tiltak.</p>
        
        <br>

        <img src="images/jeanett-video.png" style="max-width: 100%;">

        <br>
        <br>
        <br>



    </div>
    </div>

    {% include "shared/more-links.html" %}

    {% include "shared/feedback.html" %}

    <br>
    <br>
    <br>

{% endblock %}
