{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

  <div class="container">

    <div class="site-top">

      <a class="link link--back" href="alle-fond.html">Alle fond</a>
      
      <h1>Sammenlign fond</h1>

    </div>

  </div>


  <div class="container">

    <table class="stickyTableHeader">
      <thead>
        <tr>
          <td class="blank"> </td>

          <th>KLP AksjeNorge Indeks II</th>
          <th>KLP Kombinasjon</th>
          <th>KLP Kombinasjon</th>
        </tr>
      </thead>
      <tr>
        <td class="rowTitle">Morningstar Rating</td>    

        <td>1</td>
        <td>3</td>
        <td>4</td>

      </tr>
      <tr>
        <td class="rowTitle">Morningstar Kategori</td>    

          <td>Norge</td>
          <td>Kombinasjonsfond</td>
          <td>Norge</td>
      </tr>
      <tr>
        <td class="rowTitle">Referanseindeks</td>    

        <td>OSBEX</td>
        <td>Kombinasjonsindeks</td>
        <td>Kombinasjonsindeks</td>
      </tr>

      <tr>
        <td class="rowTitle">Fondets startdato</td>    

        <td>5 sep 08</td>
        <td>21 mar 11</td>
        <td>-</td>
      </tr>

      <tr>
        <td class="rowTitle">ISIN</td>    

        <td>NO0010455694</td>
        <td>NO0010455694</td>
        <td>-</td>
      </tr>


      <tr>
        <td class="rowTitle">NAV</td>    

        <td>NOK 1 637,80 (1 jun 16)</td>
        <td>NOK 1 403,00 (1 jun 16)</td>
        <td>-</td>
      </tr>

      <tr>
        <td class="rowTitle">12 måneders Yield</td>    

        <td>0,00</td>
        <td>0,00</td>
        <td>-</td>
      </tr>


























      <tr>
        <td class="rowTitle">Morningstar Rating</td>    

        <td>1</td>
        <td>3</td>
        <td>4</td>

      </tr>
      <tr>
        <td class="rowTitle">Morningstar Kategori</td>    

          <td>Norge</td>
          <td>Kombinasjonsfond</td>
          <td>Norge</td>
      </tr>
      <tr>
        <td class="rowTitle">Referanseindeks</td>    

        <td>OSBEX</td>
        <td>Kombinasjonsindeks</td>
        <td>Kombinasjonsindeks</td>
      </tr>

      <tr>
        <td class="rowTitle">Fondets startdato</td>    

        <td>5 sep 08</td>
        <td>21 mar 11</td>
        <td>-</td>
      </tr>

      <tr>
        <td class="rowTitle">ISIN</td>    

        <td>NO0010455694</td>
        <td>NO0010455694</td>
        <td>-</td>
      </tr>


      <tr>
        <td class="rowTitle">NAV</td>    

        <td>NOK 1 637,80 (1 jun 16)</td>
        <td>NOK 1 403,00 (1 jun 16)</td>
        <td>-</td>
      </tr>

      <tr>
        <td class="rowTitle">12 måneders Yield</td>    

        <td>0,00</td>
        <td>0,00</td>
        <td>-</td>
      </tr>


























      <tr>
        <td class="rowTitle">Morningstar Rating</td>    

        <td>1</td>
        <td>3</td>
        <td>4</td>

      </tr>
      <tr>
        <td class="rowTitle">Morningstar Kategori</td>    

          <td>Norge</td>
          <td>Kombinasjonsfond</td>
          <td>Norge</td>
      </tr>
      <tr>
        <td class="rowTitle">Referanseindeks</td>    

        <td>OSBEX</td>
        <td>Kombinasjonsindeks</td>
        <td>Kombinasjonsindeks</td>
      </tr>

      <tr>
        <td class="rowTitle">Fondets startdato</td>    

        <td>5 sep 08</td>
        <td>21 mar 11</td>
        <td>-</td>
      </tr>

      <tr>
        <td class="rowTitle">ISIN</td>    

        <td>NO0010455694</td>
        <td>NO0010455694</td>
        <td>-</td>
      </tr>


      <tr>
        <td class="rowTitle">NAV</td>    

        <td>NOK 1 637,80 (1 jun 16)</td>
        <td>NOK 1 403,00 (1 jun 16)</td>
        <td>-</td>
      </tr>

      <tr>
        <td class="rowTitle">12 måneders Yield</td>    

        <td>0,00</td>
        <td>0,00</td>
        <td>-</td>
      </tr>

    </table>

  </div>

{% endblock %}
