{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}


    <div class="container">

      <div style="margin: 1em 0;">

        <a class="link link--back" href="./">Fond</a>

      </div>

    </div>

    <div class="topimage" style="overflow: hidden; position: relative; background: url(images/testimonial-1.png) center center; background-size: cover;" >
    </div>

    <div class="container">

    <div class="container--article">

        <h1>Sparing i fond vs. bank</h1>

        <h2 class="klp-fontsize--large" id="hva-er">Hva er et fond?</h2>

        <p class="ingress">Når du sparer i bank tar du veldig liten risiko. Risiko sier noe om sannsynligheten for svingning i verdi, både opp og ned. Du er garantert å få tilbake alle pengene du har spart, samt litt ekstra som du har tjent i renter.</p>

        <p>Det du får i renter i banken, er ofte mye mindre enn det du ville fått i avkastning hvis du sparte pengene dine i fond. Det er derfor sannsynlig at du får enda mer igjen for sparepengene dine ved å spare i fond. Men samtidig tar du større risiko, siden det aldri er noen garanti for hva som vil skje med fondet. Merk at du kan velge melom mange typer fond, som alle har ulik risiko.</p>

        <h2 style="padding: 1.5em 0 0;" class="klp-fontsize--large">Sparehorisonten er avgjørende</h2>

        <p>Derfor sier man ofte at det handler mest om hvor langsiktig sparingen din er. Hvis du bare skal spare et par år, for å kjøpe deg en ny sykkel, f.eks, kan det lønne se gå spare i bank. Men hvis du skal spare over lengre tid, kanskje litt ekstra i pensjon, eller noe til barnebarna, så vil det lønne seg å spare i fond.</p>

        <p>For hvis du har en langsiktig sparehorisont, og ikke trenger pengene på et helt bestemt tidspunkt – kan du alltids se an hvordan det går med avkastningen og selge fondene dine når du er fornøyd. Hvis du vil garantere deg helt mot at du taper penger, bør du spare i bank.</p>

        <p>Akkurat som med pengene i banken, kan du selge fondene dine når du vil. Du er ikke bundet til noen ting, og du kan enkelt selge fondene dine på web.</p>



        <br>

    </div>

    </div>

    <div class="container--narrow">

        <section class="section container">

          <h2 style="padding: 1.5em 0 0;" class="klp-fontsize--large" id="hvordan-fungerer">Sammenlign fondssparing med bank</h2>




<section class="calculator">









        <div>
          <ol class="calculator__steps">
            <li class="field_1 show" id="field_1">
              <div>
        





                <div class="composition--delta">
                  <div>
                    <label class="klp-font--bold klp-fontsize--medium">Hvor mye vil du spare?</label><br><br>
                  </div>
                  <div>

                    <div class="composition--beta">
                      <div>

                        <div class="">
                          <section class="bgcolor-6">
                            <span class="input input--juro">
                              <input class="input__field input__field--juro" type="text" id="belop_fast" />
                              <label class="input__label input__label--juro" for="input-28">
                                <span class="input__label-content input__label-content--juro">Månedsbeløp</span>
                              </label>
                            </span>
                          </section>
                          
                        </div>

                      </div>

                      <div style="text-align: center; padding: 1em 0 0;">
                        <strong>og/eller</strong>
                      </div>

                      <div>
                      <div class="float-right">

                        <div class="">
                          <section class="content bgcolor-6">
                            <span class="input input--juro">
                              <input class="input__field input__field--juro" type="text" id="belop_engangs" />
                              <label  class="input__label input__label--juro" for="input-28">
                                <span class="input__label-content input__label-content--juro">Engangsbeløp</span>
                              </label>
                            </span>
                          </section>
                          
                        </div>

                    </div>

                  </div>
                </div>




              </div>

            </li>


            <li class="field_3 hide" id="field_3">

              <div>



                <div style="text-align: center;">
                <div style="display: inline-block; text-align: left; ">

                


                <img src="images/kalkulator-graf.png">


                <br><br>


              <div>


                  <div class="composition--delta">

                    <div>

                      <label class="klp-font--bold klp-fontsize--medium">Hvor lenge vil du spare?</label>
                      </div>

                    <div>

                      <form>

                        <div class="range-control">
                          <input id="inputRange" type="range" min="3" max="25" step="1" value="3" data-thumbwidth="20">
                          <output name="rangeVal">3</output>
                        </div>

                      </form>

                    </div>

                    <br><br>





                  </div>
                </div>











                </div>
                </div>

                  <div>


                  </div>

 
                  <div style="font-size: .9em; margin: 1.5em -2.5em -2.5em; border-top: 1px solid #efefef; background: #fff; padding: .5em 2.5em 1.5em;">

                    <div class="composition--alpa calculator__results" style="display: flex;">
                      <div>                    
                        <p>* Tallene er basert på historisk avkastning på 8 % fond og en bankrente på 2,4 %. Historisk avkastning er ingen garanti for fremtidig avkastning.</p>
                      </div>

                      <div style="text-align: center; padding-top: 1em;">
                        
                        <a class="toggle-link">
                          <i class="klp-icon klp-icon--inline klp-iconsize--base klp-fonticon klp-fonticon--info-circle"></i>
                          <span>Grunnlag for beregning</span>
                        </a>

                        <div class="toggle_hide">

                          <div class="toggle__wrap">
                            
                            <div class="toggle__content info">

                              <p>Med lik avkastning i andre fond får du mer penger hos KLP pga. våre lave kostnader. Det vil si at du sitter igjen med mer penger selv!</p>

                            </div>

                          </div>

                        </div> <!-- / toggle -->


                      </div>
                    </div>


                  </div>
   
                
              </div>





            </li>
            
          </ol>
        </div>

      </section>
    


<script>
  $('input[type="range"]').on('input', function() {

  var control = $(this),
    controlMin = control.attr('min'),
    controlMax = control.attr('max'),
    controlVal = control.val(),
    controlThumbWidth = control.data('thumbwidth');

  var range = controlMax - controlMin;
  
  var position = ((controlVal - controlMin) / range) * 100;
  var positionOffset = Math.round(controlThumbWidth * position / 100) - (controlThumbWidth / 2);
  var output = control.next('output');
  
  output
    .css('left', 'calc(' + position + '% - ' + positionOffset + 'px)')
    .text(controlVal);

});
</script>








<script>

$('.more__toggle').click(function(){
  $('.more').toggleClass('more__hide');
})
</script>





  <script>

  /*!
   * classie - class helper functions
   * from bonzo https://github.com/ded/bonzo
   * 
   * classie.has( elem, 'my-class' ) -> true/false
   * classie.add( elem, 'my-new-class' )
   * classie.remove( elem, 'my-unwanted-class' )
   * classie.toggle( elem, 'my-class' )
   */

  /*jshint browser: true, strict: true, undef: true */
  /*global define: false */

  ( function( window ) {

  'use strict';

  // class helper functions from bonzo https://github.com/ded/bonzo

  function classReg( className ) {
    return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
  }

  // classList support for class management
  // altho to be fair, the api sucks because it won't accept multiple classes at once
  var hasClass, addClass, removeClass;

  if ( 'classList' in document.documentElement ) {
    hasClass = function( elem, c ) {
      return elem.classList.contains( c );
    };
    addClass = function( elem, c ) {
      elem.classList.add( c );
    };
    removeClass = function( elem, c ) {
      elem.classList.remove( c );
    };
  }
  else {
    hasClass = function( elem, c ) {
      return classReg( c ).test( elem.className );
    };
    addClass = function( elem, c ) {
      if ( !hasClass( elem, c ) ) {
        elem.className = elem.className + ' ' + c;
      }
    };
    removeClass = function( elem, c ) {
      elem.className = elem.className.replace( classReg( c ), ' ' );
    };
  }

  function toggleClass( elem, c ) {
    var fn = hasClass( elem, c ) ? removeClass : addClass;
    fn( elem, c );
  }

  var classie = {
    // full names
    hasClass: hasClass,
    addClass: addClass,
    removeClass: removeClass,
    toggleClass: toggleClass,
    // short names
    has: hasClass,
    add: addClass,
    remove: removeClass,
    toggle: toggleClass
  };

  // transport
  if ( typeof define === 'function' && define.amd ) {
    // AMD
    define( classie );
  } else {
    // browser global
    window.classie = classie;
  }

  })( window );






  (function() {
    // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
    if (!String.prototype.trim) {
      (function() {
        // Make sure we trim BOM and NBSP
        var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
        String.prototype.trim = function() {
          return this.replace(rtrim, '');
        };
      })();
    }

    [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
      // in case the input is already filled..
      if( inputEl.value.trim() !== '' ) {
        classie.add( inputEl.parentNode, 'input--filled' );
      }

      // events:
      inputEl.addEventListener( 'focus', onInputFocus );
      inputEl.addEventListener( 'blur', onInputBlur );
    } );

    function onInputFocus( ev ) {
      classie.add( ev.target.parentNode, 'input--filled' );
    }

    function onInputBlur( ev ) {
      if( ev.target.value.trim() === '' ) {
        classie.remove( ev.target.parentNode, 'input--filled' );
      }
    }
  })();

  $(function () {
    $('#belop_engangs, #belop_fast').on('keyup', function() {
      if (this.value.length > 2) {
        $('.field_3').removeClass('hide').addClass('show');

       $('html, body').animate({
            scrollTop: $("#field_1").offset().top
        }, 2000);

      }

      else {
        $('.field_2,.field_3').removeClass('show').addClass('hide');
      }
    });

  });


  $( ".velg-fond" ).change(function() {
    var value = $( this ).val();
    $( ".calculator__result" ).replaceWith( '<span class="calculator__result">' + value + ' kr</span>' );

    $( "#calculator__secondOption h2" ).replaceWith( '<h2 class="klp-font--semibold" style="font-size: 22px; color: black;">' + value + '</h2>' );



    if(value !== "200") {
        $( "#calculator__recommended" ).addClass('collapsed');
        $( "#calculator__secondOption" ).removeClass('hidden');
    } else {
        $( "#calculator__recommended" ).removeClass('collapsed');
        $( "#calculator__secondOption" ).addClass('hidden');
    }

  });

  $(document).ready(function() {
    $('#resizing_select').change(function(){
      $("#width_tmp_option").html($('#resizing_select option:selected').text()); 
      $(this).width($("#width_tmp_select").width() + 20 + 'px');  
    });
  });


  $('.velg-fond--tilbake').click(function(){ 
      $('.velg-fond').val($(this).data('val')).trigger('change');
  });

</script>







    <script>
      (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
          (function() {
            // Make sure we trim BOM and NBSP
            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
            String.prototype.trim = function() {
              return this.replace(rtrim, '');
            };
          })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
          // in case the input is already filled..
          if( inputEl.value.trim() !== '' ) {
            classie.add( inputEl.parentNode, 'input--filled' );
          }

          // events:
          inputEl.addEventListener( 'focus', onInputFocus );
          inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
          classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
          if( ev.target.value.trim() === '' ) {
            classie.remove( ev.target.parentNode, 'input--filled' );
          }
        }
      })();
    </script>



<script>

  $('.toggle-link').click(function(){
    console.log("click");
    $(this).next('.toggle_hide').toggleClass('toggle_show');
  });
  
</script>








        </section>

    </div>




    {% include "shared/more-links.html" %}

    {% include "shared/feedback.html" %}

    <br>
    <br>
    <br>

{% endblock %}
