.calculator {

  position: relative;

  input {
    // font-size: 1.3em;
  }

  @include breakpoint($bp-xl-min) {
    .field_1,
    .field_2 {
      width: 100%;
      margin: 0 auto;
    }

    .frontpage-calculator & {
      width: 70%;
      margin: 0 auto;

      @include breakpoint($bp-xl-min) {
        margin-top: -6em;
      }

      @include breakpoint($bp-xl-min) {
        margin-top: -11em;
      }
      
    }

    img {
      max-width: 100%;
    }

    .fund-description {
      padding-right: 2em;
    }

    h2 {
      margin: 0;
    }


  }

}




.calculator__steps {
  margin-bottom: 0;
  padding: 0;

  > li {
    position: relative;
    list-style: none;
  }
  > li > div {
    position: relative;
    border: 1px solid #ddd;
    background: #fafafa;
    margin: 1em 0;
    min-height: rem-calc(28);
    overflow: hidden;
    padding: 2em 2em;

    @include breakpoint($bp-xl-min) {
      padding: 2em;
    }
  }

  > li:before {
    position: absolute;
    top: 0em;
    left: 2em;
    z-index: 999;
    display: none;
  }
}



.calculator__result {
  font-size: rem-calc(33);
  font-weight: 100;
}



.hide {
  overflow-y: hidden;
  opacity: 0;
  max-height: 1px;
  transition: .25;
}
.show {
  max-height: 100%;
  opacity: 1;
  max-height: auto;
}




.calculator select {
  cursor: pointer;
  font-size: 1.3em;
  @extend .link;
  margin: 0 -.5em 0 0;
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  background: none;
  font-size: 1em;
  option {
    display: inline-block;
  }
}



.calculator__fund-suggestion {
  margin-bottom: 3em;
  background: #fff;
  border: 1px solid #ddd;
  padding: 2em;
  position: relative;
  float: left;

  transition: .5s;


   &:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 18em;



    width: 0; 
    height: 0; 
    border-left: 0px solid transparent;
    border-right: 25px solid #fafafa;
    border-top: 25px solid transparent;
    box-shadow: 1px 1px 0px #ddd;
    transform: rotate(45deg);
   }
}


.collapsed {
  height: 3.25em;
  overflow: hidden;
  opacity: .4;
  position: relative;
  &:hover {
    opacity: 1;
  }
  margin: 0 auto 1em;
  float: none;
  // width: 80%;
  transition: .5s;
}

.field_3 > div > div:hover + #calculator__secondOption {
  opacity: .4;
}

.hidden {
  display: none;
  transition: .5s;
}

#resizing_select {
  width: 205px;
} 
 
#width_tmp_select{
  display : none;
} 





// fancy input styling

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


.bgcolor-6 {
  font-size: 100%;
  // padding: 3em 0;
}


.input {
  position: relative;
  // z-index: 1;
  display: inline-block;
  // margin: 1em;
  max-width: 350px;
  // width: calc(100% - 2em);
  width: 100%;
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 1.5em 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  // font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  // padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}


/* Juro */
.input--juro {
  overflow: hidden;
}

.input__field--juro {
  position: absolute;
  z-index: 100;
  // padding: 2.15em 0.75em 0;
  width: 100%;
  background: transparent;
  color: #333;
  // font-size: 0.85em;
}

.input__label--juro {
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: left;
  border: 1px solid #ddd;
}

.input__label-content--juro {
  // padding: 2em 1em;
  padding: 1em;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .25s, color .25s;
  transition: transform .25s, color .25s;

  text-rendering: geometricPrecision;
}

.input__label--juro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px solid transparent;
  -webkit-transition: border-width 0.3s, border-color 0.3s;
  transition: border-width 0.3s, border-color 0.3s;
}

.input__field--juro:focus + .input__label--juro::before,
.input--filled .input__label--juro::before {
  border-width: 2px;
  border-color: #ddd;
  border-top-width: 1.25em;
}

.input__field--juro:focus + .input__label--juro .input__label-content--juro,
.input--filled .input__label--juro .input__label-content--juro {
  color: #333;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
}

