$index-color: #f8faf0;
$aksje-color: #F0F6F6;
$rente-color: #FDF4DE;
$kombinasjons-color: #F9F4F0;

.card__fund {
	display: block;
	width: 100%;
	position: relative;

	&--padding {
		padding: 2em 0 2em;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	h2 {
		font-weight: 100;
		font-size: 1.4em;
		text-align: center;
		margin-top: 0;
	}

	&.card__fund--horizonal h2 {
		text-align: left;
		margin-top: -2em;
	}

	&.card__fund--horizonal .symbol {
		width: 40px;
		height: 40px;
		margin: 0 0 0 -3em;
	}

	.symbol {
		border-radius: 1000px;
		height: 60px;
		width: 60px;
		margin: 0 auto;
		display: block;
		position: relative;
		img {
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.card__content {
		padding: 1.5em;
		margin-bottom: 1em;
	}
	.card__content--border {
		border: 5px solid transparent;
	}

	.checkbox {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		top: 0;
	}

	.checkbox + .card__content {
		cursor: pointer;
		@extend .klp-gizmo--shadow;
	}

	.card__numbers {
		clear: both;
		text-align: right;
		label {
			@include type-weight(semi-bold);
			float: left;
		}
	}




	&.card__compressed {
		.card__content {
			// padding: .5em;
		}
		.symbol {
			float: left;
			height: 30px;
			width: 30px;
		}
		.map {
			display: none;
		}
		p {
			clear: both;
		}
		h2 {
			display: block;
			// width: 90%;
			text-align: left;
			padding-left: rem-calc(16);
			overflow: hidden;
			margin-bottom: 0;
			font-weight: 400;
			line-height: 1.7em;
			font-size: 1em;
		}
	}



	@include breakpoint($bp-m-max) { // Mobile
		.symbol {
			float: left;
			height: 40px;
			width: 40px;
		}
		h2 {
			text-align: left;
			padding-left: rem-calc(16);
			overflow: hidden;
			margin-bottom: 1em;
		}
	}



	@include breakpoint($bp-l-range) {
		@include span(6);
		&:nth-child(2n) {
			@include span(last);
		}
	}

	@include breakpoint($bp-xl-range) {
		@include span(4);
		&:nth-child(3n) {
			@include span(last);
		}
	}

	@include breakpoint($bp-xxl-min) {
		@include span(3);
		&:nth-child(4n) {
			@include span(last);
		}
	}

	input[type="checkbox"] {
		// display: none;
	}
	&.toggle_hide .card__content--border,
	input[type="checkbox"] + .card__content--border {
		border: 5px solid transparent;
		cursor: pointer;
	}
	input[type="checkbox"]:checked + .card__content {
		cursor: pointer;
		box-shadow: none;
	}


}






//card styling mixin

@mixin card-type($type-color) {
	.card__content {
		background: $type-color;
	}

	&:hover input[type="checkbox"] + .card__content--border,
	&:hover .card__content--border,
	input[type="checkbox"] + .card__content--border:hover,
	&.toggle_show .card__content--border {
		border: 5px solid darken($type-color,10%);
		position: relative;
	}		

	.symbol {
		background: darken($type-color,13%);
	}

	&.toggle_show .card__content,
	input[type="checkbox"]:checked + .card__content {
		background: darken($type-color,13%);
		transition: .25s;

		.symbol {
			background: darken($type-color,18%);
		}
	}

}


.card__fund {
	&--index {
		@include card-type($index-color);
	}
	&--aksje {
		@include card-type($aksje-color);
	}
	&--rente {
		@include card-type($rente-color);
	}
	&--kombinasjons {
		@include card-type($kombinasjons-color);
	}
}









//fund styling mixin

@mixin fund-element($fund-color) {
	// .card__content {
		background: $fund-color;
	// }
	.symbol {}

}


.fund__element {
	&--index {
		// @include card-type($index-color);
		&:before {
			content: "";
			margin-left: -3em;
			z-index: 99999;
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 1000px;
			@include card-type($index-color);
		}
		.symbol {
			width: 30px;
			height: 30px;
		}
	}
	&--aksje {
		@include card-type($aksje-color);
	}
	&--rente {
		@include card-type($rente-color);
	}
	&--kombinasjons {
		@include card-type($kombinasjons-color);
	}
}

