.fund_pack {

	h2 {
		@include type-scale(large);
		border-bottom: 1px solid #ddd;
		display: inline;
		margin: 5em 0 0;
	}

	&:hover {
		h2 {
			color: $color-burgunder--pri;
			border-bottom: 1px solid $color-burgunder--pri;
		}
	}

	p {
		width: 85%;
	}

	&.klp-gizmo--fill {
		overflow: hidden;
		img {
	    	@include breakpoint($bp-xxl-min) {
				width: 121%;
			}
	    	@include breakpoint($bp-xxl-max) {
				width: 133%;
			}
			height: auto;
			@include klp-base-margin(-4, -6, 4, -6);
		}
	}

	.composition > {
		overflow: hidden;

	    @include breakpoint($bp-xl-min) {

			div {
				padding: 0;
				transition: .2s;
			}
			div:nth-child(1) {
				@include span(4);
				overflow: hidden;
			}
			div:nth-child(2) {
				padding-left: span(.5);
				padding-top: span(.5);
				@include span(7);
			}
		}

  	> div {
  		@include span(12);
  		width: 100%;
  	}

	}
}