
// Intro
// Top section on frontpage

.intro {
  position: relative;
  height: auto;
  margin: 0 0 2em;
}

.intro__text {
  margin-top: rem-calc(-68);

  @include breakpoint($bp-xl-min) {
    margin-top: rem-calc(-320);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    display: inline;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    
    a {
      color: white;
    }
  }


  h1 {
    margin-top: 0;
    color: white;
  }

  p {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 100;
    @include breakpoint($bp-xxl-min) {
       padding-right: 26em;
    }
  }
}



.intro__imageWrap {
  height: 230px;
  overflow: hidden;
  position: relative;

  @include breakpoint($bp-xl-min) {
    height: 530px;
  }
}


.intro__image {
  width: 100%;
  height: auto;
  position: absolute;

  @include breakpoint($bp-xl-range) {
    top: 0%;
  }

  @include breakpoint($bp-xxl-min) {
    top: 0;
    bottom: 0;
    margin: auto;
  }

}

