.klp-gizmo__title {
    @include type-scale(large);
    @include type-weight(light);
    margin: 0;
    font-family: $base-font-family;
}

.klp-gizmo__header {
    @include klp-base-margin($bottom: 3);
    display: flex;
    align-items: flex-start;
}

.klp-gizmo__body {
    position: relative;

    > * {
        @include type-scale(base);
    }
}

.klp-gizmo__link,
.klp-gizmo__footer__link {
    @include type-scale(base);
    @include type-weight(bold);
    align-self: flex-start;
    flex: 0 0 auto;
    color: $klp-black;
    text-decoration: none;

    > span {
        display: flex;
        align-items: center;
    }

    .klp-iconlink__txt {
        border-bottom: 1px solid $gray-8;
    }

    .klp-icon {
        color: $color-burgunder--sec;
    }

    &:hover {
        .klp-iconlink__txt {
            color: $color-burgunder--sec;
            border-bottom: 1px solid $color-burgunder--sec;
        }
    }
}

.klp-gizmo__footer {
    @include klp-base-padding($top: 4);
    @include cf;
    display: flex;
    flex-direction: column;
}

.klp-gizmo {
    position: relative;
    display: block;
    text-decoration: none;
    color: $klp-black;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: $klp-black;
    }
}

// Hover state when entire gizmo is a link
a.klp-gizmo {
    transition: background ease-in-out $duration-promptly;

    .klp-gizmo__subtitle {
        @include klp-base-margin($bottom: 2);
        @include type-scale(medium);
        @include type-weight(semi-bold);
        border-bottom: 1px solid $gray-8;
        display: inline-block;
    }

    &:hover {
        background: $gray-9;

        .klp-gizmo__subtitle,
        .klp-iconlink__txt {
            color: $color-burgunder--sec;
            border-bottom: 1px solid $color-burgunder--sec;
        }
    }
}

// Modifier: bordered
// Adds a border on top of the gixmo
// =========================================================================
.klp-gizmo--bordered {
    @include klp-base-padding($top: 4);
    border-top: 1px solid $gizmo-theme-default-border-color;
}

// Modifier: shadow
// Adds a drop shadow
// =========================================================================
.klp-gizmo--shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

// Modifier: fill
// Adds a background color
// =========================================================================
.klp-gizmo--fill {
    @include klp-base-padding(4, 6, 4, 6);
    background: $gizmo-theme-default-bg-color;
    border-top: 1px solid transparent;

    .klp-gizmo__header {
        .klp-icon {
            @include klp-base-padding(0.5, 0.5, 0.5, 0.5);
            position: relative;
            left: -36px;
            margin-right: -30px;
            transform: translate(-50%);
            border-radius: 50%;
            box-sizing: content-box;
            color: $white;
            background-color: darken($gizmo-theme-default-bg-color, 30%);
        }
    }
}

// Modifier: skins
// Changes border-color and background based on modifiers fill and stem
// =========================================================================
.klp-gizmo--skin-blue {
    &.klp-gizmo--fill {
        background: $gizmo-theme-blue-bg-color;

        .klp-gizmo__header {
            .klp-icon {
                background-color: darken($gizmo-theme-blue-bg-color, 30%);
            }
        }
    }
}

.klp-gizmo--skin-purple {
    &.klp-gizmo--fill {
        background: $gizmo-theme-purple-bg-color;

        .klp-gizmo__header {
            .klp-icon {
                background-color: darken($gizmo-theme-purple-bg-color, 30%);
            }
        }
    }
}