// ==========================================================================
// ATOM: klp-btn
// ==========================================================================
.klp-btn {
    @include type-scale(base);
    @include type-weight(regular);
    border: 0; //Override browser styling
    background: none; //Override browser styling
    cursor: pointer;
    display: inline-block;
    font-family: $base-font-family;
    padding-top: rem-calc(6);
    padding-bottom: rem-calc(6);
    padding-left: rem-calc(18);
    padding-right: rem-calc(18);
    transition: background ease-in-out $duration-promptly;

    text-decoration: none;

    .flexbox & {
        display: inline-flex;
        align-items: center;
    }

    &__text {
        vertical-align: middle;
    }

    .klp-icon {
        align-self: center;
        margin-right: $base-unit;
        text-decoration: none;
    }

    &--primary {
        background-color: $button-primary-bg-color;
        color: $color-white;

        &:hover,
        &:active,
        &:focus {
            background-color: $button-primary-bg-color-hover;
            color: $color-white;
        }
    }

    &--secondary {
        background-color: $button-secondary-bg-color;
        color: $klp-black;
        padding-top: rem-calc(5);
        padding-bottom: rem-calc(5);
        padding-left: rem-calc(11);
        padding-right: rem-calc(11);
        border: 1px solid $button-secondary-border-color;

        &--large {
            @include type-scale(medium);
            padding-top: rem-calc(12);
            padding-bottom: rem-calc(12);
            padding-left: rem-calc(24);
            padding-right: rem-calc(24);
        }

        &:hover,
        &:active,
        &:focus {
            background-color: $button-secondary-bg-color-hover;
            color: $color-burgunder--pri;
        }
    }

    &--link {
        @include type-weight(regular);
        text-decoration: none;
        color: $link-color;
        padding-left: 0;
        padding-right: 0;

        .klp-btn__text {
            border-bottom: 1px solid $link-border-color;
        }

        &:hover,
        &:active,
        &:focus {
            color: $link-color-hover;
            text-decoration: none;

            .klp-btn__text {
                border-bottom: 1px solid $link-border-color-hover;
            }
        }
    }

    &--large {
        @include type-scale(medium);
        padding-top: rem-calc(12);
        padding-bottom: rem-calc(12);
        padding-left: rem-calc(24);
        padding-right: rem-calc(24);

        &.klp-btn--link {
            padding-left: 0;
            padding-right: 0;
        }
    }
}