
        /* Add animation (Chrome, Safari, Opera) */
        @-webkit-keyframes example {
            from {top:-100px;opacity: 0;}
            to {top:0px;opacity:1;}
        }

        /* Add animation (Standard syntax) */
        @keyframes example {
            from {top:-100px;opacity: 0;}
            to {top:0px;opacity:1;}
        }

        /* The modal's background */
        .modal {
          display: none;
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
        /*  background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, 0.4);*/
        }

        /* Display the modal when targeted */
        .modal:target {
          display: table;
          /*position: absolute;*/
        }

        /* The modal box */
        .modal-dialog {
          display: table-cell;
          vertical-align: middle;
        }

        /* The modal's content */
        .modal-dialog .modal-content {
          &#vilkar {
            width: 100%;
            max-width: 720px;
            max-height: 80%;
          }
          margin: auto;
          background-color: #fff;
          position: relative;
          padding: 0;
          outline: 0;
          max-width: 420px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

          /* Add animation */
          -webkit-animation-name: example; /* Chrome, Safari, Opera */
          -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
          animation-name: example;
          animation-duration: 0.5s;
        }

        /* The button used to close the modal */
        .closebtn {
          text-decoration: none;
          float: right;
          font-size: 35px;
          font-weight: bold;
          color: #333;
        }

        .closebtn:hover,
        .closebtn:focus {
          color: #888;
          text-decoration: none;
          cursor: pointer;
        }

        .modal .container {
          padding: 2em;
        }
