ul {
	margin-left: 0;
	li {
		margin-left: 0;
	}
}

$pack1: #ECF6F0;
$pack2: #ECF2F7;
$pack3: #F5F5EB;
$pack4: #FFF5F8;

.site-top.gavesparing1 {
	background: lighten($pack1,2%);
}

.fund_pack--gift {
	@include breakpoint($bp-l-max) {

		&.klp-gizmo--fill {
			padding: 0;
			.composition > div:last-child {
	    		@include klp-base-padding(4, 6, 4, 6);
			}
		}
	}
}


.section_pakker--horizonal {
	.fund_pack {

		&.klp-gizmo--fill {
			img {
				@include klp-base-margin(-4, -6, -4, -6);
			}
		}
	    @include breakpoint($bp-xl-min) {
			padding: 0;
		}
	
		&:nth-of-type(1) {
			background: lighten($pack1,4%);
			.image {
				background: darken($pack1,2%);	
			}
			&:hover {
				background: $pack1;
			}
		}
		&:nth-of-type(2) {
			background: lighten($pack2,4%);
			.image {
				background: darken($pack2,2%);	
			}
			&:hover {
				background: $pack2;
			}
		}
		&:nth-of-type(3) {
			background: lighten($pack3,4%);
			.image {
				background: darken($pack3,2%);	
			}
			&:hover {
				background: $pack3;
			}
		}
		&:nth-of-type(4) {
			background: lighten($pack4,4%);
			.image {
				background: darken($pack4,2%);	
			}
			&:hover {
				background: $pack4;
			}
		}
	}
}


.numbers {
	overflow: hidden;

	.number {
		font-size: rem-calc(25);
		font-weight: 100;
	}
	label {
		clear: both;
		width: 100%;
		float: left;
	}
}

