
.order {
	.toggle_hide {
		cursor: pointer;
	}
	// @include breakpoint($bp-l-max) {
		.toggle_hide .card__content .order__input-value {
			display: none;
		}
		.toggle_show .card__content .order__input-value {
			display: block;
		}
	// }

	@include breakpoint($bp-l-min) {
		h2 {
			float: left;
			width: 28%;
		}
		.order__input-value {
			float: right;
			width: 63%;
			// margin-top: -1em;
		}
	}

}

.order__input-value {
	width: 100%;
	overflow: hidden;
	// padding-top: 1.5em;
	text-align: left;

}

.order__navigation {
	width: 100%;
	display: block;
	padding: 0;
	margin: 1.5em 0 0;
}





.order__continue-link {
	@include breakpoint($bp-l-max) {
		position: absolute;
		bottom: 4.5em;
		right: 1em;
		text-align: right;
	}	
}

.order__summary__content,
.order__summary__total {
	background: #ECF6F0;
	padding: rem-calc(16 26);
	overflow: hidden;
}

.order__summary__content {
	@include breakpoint($bp-l-max) {
		display: none;
	}
}

.order__summary__total {
	@include breakpoint($bp-l-min) {
		padding-top: 0;
		padding-bottom: 0;
	}
	@include breakpoint($bp-l-max) {
		width: 100%;
		position: fixed;
		left: 0;
		padding: 1em 3em;
		bottom: 3.7em;
		background: #ECF6F0;
	}
}




.stick-on-scroll {
	@include breakpoint($bp-l-min) {
	    position: fixed;
	    top: 1em;
	    width: inherit;
	}
}
