.sticky {
	display: none;
	position: absolute;
	bottom: 0;
	z-index: 999999;

	.sticky__content {
		padding: rem-calc(18 0);
	}
}

.sticky_scroll {
	display: block;
	@include container;
	position: fixed;
	background: transparent;
	padding-top: rem-calc(3);

	.sticky__content {
		padding: rem-calc(18 0);
		background: transparentize($white,.2);
		width: 100%;
		display: block;
		text-align: center;
	}
}

.sticky_sidebar {
	position: fixed;
	overflow: hidden;
	top: 0;
	padding: 2em 1em;
}