.switcher {
	float: right;

	span:first-child {
		padding-right: 1em;
	}

	.switcher__option {
		opacity: .4;
		
		&--active {
			opacity: 1;
		}

		height: 35px;
		width: 35px;
		display: block;
		position: relative;
		float: right;

		img {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			margin: auto;
		}
		background: #efefef;
		border: 1px solid #ddd;
		padding: .5em;

		
		.switcher__name {
			display: none;
		}

	}
	.switcher__option--link {
		&:hover {
			background: #eee;
			border-color: #888;
		}
	}

}