
table {
  width: 100%;
  text-align: left;
  th:first-child,
  td:first-child {
    text-align: left;
    background: none;
  }
  th {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1em;
  }
  tbody tr:nth-child(odd):hover,
  tbody tr:nth-child(even):hover {
    transition: .25s;
    background: #eee;
  }
  tr th:first-child {
    padding-left: 2.8em;
  }
  th,
  td {
    text-align: right;
  }
  td {
    border-bottom: 1px solid #ddd;
    padding: 1em 1em;
    &:last-child {
      padding: 0;
    }
  }
  tr {
    &:nth-child(even) {
      background: #fafafa;
    }
  }
  input {
    margin-right: .5em;
  }
}

.label-description {
  color: lighten($black, 20%); 
}


.tableFloatingHeaderOriginal {
  background: $white;
  padding: 1em 0;
}