.toggle_hide .toggle__wrap .toggle__content,
.toggle-label_hide .toggle__wrap .toggle__content {
	display: none;
}

.toggle_show .toggle__wrap .toggle__content {
	display: block;
}

.toggle-link {
	clear: both;
	display: inline-block;
	width: 100%;
	margin: 0 0 1em;
	position: relative;
	cursor: pointer;
	&:hover {
		span {
			@extend .link:hover;
		}
	}
	span {
		@extend .link;
		margin-left: .5em;
	}
}
