

// Grid

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container-position: left,

  columns: 12,
  container: 1280px,
  gutters: 1/6,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
);

.container {
  @include container;
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
}
.container--narrow {
  @include container(960px);
  margin: 0 auto;
  padding: 0 1em;
}




// ===========================================
// Media Queries
// ===========================================
$bp-no-queries: false;
$bp-no-query-fallbacks: false;
$bp-to-ems: true;

$bp-print:      print;            // @media print
$bp-xs-max:     max-width 320px;  // @media (max-width: 320px)
$bp-s-min:      min-width 321px;  // @media (min-width: 321px)
$bp-s-range:    321px 460px;      // @media (min-width: 321px) and (max-width: 460px)
$bp-s-max:      max-width 460px;  // @media (max-width: 460px)
$bp-m-min:      min-width 461px;  // @media (min-width: 461px)
$bp-m-range:    461px 585px;      // @media (min-width: 461px) and (max-width: 585px)
$bp-m-max:      max-width 585px;  // @media (max-width: 585px)
$bp-l-min:      min-width 586px;  // @media (min-width: 586px)
$bp-l-range:    586px 768px;      // @media (min-width): 586px) and (max-width: 768px)
$bp-l-max:      max-width 768px;  // @media (max-width: 768px)
$bp-xl-min:     min-width 769px;  // @media (min-width: 769px)
$bp-xl-range:   769px 1024px;     // @media (min-width: 769px) and (max-width: 1024px)
$bp-xl-max:     max-width 1024px; // @media (max-width: 1024px)
$bp-xxl-min:    min-width 1025px; // @media (min-width: 1025px)
$bp-xxl-range:  1025px 1224px;    // @media (min-width: 1025px) and (max-width: 1224px)
$bp-xxl-max:    max-width 1224px; // @media (max-width: 1224px)
$bp-xxxl-min:   min-width 1225px; // @media (min-width: 1225px)






// Typography

// Font sizes
@mixin large-text {
  font-weight: 100;
  font-size: 1.5em;
  line-height: 1.3em;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
}
h2 {
  font-size: 1.2rem;
}

.text-center {
  text-align: center;
}
.bold {
  font-weight: 700;
}
.font-light {
  font-weight: 100;
}





body {
  line-height: 1.5;
}




// Colors
$black:     #333;
$white:     #fff;
$beige:     #f5f5f2;
$burgundy:  #931b46;
$lightblue: #E8F3F8;
$grey:      #fafafa;


   


.section--fill {
  background: #fafafa;
  padding: 1em 0;
}


.ingress {
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 100;
}



.padding {
  @include klp-base-padding(4, 6, 4, 6);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1em 0;
    padding: 0; 
}

.map {
  @include breakpoint($bp-l-max) {
    display: none;
  }
}


.filters__hide,
.more__hide {
  display: none;
}

.hide_mobile {
  @include breakpoint($bp-l-max) {
    display: none;
  }
}
.hide_desktop {
  @include breakpoint($bp-l-min) {
    display: none;
  }
}


.topimage {
  min-height: 200px;
  @include breakpoint($bp-l-min) {
    height: 480px;
  }
}