// ==========================================================================
// Helpers - Can be extended in Sass or used as classes in HTML
// ==========================================================================

// Image replacement
// ==========================================================================
%ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;

    &:before {
        content: '';
        display: block;
        width: 0;
        height: 150%;
    }
}

// Hide from both screenreaders and browsers: h5bp.com/u
// ==========================================================================
%is-hidden,
.klp-is-hidden {
    display: none;
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
// ==========================================================================
%is-vishidden,
.klp-is-vishidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Hidden element becomes visible when it gets focus: h5bp.com/p
// ==========================================================================

%is-vishidden-focusable,
.klp-is-vishidden-focusable {
    @extend %is-vishidden;

    &:active,
    &:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

// Sets position fixed on element. Can be used in conjunction with sticky.js
// ==========================================================================

%is-fixed,
.klp-is-fixed {
    position: fixed;
}

// Hide visually and from screenreaders, but maintain layout
// ==========================================================================
%invisible,
.klp-invisible {
    visibility: hidden;
}

// Make element width = 100%
// ==========================================================================
%fullwidth,
.klp-fullwidth {
    width: 100%;
}

// Hide if JS is enabled, show if JS is disabled
// ==========================================================================
.hide-if-js {
    @extend %is-hidden;

    .no-js & {
        display: block;
        visibility: visible;
    }
}

// Clearfix: contain floats
// ==========================================================================
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    `contenteditable` attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that receive the `clearfix` class.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.

%clearfix,
.clearfix {
    @include cf;
}

// Hyphenate - Browser-support is rather lousy, so be careful
// ==========================================================================
%hyphenate,
.klp-hyphenate {
    @include hyphenate;
}

// Ellipsis - Three `...` at the end of a single line
// ==========================================================================
%ellipsis,
.klp-ellipsis {
    @include truncate;
}

// Nowrap - Prevent text from wrapping
// ==========================================================================
%nowrap,
.klp-nowrap {
    white-space: nowrap;
}

// Text alignment
// ==========================================================================
%text-left,
.klp-text-left {
    text-align: left;
}

%text-right,
.klp-text-right {
    text-align: right;
}

%text-center,
.klp-text-center {
    text-align: center;
}

%text-justify,
.klp-text-justify {
    text-align: justify;
}

// Center - To put stuff in the center og things
// ==========================================================================
%centerX,
.klp-centerX {
    @include centerer(true, false);
}

%centerY,
.klp-centerY {
    @include centerer(false, true);
}

%centerXY,
.klp-centerXY {
    @include centerer(true, true);
}

// Intrinsic ratios - used to responsively scale iframes, videos, objects etc
// ==========================================================================

%ratio {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;

    img,
    iframe,
    embed,
    object,
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    img {
        height: auto;
    }

    iframe,
    embed,
    object,
    video {
        height: 100%;
    }
}

.klp-ratio {
    @extend %ratio;
}

.klp-ratio--1x1 {
    padding-bottom: 100%;
}

.klp-ratio--4x3 {
    padding-bottom: 75%;
}

.klp-ratio--3x2 {
    padding-bottom: 66.6667%;
}

.klp-ratio--5x3 {
    padding-bottom: 60%;
}

.klp-ratio--16x9 {
    padding-bottom: 56.25%;
}

.klp-ratio--2x1 {
    padding-bottom: 50%;
}

.klp-ratio--3x1 {
    padding-bottom: 33.3333%;
}

.klp-ratio--4x1 {
    padding-bottom: 25%;
}

// Utility-classes for vertical padding. Use only
// ==========================================================================

.klp-vpad--compact {
    @include klp-base-padding($top: 2, $bottom: 2);
}

.klp-vpad--compact-top {
    @include klp-base-padding($top: 2);
}

.klp-vpad--compact-bottom {
    @include klp-base-padding($bottom: 2);
}

.klp-vpad--bulky {
    @include klp-base-padding($top: 4, $bottom: 4);
}

.klp-vpad--bulky-top {
    @include klp-base-padding($top: 4);
}

.klp-vpad--bulky-bottom {
    @include klp-base-padding($bottom: 4);
}

.klp-vpad--fat {
    @include klp-base-padding($top: 7, $bottom: 7);
}

.klp-vpad--fat-top {
    @include klp-base-padding($top: 7);
}

.klp-vpad--fat-bottom {
    @include klp-base-padding($bottom: 7);
}

.klp-vpad--jumbo{
    @include klp-base-padding($top: 11, $bottom: 11);
}

.klp-vpad--jumbo-top{
    @include klp-base-padding($top: 11);
}

.klp-vpad--jumbo-bottom{
    @include klp-base-padding($bottom: 11);
}

.klp-vpad--colossal {
    @include klp-base-padding($top: 13, $bottom: 13);
}

.klp-vpad--colossal-top {
    @include klp-base-padding($top: 13);
}

.klp-vpad--colossal-bottom {
    @include klp-base-padding($bottom: 13);
}