// ==========================================================================
// Colors: Descriptive -> Contextual
// One of the best reasons to use Sass is variables. They help keep your code
// DRY, which makes it easy to maintain and change. However, with colors, it's
// easy for your variables to get out of hand.
//
// To combat total mayhem, we’ll use a two-tier system, with both
// descriptive and functional variable names.
//
// Example: Descriptive
// --------------------------------------------------------------------------
// $klp-chinook:           #a6d6c1;
//
// The descriptive variable should match a unique color (hex-value). If you
// struggle to name your hex-value, try http://name-of-color.com/
// This service will give you the closest actual color-name to your specific hex.
// Then prefix your sass-variable with $klp-[color-name], to make your hex,
// the "klp-version" of the actual color.
//
// Example: Contextual
// --------------------------------------------------------------------------
// $mycomponent-bg-color: $klp-chinook;
//
// Here, we've set the contextual variable $mycomponent-bg-color to a descriptive
// variable. This way, if $mycomponent-bg-color should ever need to change, we can
// do this one place, without affecting other variables.
//
// Ref: https://davidwalsh.name/sass-color-variables-dont-suck
//      http://sachagreif.com/sass-color-variables/
// ==========================================================================

// Descriptive colors
// ==========================================================================

// TODO: Color vars need refactoring. We might need a wider range for
// monochromatic color-ranges. Maybe 5% increments.
// We might actually take advantage of color-functions in Sass. In that case,
// beware of the different between lighten/ tint and darken/ shade:
// Ref: http://www.sassmeister.com/gist/5df3b36554bbdc15ffbb?utm_content=buffer6f1f3&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer

// Monochromatic colors (black -> white)
$black:                             #000000; // 0%
$gray-1:                            #1b1b1b; // 10%
$gray-2:                            #303030; // 20%
$gray-3:                            #474747; // 30%
$gray-4:                            #5e5e5e; // 40%
$gray-5:                            #777777; // 50%
$gray-6:                            #919191; // 60%
$gray-7:                            #ababab; // 70%
$gray-8:                            #c6c6c6; // 80%
$gray-9:                            #e2e2e2; // 90%
$gray-10:                           #f3f3f3;
$gray-11:                           #f7f7f7;
$gray-12:                           #f9f9f9;
$white:                             #ffffff; // 100%

// Base colors
$red:                               #ff0000;
$green:                             #bada55;
$brown:                             #7d4a2d;

// basic colors:
$color-white:                       $white; // BG
$klp-black:                         $gray-2;
$color-red:                         $red; // error
$color-white-opacity:               rgba(255, 255, 255, 0.9);

// KLP new colors (not concluded)
$klp-granny-apple:                  #d3ece1;
$klp-chinook:                       #a6d6c1;
$klp-apple-green:                   #e4f3ec;
$klp-true-blue:                     #0073cf;
$klp-alice-blue:                    #E8F3F8;
$klp-powder-blue:                   #C2DEEB;
$klp-pale-sky:                      #667987;
$klp-red:                           #df0000;
$klp-fair-pink:                     #ffeceb;
$klp-careys-pink:                   #d9a6a6;

// KLP colors:
$color-burgunder--pri:               #932747; // logo, buttons, objects, icons
$color-burgunder--sec:               #a7214d; // text, icons
$color-yellow:                      #fdea49; // arrow produktknapper - hover, lånekalk
$color-yellow-dark:                 #e3d10e; // border gul sliderknapp i lånekalk
$color-orange:                      #fcb23b; // Linjediagram, BG: obs-element
$color-violet:                      #a592af; // Linjediagram
$color-raspberry-light:             #e59594; // Linjediagram, hover text button
$color-raspberry-dark:              #d6485b; // Linjediagram, arrow produktknapper normal, ring meg bg button mobil
$color-green-ex_light:              #e0f1e9; // BG: innerste ramme hurtigpris
$color-green-light:                 #bee3d3; // BG: hurtigpris, ring meg tilbake, lenkeliste i megameny
$color-green-medium:                #a6d6c1; // Linjediagram, slider lånekalk
$color-green-dark:                  #00ab5b; // Linjediagram, slider lånekalk
$color-blue-light:                  #d7e1ec; // BG: universalelement, medlemssjekk, lenkeliste, tabell
$color-blue-medium:                 #aacbe2; // slider lånekalk
$color-blue-dark:                   #5198ca; // slider lånekalk
$color-blue-bright:                 #35a6de; // Linjediagram
$color-beige-ex_light:              #fcfcfb; // BG: unselected tabs
$color-beige-light:                 #f4f4f3; // BG: tabell, mad libs, universalelement, medlemssjekk, lenkeliste, trekkspill i trekkspill, date picker
$color-beige-medium:                #eae9e2; // BG: body, tabell
$color-beige-dark_pri:              #9c9485; // BG VED HOVER: produktknapper, OBS-element, Eiendomsteasere
$color-beige-dark_sec:              #d9d5cf; // BG VED HOVER: ledige stillinger
$color-beige-darker:                #766d5d; // profilfarge ikke brukt i elementer på klp.no foreløpig
$color-grey-ex_light:               #ececec;
$color-grey-light:                  #767676; // bla. placeholder - passerer kontrastkrav kun mot hvit bakgrunn
$color-grey-medium:                 #56595a; // bla. bakgrunn på sekundærknapp
$color-grey-dark:                   #353535; // bla. hover på knapper

// Contextual colors
// ==========================================================================

// Linjer i tabell og stipla linje på lenkeliste, universalelement, hurtigprisberegner, faner, date picker:
$color-border-blue-on-blue-bg:      #c2c8ce;
$color-border-beige-on-beige-bg:    #d1cfc6;
$color-border-beige-on-white-bg:    #e2e0dd;
$color-border-menu:                 #bbbbbb;
$color-menuseparators-footer:       #aaaaaa;

$color-border-beige-forms:          #c5bdb3; // border: inputfelt, select / drop down, text area

// Summary panel
$color-summarypanel-bg:             #d3ddec;
$color-summarypanel-bg-hover:       #82abe8;

// Skeleton
$skeleton-color-bg:                 $gray-12;

// Drilldown
$color-drilldownmenu-bg:            #1a1a1a;
$color-drilldownmenu-overviewitem:  #dddddd;
$color-drilldownmenu-specialitem:   #525252;
$color-drilldownmenu-borderline:    #202020;

//Temporary colors for action messages
$color-messages-grey:               #c8bece;
$color-messages-red:                #ebbfbf;

// Text
$text-fg-color:                     $klp-black;
$subtitle-fg-color:                 $klp-pale-sky;

// Buttons
$button-primary-bg-color:           $color-burgunder--pri;
$button-primary-bg-color-hover:     #781c3a;
$button-secondary-border-color:     #9e9e9e;
$button-secondary-bg-color:         #f4f4f4;
$button-secondary-bg-color-hover:   $gray-9;

// Prioritized tasks
$prioritized-task-bg-color:         $color-white;
$prioritized-task-bg-color-hover:   $gray-9;

// Links
$link-color:                        $klp-black;
$link-color-hover:                  $color-burgunder--sec;
$link-border-color:                 $gray-8;
$link-border-color-hover:           $color-burgunder--sec;
$color-link_pri:                    #1e0fbe; // lenker normal text
$color-link_sec:                    #2091c9; // lenker produktknapper, mad libs

// Tables
$table-bg-color:                    $white;        			// Default table background-color
$table-bg-color-hover:              rgba($black, 0.08);		// Default hover background-color on table-rows
$table-bg-color-blue:               $klp-alice-blue;		// Default hover background-color on table-rows
$table-bg-color-even:               rgba($black, 0.05);		// Default even background-color on table-rows
$table-border-color:                $gray-8;				// Default table-border-color

// Gizmo theme colors (Experimental)
$gizmo-theme-default-border-color:  $gray-8;
$gizmo-theme-default-bg-color:      #f6f6f6;
$gizmo-theme-blue-bg-color:         $klp-alice-blue;
$gizmo-theme-purple-bg-color:       #E9E4EE;

// Article
$article-caption-fg-color:          $gray-4;
$article-date-fg-color:             $gray-4;

// Navigation
$task-link-bg-color:                $klp-powder-blue;
$task-link-bg-color-hover:          #98b9c8;
$task-link-fg-color:                $klp-black;

// Accordion
$accordion-border-color:            $gray-8;
$accordion-bg-color:                $white;
$accordion-bg-color-hover:          $gray-10;
$accordion-bg-color-open:           $accordion-bg-color-hover;

// Universal element
$universal-element-border-top-color: $gray-8;

// Input element, select / drop down, text area
$input-bg-color:                    $white;
$input-fg-color:                    $gray-5;
$input-fg-placeholder-color:        $gray-7;
$input-border-color:                $gray-8;
$input-shadow-color:                $gray-10;
$input-border-color-focus:          $color-blue-bright;

// Tab panel
$tabs-nav-bg-color:                 $white;
$tabs-nav-bg-color-focus:           $gray-10;
$tabs-nav-fg-color:                 $gray-6;
$tabs-nav-fg-color-focus:           $klp-black;
$tabs-nav-border-color:             $gray-8;
$tabs-nav-border-color-focus:       $gray-6;
$tabs-caret-border-color:           $gray-5;
$tabs-content-bg-color:             $tabs-nav-bg-color-focus;

// Infomessage
$infomessage-bg-color:              $gray-12;
$infomessage-legacy-bg-color:       $color-green-ex_light;
$infomessage-icon-bg-color:         $color-yellow;
$infomessage-separator-color:       $gray-8;

// Action message
$actionmessage-bg-color:            $klp-powder-blue;

// Validation message
$validation-fg-color: $klp-red;
$validation-bg-color: $klp-fair-pink;
$validation-border-color: $klp-red;
