
.toggle_hide--narrow {
  &:before {
    @include span(4);
  }
  @include span(8);
}



// Compositions

.composition {

  // ALPA
  
  /////////////////////////////////////   /////////////////
  ///////////////// 1 /////////////////   /////// 2 ///////
  /////////////////////////////////////   ////////////////

  &--alpa {
    @include container;

    > div:nth-child(1) {
      @include breakpoint($bp-xl-min) {
        @include span(8);
      }
    }
    > div:nth-child(2) {
      @include breakpoint($bp-xl-min) {
        @include span(4 last);
      }
    }
  }



  // BETA

  /////////////////   /////////////////    /////////////////
  /////// 1 //////    /////// 2 //////     /////// 3 //////
  /////////////////   /////////////////   /////////////////

  &--beta {
    @include container;
    > div {
      @include span(12);
      margin-bottom: rem-calc(12);
    }
    @include breakpoint($bp-xl-min) {
      > div {
        @include span(4);
  
        &:nth-child(3n),
        &:last-child {
          margin-right: 0;
          @include span(4 last);
        }
      }
    }
  }



  // GAMMA

  ////////////////////////   ////////////////////////  
  ////////// 1 //////////    /////////// 2 //////////  
  ////////////////////////   //////////////////////// 

  &--gamma {
    @include container;
    > div {
      @include breakpoint($bp-l-min) {
        float: left;
        padding: 0;
        @include span(6);
        &:nth-child(even) {
            @include span(6 last);
          
        }
      }
    }
  }

  &--gamma--mobile {
    @include container;
    > div {
      float: left;
      padding: 0;
      @include span(6);
      &:nth-child(even) {
          @include span(6 last);
        
      }
    }
  }




  // DELTA
  
   /////////////////  /////////////////////////////////////
   /////// 1 ///////  ////////////////2 /////////////////
   ////////////////  /////////////////////////////////////

  &--delta {
    @include container;
    
    @include breakpoint($bp-l-max) {
      > div:nth-child(even) {
        margin-bottom: rem-calc(12);
      }
    }
    
    @include breakpoint($bp-l-min) {
      > div:nth-child(odd) {
        @include span(4);
      }
      > div:nth-child(even) {
        @include span(8 last);
      }
    }
  }


  // EPSILON
  
   ///////////////////////////////////// /////////////////  
   //////////////// 1 /////////////////  /////// 2 ///////  
   //////////////////////////////////// /////////////////  

  &--epsilon {
    @include container;
    
    @include breakpoint($bp-l-max) {
      > div:nth-child(even) {
        margin-bottom: rem-calc(12);
      }
    }
    
    @include breakpoint($bp-l-min) {
      > div:nth-child(even) {
        background: #eee;
        @include span(4);
      }
      > div:nth-child(odd) {
        background: #aaa;
        @include span(8 last);
      }
    }
  }



  // ZETA
  
   /////////////////  /////////////////////////////////////
   /////// 1 ///////  ////////////////2 /////////////////
   ////////////////  /////////////////////////////////////

  &--zeta {
    @include container;
    
    @include breakpoint($bp-l-max) {
      > div:nth-child(even) {
        margin-bottom: rem-calc(12);
      }
    }
    
    @include breakpoint($bp-l-min) {
      > div:nth-child(odd) {
        @include span(5);
      }
      > div:nth-child(even) {
        @include span(7 last);
      }
    }
  }


  // FOUR

  &--four {
    @include container;
    > div,
    > section {
      @include span(6);
      margin-bottom: rem-calc(6);


    }

    @include breakpoint($bp-l-max) {
      > div,
      > section {
        @include span(6);
  
        &:nth-child(even) {
          @include span(6 last);
        }
      }
    }

    @include breakpoint($bp-l-range) {
      > div,
      > section {
        @include span(6);
  
        &:nth-child(even) {
          @include span(6 last);
        }
      }
    }
    @include breakpoint($bp-xl-range) {
      > div,
      > section {
        @include span(6);
  
        &:nth-child(even) {
          @include span(6 last);
        }
      }
    }
    @include breakpoint($bp-xxl-min) {
      > div,
      > section {
        @include span(3);
  
        &:last-child {
          @include span(3 last);
        }
      }
    }
  }


}


// Misc

.site-top {
  padding: 1.5em 0;
}

.row {
  @include container;
}