// ==========================================================================
// Vertical Rhythm setup
// ==========================================================================

$base-font-size: 16px;
$base-line-height: 6px;
$base-unit: $base-line-height;
$rhythm-unit: 'rem';

$grid-baseline-color: $red;
$grid-background-baseline-color: rgba($grid-baseline-color, 0.8);
$grid-background-baseline-height: $base-line-height;

//Refactor this
$form-item-margin-bottom: 2.5rem; //40px
$form-item-inner-margin: 0.625em; //10px
$input-width-small: 5rem;
$input-width-medium: 10rem;
$input-width-large: 15rem;
$input-width-xlarge: 17rem;

$small-column-gutter: ($base-unit * 2);







// ==========================================================================
// Font stack definitions (Webfonts and primary stacks defined in _fonts.scss)
// ==========================================================================

$head-font-family:      $base-font-family;
$body-font-family:      $base-font-family;

// ==========================================================================
// Typographic Scale: 1.333 "Perfect Fourth" (http://type-scale.com/)
// ==========================================================================
$type-scale: (
    tiny:       (base-lines: 3, font-size: 12px),
    small:      (base-lines: 3, font-size: 14px),
    base:       (base-lines: 4, font-size: $base-font-size),
    medium:     (base-lines: 4, font-size: 18px),
    large:      (base-lines: 5, font-size: 24px),
    xlarge:     (base-lines: 6, font-size: 30px),
    xxlarge:    (base-lines: 7, font-size: 36px),
    xxxlarge:   (base-lines: 8, font-size: 48px),
    jumbo:      (base-lines: 12, font-size: 72px),
    super:      (base-lines: 18, font-size: 108px)
);

$type-weight: (
    extra-light:    200, // Kofi Pure Serif (Light)
    light:          300, // Source Sans Pro (Light)
    regular:        400, // Source Sans Pro (Regular), Kofi Pure Serif (Regular), Kofi Pure Sans (Regular)
    semi-bold:      600, // Source Sans Pro (Semibold), Kofi Pure Serif (Medium)
    bold:           700, // Source Sans Pro (Bold), Kofi Pure Serif (Bold)
    ultra-bold:     900  // Kofi Pure Serif (Heavy)
);

// ==========================================================================
// icon Scale: sets width/ height of icons. Matches $type-scale
// ==========================================================================
$icon-scale: (
    tiny:       (width: 12px, height: 12px),
    mini:       (width: 16px, height: 16px),
    small:      (width: 18px, height: 18px),
    base:       (width: 24px, height: 24px),
    medium:     (width: 30px, height: 30px),
    large:      (width: 36px, height: 36px),
    xlarge:     (width: 42px, height: 42px),
    xxlarge:    (width: 54px, height: 54px)
);

// ==========================================================================
// Media Queries
// ==========================================================================
$breakpoint-no-queries: false;
$breakpoint-no-query-fallbacks: false;
$breakpoint-to-ems: true;

//
// Usage:
// @include breakpoint($bp-s-min) {
//     background: red;
// }
//

$bp-print:      print;            // @media print
$bp-xs-max:     max-width 320px;  // @media (max-width: 320px)
$bp-s-min:      min-width 321px;  // @media (min-width: 321px)
$bp-s-range:    321px 480px;      // @media (min-width: 321px) and (max-width: 480px)
$bp-s-max:      max-width 480px;  // @media (max-width: 480px)
$bp-m-min:      min-width 481px;  // @media (min-width: 481px)
$bp-m-range:    481px 600px;      // @media (min-width: 481px) and (max-width: 600px)
$bp-m-max:      max-width 600px;  // @media (max-width: 600px)
$bp-l-min:      min-width 601px;  // @media (min-width: 601px)
$bp-l-range:    601px 800px;      // @media (min-width): 601px) and (max-width: 800px)
$bp-l-max:      max-width 800px;  // @media (max-width: 800px)
$bp-xl-min:     min-width 801px;  // @media (min-width: 801px)
$bp-xl-range:   801px 1024px;     // @media (min-width: 801px) and (max-width: 1024px)
$bp-xl-max:     max-width 1024px; // @media (max-width: 1024px)
$bp-xxl-min:    min-width 1025px; // @media (min-width: 1025px)
$bp-xxl-range:  1025px 1452px;    // @media (min-width: 1025px) and (max-width: 1452px)
$bp-xxl-max:    max-width 1452px; // @media (max-width: 1452px)
$bp-xxxl-min:   min-width 1453px; // @media (min-width: 1453px)

// ==========================================================================
// Timing/ duration
// ==========================================================================
$duration-instantly:    0s;
$duration-immediately:  0.05s;
$duration-quickly:      0.1s;
$duration-promptly:     0.2s;
$duration-slowly:       0.4s;
$duration-paused:       3.2s;





// STRIP UNIT
// It strips the unit of measure and returns it
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}





/// Converts a pixel value to matching rem value. *Any* value passed, regardless of unit, is assumed to be a pixel value. By default, the base pixel value used to calculate the rem value is taken from the `$global-font-size` variable.
/// @access private
///
/// @param {Number} $value - Pixel value to convert.
/// @param {Number} $base [null] - Base for pixel conversion.
///
/// @returns {Number} A number in rems, calculated based on the given value and the base pixel value. rem values are passed through as is.
@function px-to-rem($value, $base: null) {
    // Check if the value is a number
    @if type-of($value) != 'number' {
        @warn inspect($value) + ' was passed to rem-calc(), which is not a number.';
        @return $value;
    }

    // Calculate rem if units for $value is not rem
    @if unit($value) != 'rem' {
        $value: strip-unit($value) / strip-unit($base) * 1rem;
    }

    // Turn 0rem into 0
    @if $value == 0rem {
        $value: 0;
    }

    @return $value;
}






/// Converts one or more pixel values into matching rem values.
///
/// @param {Number|List} $values - One or more values to convert. Be sure to separate them with spaces and not commas. If you need to convert a comma-separated list, wrap the list in parentheses.
/// @param {Number} $base [null] - The base value to use when calculating the `rem`. If you're using Foundation out of the box, this is 16px. If this parameter is `null`, the function will reference the `$base-font-size` variable as the base.
///
/// @returns {List} A list of converted values.
@function rem-calc($values, $base: null) {
    $rem-values: ();
    $count: length($values);

    // If no base is defined, defer to the global font size
    @if $base == null {
        $base: $base-font-size;
    }

    // If the base font size is a %, then multiply it by 16px
    // This is because 100% font size = 16px in most all browsers
    @if unit($base) == '%' {
        $base: ($base / 100%) * 16px;
    }

    @if $count == 1 {
        @return px-to-rem($values, $base);
    }

    @for $i from 1 through $count {
        $rem-values: append($rem-values, px-to-rem(nth($values, $i), $base));
    }

    @return $rem-values;
}








// ==========================================================================
// Susy 2 Grid settings
// ==========================================================================

$susy: (
    columns: 12,
    gutters: 24px/58px,
    column-width: 0px,
    container: 1000px,
    gutter-position: inside-static,
    debug: (
            image: hide,
            color: rgba($red, 0.25),
            output: background,
            toggle: bottom right,
    ),
    global-box-sizing: border-box,
    use-custom: (
        box-sizing: false,
    )
);

$wide: (
    columns: 12,
    gutters: 36px/85px,
    column-width: 85px,
    container: 1416px,
    gutter-position: inside-static,
    debug: (
            image: hide,
            color: rgba($red, 0.25),
            output: background,
            toggle: bottom right,
    ),
    global-box-sizing: border-box,
    use-custom: (
        box-sizing: false,
    )
);










// Fix this ///////////////
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container-position: left,

  columns: 12,
  container: 1280px,
  gutters: 1/6,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
);

.container {
  // @include container(image show);
  @include container;
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
}
.container--narrow {
  margin: 0 auto;
  padding: 0 1em;
}
.container--article {
    padding: 0 1em;

    @include breakpoint($bp-xl-min) {
        @include span(7);
        // max-width: 70ch;
        margin: 0 auto;
        float: none;
    }
    
}

///////////////



.mobile_hide {
    @include breakpoint($bp-m-max) {
        display: none;
    }
}

.mobile_only {
    @include breakpoint($bp-m-min) {
        display: none;
    }
}