@font-face {
  font-family: "klp-fonticon";
  src: url('../fonts/icons/klp-fonticon.eot');
  src: url('../fonts/icons/klp-fonticon.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icons/klp-fonticon.woff') format('woff'),
       url('../fonts/icons/klp-fonticon.ttf') format('truetype'),
       url('../fonts/icons/klp-fonticon.svg#klp-fonticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.klp-fonticon {
    font-family: "klp-fonticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
}

.icon-angle-down:before,
.icon-angle-left:before,
.icon-angle-right:before,
.icon-angle-up:before,
.icon-arrow-down-tail:before,
.icon-arrow-left:before,
.icon-arrow-right-tail:before,
.icon-arrow-right:before,
.icon-arrow-up-tail:before,
.icon-arrowdown:before,
.icon-arrowleft:before,
.icon-arrowright:before,
.icon-calendar:before,
.icon-check:before,
.icon-cog_outline:before,
.icon-cross-circle:before,
.icon-cross:before,
.icon-dot:before,
.icon-dummy:before,
.icon-error:before,
.icon-exclamation:before,
.icon-external:before,
.icon-file-txt_outline:before,
.icon-graph:before,
.icon-hamburger:before,
.icon-heart:before,
.icon-info-circle:before,
.icon-info:before,
.icon-klp:before,
.icon-login:before,
.icon-logout:before,
.icon-mail_outline:before,
.icon-people:before,
.icon-search-small:before,
.icon-search:before,
.icon-stack:before,
.icon-uniE600:before,
.icon-uniE601:before,
.icon-uniE602:before,
.icon-user:before,
.icon-wallet:before,
.icon-wrench:before,
.icon-wrench_outline:before {
  font-family: "klp-fonticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}
.klp-fonticon--angle-down:before, .icon-angle-down:before { content: "\EA01" }
.klp-fonticon--angle-left:before, .icon-angle-left:before { content: "\EA02" }
.klp-fonticon--angle-right:before, .icon-angle-right:before { content: "\EA03" }
.klp-fonticon--angle-up:before, .icon-angle-up:before { content: "\EA04" }
.klp-fonticon--arrow-down-tail:before, .icon-arrow-down-tail:before { content: "\EA05" }
.klp-fonticon--arrow-left:before, .icon-arrow-left:before { content: "\EA06" }
.klp-fonticon--arrow-right-tail:before, .icon-arrow-right-tail:before { content: "\EA07" }
.klp-fonticon--arrow-right:before, .icon-arrow-right:before { content: "\EA08" }
.klp-fonticon--arrow-up-tail:before, .icon-arrow-up-tail:before { content: "\EA09" }
.klp-fonticon--arrowdown:before, .icon-arrowdown:before { content: "\EA0A" }
.klp-fonticon--arrowleft:before, .icon-arrowleft:before { content: "\EA0B" }
.klp-fonticon--arrowright:before, .icon-arrowright:before { content: "\EA0C" }
.klp-fonticon--calendar:before, .icon-calendar:before { content: "\EA0D" }
.klp-fonticon--check:before, .icon-check:before { content: "\EA0E" }
.klp-fonticon--cog_outline:before, .icon-cog_outline:before { content: "\EA0F" }
.klp-fonticon--cross-circle:before, .icon-cross-circle:before { content: "\EA10" }
.klp-fonticon--cross:before, .icon-cross:before { content: "\EA11" }
.klp-fonticon--dot:before, .icon-dot:before { content: "\EA12" }
.klp-fonticon--dummy:before, .icon-dummy:before { content: "\EA13" }
.klp-fonticon--error:before, .icon-error:before { content: "\EA14" }
.klp-fonticon--exclamation:before, .icon-exclamation:before { content: "\EA15" }
.klp-fonticon--external:before, .icon-external:before { content: "\EA16" }
.klp-fonticon--file-txt_outline:before, .icon-file-txt_outline:before { content: "\EA17" }
.klp-fonticon--graph:before, .icon-graph:before { content: "\EA18" }
.klp-fonticon--hamburger:before, .icon-hamburger:before { content: "\EA19" }
.klp-fonticon--heart:before, .icon-heart:before { content: "\EA1A" }
.klp-fonticon--info-circle:before, .icon-info-circle:before { content: "\EA1B" }
.klp-fonticon--info:before, .icon-info:before { content: "\EA1C" }
.klp-fonticon--klp:before, .icon-klp:before { content: "\EA1D" }
.klp-fonticon--login:before, .icon-login:before { content: "\EA1E" }
.klp-fonticon--logout:before, .icon-logout:before { content: "\EA1F" }
.klp-fonticon--mail_outline:before, .icon-mail_outline:before { content: "\EA20" }
.klp-fonticon--people:before, .icon-people:before { content: "\EA21" }
.klp-fonticon--search-small:before, .icon-search-small:before { content: "\EA22" }
.klp-fonticon--search:before, .icon-search:before { content: "\EA23" }
.klp-fonticon--stack:before, .icon-stack:before { content: "\EA24" }
.klp-fonticon--uniE600:before, .icon-uniE600:before { content: "\EA25" }
.klp-fonticon--uniE601:before, .icon-uniE601:before { content: "\EA26" }
.klp-fonticon--uniE602:before, .icon-uniE602:before { content: "\EA27" }
.klp-fonticon--user:before, .icon-user:before { content: "\EA28" }
.klp-fonticon--wallet:before, .icon-wallet:before { content: "\EA29" }
.klp-fonticon--wrench:before, .icon-wrench:before { content: "\EA2A" }
.klp-fonticon--wrench_outline:before, .icon-wrench_outline:before { content: "\EA2B" }
