// ==========================================================================
// BASE: icons
// ==========================================================================

.klp-icon {
    display: block;
}

// Modifiers: Dummy (debug)
// ==========================================================================
.klp-icon--dummy {
    color: inherit;
    border: 1px solid currentColor;
    position: relative;

    &:after {
        content: 'ic';
        font-size: 10px;
        text-transform: uppercase;
        //font-family: $base-font-family;
        @include type-weight(extra-bold);
        font-style: normal;
        @include centerer(true, true);
    }
}

// Modifiers: Flow
// ==========================================================================
.klp-icon--inline {
    display: inline-block !important;
    vertical-align: middle;
}

// Modifiers: Size
// ==========================================================================

.klp-iconsize--tiny {
    @include icon-scale(tiny);

    &.klp-fonticon {
        font-size: 12px;
    }
}

.klp-iconsize--mini {
    @include icon-scale(mini);

    &.klp-fonticon {
        font-size: 16px;
    }
}

.klp-iconsize--small {
    @include icon-scale(small);

    &.klp-fonticon {
        font-size: 18px;
    }
}

.klp-iconsize--base {
    @include icon-scale(base);

    &.klp-fonticon {
        font-size: 24px;
    }
}

.klp-iconsize--medium {
    @include icon-scale(medium);

    &.klp-fonticon {
        font-size: 30px;
    }
}

.klp-iconsize--large {
    @include icon-scale(large);

    &.klp-fonticon {
        font-size: 36px;
    }
}

.klp-iconsize--xlarge {
    @include icon-scale(xlarge);

    &.klp-fonticon {
        font-size: 42px;
    }
}

.klp-iconsize--xxlarge {
    @include icon-scale(xxlarge);

    &.klp-fonticon {
        font-size: 54px;
    }
}

// Modifiers: Color
// ==========================================================================

// Font icons use property 'color'
.klp-fonticon {
    .klp-icon--light {
        color: $white;
    }

    .klp-icon--dark {
        color: $klp-black;
    }
}

// SVG icons use property 'fill'
.klp-svgicon {
    .klp-icon--light {
        fill: $white;
    }

    .klp-icon--dark {
        fill: $klp-black;
    }
}
