// ==========================================================================
// BASE: typography
// ==========================================================================
// Typographic weight
// Uses the mixin type-weight() with the appropriate key as parameter for
// fetching values for font-weight from the $type-weight()-map in
// _config.scss.
//
// NOTE: Not all font-families contain every weight defined in the
// $type-weight()-map. Use with caution, and always check the result for the
// font-family in question.
// ==========================================================================
.klp-font--light {
    @include type-weight(light);
}

.klp-font--regular {
    @include type-weight(regular);
}

.klp-font--semibold {
    @include type-weight(semi-bold);
}

.klp-font--bold {
    @include type-weight(bold);
}

// Modifiers: Size
// ==========================================================================
.klp-fontsize--tiny {
    @include type-scale(tiny);
}

.klp-fontsize--small {
    @include type-scale(small);
}

.klp-fontsize--base {
    @include type-scale(base);
}

.klp-fontsize--medium {
    @include type-scale(medium);
}

.klp-fontsize--large {
    @include type-scale(large);
}

.klp-fontsize--xlarge {
    @include type-scale(xlarge);
}

.klp-fontsize--xxlarge {
    @include type-scale(xxlarge);
}

.klp-fontsize--xxxlarge {
    @include type-scale(xxxlarge);
}

.klp-fontsize--jumbo {
    @include type-scale(jumbo);
}

.klp-fontsize--super {
    @include type-scale(super);
}

// Headers
// Headers and header-classes uses a combination of the following properties:
// - font-family
// - font-size / line-height (mixin type-scale)
// - font-weight (mixin type-weight)
// ==========================================================================
%heading-base {
    font-family: $base-font-family;
}

h1,
.klp-h1 {
    @extend %heading-base;
    @include type-scale(xxxlarge);
    @include type-weight(light);
}

h2,
.klp-h2 {
    @extend %heading-base;
    @include type-scale(xxlarge);
    @include type-weight(light);
}

h3,
.klp-h3 {
    @extend %heading-base;
    @include type-scale(xlarge);
    @include type-weight(light);
}

h4,
.klp-h4 {
    @extend %heading-base;
    @include type-scale(medium);
    @include type-weight(bold);
}

h5,
.klp-h5 {
    @extend %heading-base;
    @include type-scale(base);
    @include type-weight(bold);
}

h6,
.klp-h6 {
    @extend %heading-base;
    @include type-scale(small);
    @include type-weight(bold);
}

// Editoria wrapper
// General wrapper for editorial content. Can be used for normalizing typography
// where editorial content(HTML) is used
// E.g: article, universal-element, product-element, infomessages, accordions, tabs
// ==========================================================================
.klp-editor {
    * {
        font-family: $base-font-family;

        // A hack to select multiple :not selectors. The reason is that CSS3
        // currently does not support a selector list as argument to :not(),
        // only a single simple selector. It will be supported in CSS4:
        // https://www.w3.org/TR/selectors4/#negation
        // &:not(h1) {
        //     &:not(h2) {
        //         &:not(h3) {
        //             &:not(h4) {
        //                 &:not(h5) {
        //                     &:not(h6) {
        //                         @include type-scale(base);
        //                         @include type-weight(regular);
        //                         text-rendering: auto;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
    }

    > * + * {
        @include klp-base-margin($top: 3);
    }

    > p,
    & > ul {
        max-width: 600px;
        max-width: 70ch;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include klp-base-margin($top: 6);

        + * {
            margin-top: 0;
        }
    }

    h1 {
        position: relative;

        &:before {
            content: 'H1 not allowed here!';
            position: absolute;
            background: $red;
            color: $white;
            font-size: inherit;
            line-height: inherit;
            left: 0;
            top: 0;
            display: inline-block;
        }
    }

    h2 {
        @include type-scale(large);
        @include type-weight(semi-bold);
        color: $subtitle-fg-color;
    }

    h3 {
        @include type-scale(medium);
        @include type-weight(semi-bold);
        color: $subtitle-fg-color;
        text-transform: uppercase;
    }

    h4 {
        @include type-weight(regular);
        text-transform: uppercase;
    }

    h5 {
        @include type-weight(semi-bold);
    }

    h6 {
        @include type-weight(bold);
    }

    b,
    strong {
        font-weight: bold !important;
    }

    a {
        @include txt-link;
        color: inherit;
    }

    ol {
        margin-left: rem-calc(18);
    }

    ul {
        margin-left: rem-calc(20);
    }

    li {
        + li {
            @include klp-base-margin($top: 0);
        }
    }

    table {
        border: 0;
    }

    table thead {
        text-transform: uppercase;
    }

    table thead tr th,
    table thead tr td {
        font-weight: 600 !important;
    }

    table tr th,
    table tr td {
        padding: 18px;
        background: $table-bg-color;
        font-size: 16px !important;
        line-height: 24px !important;
        border-bottom: 1px solid $table-border-color;
    }

    table tr td {
        font-size: 16px !important;
    }

    table tr th {
        font-size: 14px !important;
    }
}

strong {
    // Overwriting Foundation
    font-weight: 600;
}