// ==========================================================================
// MIXIN: centerer
// ==========================================================================

//
// A mixin that helps absolute centering, or in either X or Y direction
//
// USAGE: center-x + center-y
// @include centerer(true, true);
//
// USAGE: center-x
// @include centerer(true, false);
//
// USAGE: center-y
// @include centerer(false, true);
//

@mixin centerer($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    } @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}
