// ==========================================================================
// MIXIN: coverer
// ==========================================================================

//
// An easy way to make an element cover e-v-e-r-y-t-h-i-n-g, or the parent the
// element is relative to.
//
// USAGE:
//
// @include coverer;
//

@mixin coverer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
