// ==========================================================================
// MIXIN: type-scale
// ==========================================================================

//
// This mixin takes a parameter for typographic scale (sass-map: $type-scale).
// It then uses the function map-fetch to reach deep key:value pairs within
// this map. Finally it outputs the correct pairing of font-size and
// line-height.
//
// USAGE:
//
// @include type-scale(xxlarge);
//

@mixin type-scale($scale, $map: $type-scale) {
    $font-size: map-fetch($map, $scale font-size);
    $base-lines: map-fetch($map, $scale base-lines);
    font-size: $font-size;
    line-height: $base-lines * $base-unit;
}
