// ==========================================================================
// MIXIN: link
// ==========================================================================

//
// We'd like to avoid styling html-elements directly, especially the
// look and feel of links. Links are so widely used, and in so many different
// contexts, that applying a default styling on the <a>-element can lead to
// a lot of style resets/ overrides later on.
//
// So instead, we'd like to style links based on their context. In many cases
// we only need a standard text-link, and for that, we provide this mixin.
//
// USAGE:
//
// @include txt-link;
//

@mixin txt-link {
    color: $link-color;
    text-decoration: none;
    border-bottom: 1px solid $link-border-color;

    &:hover {
        color: $link-color-hover;
        border-bottom: 1px solid $link-border-color-hover;
    }
}
