// ==========================================================================
// MIXIN: reset-list
// ==========================================================================

//
// This mixins removed default list styling often applied by the browser's
// default stylesheet. It removed bullets, indentation and margins.
//
// USAGE:
//
// @include reset-list;
//

@mixin reset-list {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
