// ==========================================================================
// MIXIN: klp-base-padding
// ==========================================================================

//
// Short description of what the mixin actually does
//
// USAGE:
//
// @include klp-base-padding(0, 2, 3, 4) = padding: 0px 12px 18px 24px;
// @include klp-base-padding($bottom: 3) = padding-bottom: 18px;

@mixin klp-base-padding(
    $top: null,
    $right: null,
    $bottom: null,
    $left: null) {
    @if $top != null and $right != null and $bottom != null and $left != null {
        padding: ($base-unit * $top) ($base-unit * $right) ($base-unit * $bottom) ($base-unit * $left);
    } @else {
        @if $top != null and $top != 0 {
            padding-top: $base-unit * $top;
        }
        @if $right != null and $right != 0 {
            padding-right: $base-unit * $right;
        }
        @if $bottom != null and $bottom != 0 {
            padding-bottom: $base-unit * $bottom;
        }
        @if $left != null and $left != 0 {
            padding-left: $base-unit * $left;
        }
    }
}
