{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body>

    <div style="margin: 0 auto; text-align: center; border-bottom: 1px solid #ddd; overflow: hidden; height: 99px; background: url('images/klp-header-bg.jpg');">
        
        <div class="container">
            <a href="./">
                <img src="images/klp-header-left.jpg" style="float: left;">
                <img src="images/klp-header-right.jpg" style="float: right;">
            </a>
        </div>

    </div>

    {% block content %}{% endblock %}
    {% block javascript %}

      <!-- <script src="javascripts/app.js"></script> -->

    {% endblock %}

<script>

  $('.toggle-link').click(function(){
    console.log("click");
    $(this).next('.toggle_hide').toggleClass('toggle_show');
  });

$('.toggle-label input').change(function() {
  console.log('change');
 $('.toggle-label_hide').toggleClass('toggle_show');
});

</script>
  </body>
</html>
