<section class="calculator">









        <div>
          <ol class="calculator__steps">
            <li class="field_1 show" id="field_1">
              <div>
        
                <h1 style="font-size: 1.5em; margin: 0; margin-bottom: 0;">Hjelp til å velge fond</h1>





                <div class="composition--delta">
                  <div>
                    <label class="klp-font--bold klp-fontsize--medium">Hvor mye vil du spare?</label><br><br>
                  </div>
                  <div>

                    <div class="composition--beta">
                      <div>

                        <div class="">
                          <section class="bgcolor-6">
                            <span class="input input--juro">
                              <input class="input__field input__field--juro" type="text" id="belop_fast" />
                              <label class="input__label input__label--juro" for="input-28">
                                <span class="input__label-content input__label-content--juro">Månedsbeløp</span>
                              </label>
                            </span>
                          </section>
                          
                        </div>

                      </div>

                      <div style="text-align: center; padding: 1em 0 0;">
                        <strong>og/eller</strong>
                      </div>

                      <div>
                      <div class="float-right">

                        <div class="">
                          <section class="content bgcolor-6">
                            <span class="input input--juro">
                              <input class="input__field input__field--juro" type="text" id="belop_engangs" />
                              <label  class="input__label input__label--juro" for="input-28">
                                <span class="input__label-content input__label-content--juro">Engangsbeløp</span>
                              </label>
                            </span>
                          </section>
                          
                        </div>

                    </div>

                  </div>
                </div>




              </div>

            </li>

            <li class="field_2 hide" id="field_2">
              <div>


                <div class="composition--delta">
                    <div>

                      <label class="klp-font--bold klp-fontsize--medium">Hvor lenge vil du spare?</label>

                    </div>
                    <div>

                        <div>


                        <form>
                          <div class="mobile_only">

                            <div class="link--down" style="display: inline-block; position: relative; margin-right: .5em;" >

                              <select style="width: 50px;" class="klp-font--bold">
                                <option>3 år</option>
                                <option>4 år</option>
                                <option>5 år</option>
                                <option>6 år</option>
                                <option>7 år</option>
                                <option>8 år</option>
                                <option>9 år</option>
                                <option>10 år</option>
                                <option>11 år</option>
                                <option>12 år</option>
                                <option>13 år</option>
                                <option>14 år</option>
                                <option>15 år</option>
                                <option>16 år</option>
                                <option>17 år</option>
                                <option>18 år</option>
                                <option>19 år</option>
                                <option>20 år</option>
                              </select>
                            </div>

                          </div>

                          <div class="range-control mobile_hide">
                            <input id="tid" type="range" min="0" max="25" step="1" value="5" data-thumbwidth="20">
                            <output id="tid_output" name="rangeVal" style="left: calc(20% - -6px);">5</output>
                          </div>

                        </form>

                        <script>
                          $('input[type="range"]').on('input', function() {

                          var control = $(this),
                            controlMin = control.attr('min'),
                            controlMax = control.attr('max'),
                            controlVal = control.val(),
                            controlThumbWidth = control.data('thumbwidth');

                          var range = controlMax - controlMin;
                          
                          var position = ((controlVal - controlMin) / range) * 100;
                          var positionOffset = Math.round(controlThumbWidth * position / 100) - (controlThumbWidth / 2);
                          var output = control.next('output');
                          
                          output
                            .css('left', 'calc(' + position + '% - ' + positionOffset + 'px)')
                            .text(controlVal);

                        });
                        </script>




                        <div class="sparekontoinfo hide">
                          <p>Hvis du har tenkt å spare i mindre enn tre år anbefaler vi deg å spare i banken heller enn i fond. <a class="link" href="sparing.html">Les mer om forskjellen på banksparing og fond</a></p>

                          <a class="klp-btn klp-btn--secondary" href="bestilling-{{ next }}"><span class="klp-btn__text">Start banksparing</span></a>

                        </div>


                          <span style="display: block; margin: 1.5em 0 0;">Det er ingen binding. Du velger selv når du vil ta ut pengene. Men: Jo lengre du sparer, jo større blir kostnadsfordelen.</span>

                          <br>

                          <a class="klp-btn klp-btn--primary" id="button-show-result"><span class="klp-btn__text">Vis fondet som passer for meg</span></a>


                        </div>

                    </div>
                </div>



              </div>
            </li>

            <li class="field_3 hide" id="field_3">

              <div>


                <div data-val="200" style="cursor: pointer;" class="velg-fond--tilbake">
                <div id="calculator__recommended" class="calculator__fund-suggestion composition--delta">

                  <div>
                    <img style="width: 90%;" src="images/people-2.jpg">
                  </div>

                  <div>
                    <span class="klp-font--light" style="font-size: 19px;">Et fond som kan passe for deg</span>

                    <h2 class="klp-font--semibold" style="color: black; font-size: 22px;"><a class="link" href="fullvisning-pakke.html">KLP Ivaretatt Nær framtid</a></h2>

                    <p>Ivaretatt Nær framtid er et fond for deg som vil spare i 5-10 år. Dette er en samling fond med lav svingningsgrad som er populære blant mange med samme sparehorisont som deg.</p>

                      <div class="numbers composition--beta">
                          <div>
                              <label>Sparehorisont</label>
                              <span class="number">3–5 år</span>
                          </div>
                          <div>
                              <label>Type</label>
                              <div class="number">Aksjefond</div>
                          </div>
                          <div>
                              <label>Risiko</label>
                              
                              <div>
                                <div>
                                  <div style="float: left; width: 11%; height: 1.1em; display: block; background: #333; margin-right: 1px;"></div>
                                  <div style="float: left; width: 11%; height: 1.1em; display: block; background: #333; margin-right: 1px;"></div>
                                  <div style="float: left; width: 11%; height: 1.1em; display: block; background: #333; margin-right: 1px;"></div>
                                  <div style="float: left; width: 11%; height: 1.1em; display: block; background: #ddd; margin-right: 1px;"></div>
                                  <div style="float: left; width: 11%; height: 1.1em; display: block; background: #ddd; margin-right: 1px;"></div>
                                  <div style="float: left; width: 11%; height: 1.1em; display: block; background: #ddd; margin-right: 1px;"></div>
                                  <div style="float: left; width: 11%; height: 1.1em; display: block; background: #ddd; margin-right: 1px;"></div>
                                </div>
                              </div>
                          </div>
                      </div>



                  </div>
                </div>
                </div>




                <div id="calculator__secondOption" class="calculator__fund-suggestion hidden composition--delta">

                  <div>

                    <img style="width: 90%; class="map" src="images/map-3.png">

                  </div>

                  <div>
                    <div>


                      <span class="klp-font--light" style="font-size: 19px;">Du har valgt å se:</span>

                      <h2 class="klp-font--semibold" style="color: black; font-size: 22px;"><a class="link" href="fullvisning-pakke.html">KLP Ivaretatt Nær framtid</a></h2>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit, ipsum eget vehicula hendrerit, lectus turpis lobortis lacus, eget tincidunt nunc ligula vel arcu. Fusce sed auctor purus, ac eleifend tellus. Proin a lobortis tortor. Cras eu velit at dui egestas consequat.</p>

                      <div class="numbers composition--beta">
                          <div>
                              <label>Sparehorisont</label>
                              <span class="number">3–5 år</span>
                          </div>
                          <div>
                              <label>Type</label>
                              <div class="number">Aksjefond</div>
                          </div>
                          <div>
                              <label>Risiko</label>
                              
                              <div>
                                <div>
                                  <div style="float: left; width: 11%; height: 1.1em; display: block; background: #333; margin-right: 1px;"></div>
                                  <div style="float: left; width: 11%; height: 1.1em; display: block; background: #333; margin-right: 1px;"></div>
                                  <div style="float: left; width: 11%; height: 1.1em; display: block; background: #333; margin-right: 1px;"></div>
                                  <div style="float: left; width: 11%; height: 1.1em; display: block; background: #ddd; margin-right: 1px;"></div>
                                  <div style="float: left; width: 11%; height: 1.1em; display: block; background: #ddd; margin-right: 1px;"></div>
                                  <div style="float: left; width: 11%; height: 1.1em; display: block; background: #ddd; margin-right: 1px;"></div>
                                  <div style="float: left; width: 11%; height: 1.1em; display: block; background: #ddd; margin-right: 1px;"></div>
                                </div>
                              </div>
                          </div>
                      </div>

                      <br>

                      <div class="numbers composition--beta">
                        <a data-val="200" style="cursor: pointer;" class="link velg-fond--tilbake">Tilbake til fondet som kan passe for deg<i class="klp-icon klp-icon--inline klp-iconsize--small klp-fonticon klp-fonticon--angle-up"></i></a>

                      </div>

                    </div>

                  </div>


                </div>



                <br><br>

                <div style="text-align: center;">
                <div style="display: inline-block; text-align: left; ">

                <div class="klp-font--light klp-fontsize--medium">
                    
                    Etter 

                  <div class="link--down" style="display: inline-block; position: relative; margin-right: .5em;" >

                    <select style="width: 50px;" class="klp-font--bold">
                      <option>3 år</option>
                      <option>4 år</option>
                      <option>5 år</option>
                      <option>6 år</option>
                      <option>7 år</option>
                      <option>8 år</option>
                      <option>9 år</option>
                      <option>10 år</option>
                      <option>11 år</option>
                      <option>12 år</option>
                      <option>13 år</option>
                      <option>14 år</option>
                      <option>15 år</option>
                      <option>16 år</option>
                      <option>17 år</option>
                      <option>18 år</option>
                      <option>19 år</option>
                      <option>20 år</option>
                    </select>
                  </div>


                    <!-- <span class="klp-font--bold">10 år</span>  -->

                    i fondet 

                  <div class="link--down" style="display: inline; margin-right: .5em;" >

                    <select id="resizing_select" class="klp-font--bold velg-fond">
                      <option disabled>Fondspakker</option>

                      <option class="recommended" selected value="200">KLP Ivaretatt Nær framtid</option>
                      <option value="300">KLP Ivaretatt Om en stund</option>
                      <option value="400">KLP Ivaretatt For dagene som kommer</option>
                      
                      <option disabled>Indeksfond</option>
                      
                      <option>KLP AksjeNorge Indeks II</option>
                      <option>KLP AksjeNorden Indeks</option>
                      <option>KLP AksjeEuropa Indeks III</option>
                      <option>KLP AksjeEuropa Indeks IV</option>
                      <option>KLP AksjeAsia Indeks III</option>
                      <option>KLP KLP AksjeAsia Indeks IV</option>
                      <option>KLP AksjeFremv. Indeks II</option>
                      <option>KLP AksjeGlobal Indeks IV</option>
                      <option>KLP AksjeFremv. Indeks II</option>
                      <option>KLP AksjeGlobal Indeks IV</option>
                      <option>KLP AksjeVerden Indeks</option>

                      <option disabled>Rentefond</option>

                      <option>KLP Pengemarked</option>
                      <option>KLP FRN</option>
                      <option>KLP Obligasjon 1 år</option>
                      <option>KLP Obligasjon 3 år</option>
                      <option>KLP Obligasjon 5 år</option>
                      <option>KLP Kort Stat</option>
                      <option>KLP Obligasjon Global II</option>
                      <option>KLP Statsobligasjon</option>
                      <option>KLP Kredittobligasjon</option>

                      <option disabled>Aktive aksjefond</option>

                      <option>KLP AksjeNorge</option>
                      <option>KLP AksjeGlobal LavBeta I</option>
                      <option>KLP AksjeGlobal Lavbeta II</option>
                    </select>

                    <select id="width_tmp_select">
                      <option id="width_tmp_option"></option>
                    </select>

                  </div>

                   kan dine 

                  <div class="link" style="display: inline-block; position: relative;">


                    <input style="border: 0; margin: 0; padding: 0 1em; width: 70px;" value="300" class="klp-font--bold" />


                  </div>

                    kr/md.
                   

                   bli <span class="klp-font--bold">23 403 kr</span>. 

                   *

                </div>

                <br><br>     




                <img src="images/kalkulator-graf.png">

                </div>
                </div>

                  <div>

                    <div class="composition--alpa calculator__results" style="display: flex;">

                      <div style="padding: 1em 0 0;" style="flex: 1;">

                        <h3 class="klp-fontsize--medium klp-font--semibold">Kostnadsfordel i KLP</h3>

                        <p>Du ville hatt <span class="klp-fontsize--medium klp-font--semibold">22 062 kr</span> mer i KLP-fondene enn i tilsvarende fond hos andre fondsforvaltere.</p>

                        <a class="toggle-link">
                          <i class="klp-icon klp-icon--inline klp-iconsize--base klp-fonticon klp-fonticon--info-circle"></i>
                          <span>Hvorfor får jeg mer i KLP-fondene?</span>
                        </a>

                        <div class="toggle_hide">

                          <div class="toggle__wrap">
                            
                            <div class="toggle__content info">

                              <p>Med lik avkastning i andre fond får du mer penger hos KLP pga. våre lave kostnader. Det vil si at du sitter igjen med mer penger selv!</p>

                            </div>

                          </div>

                        </div> <!-- / toggle -->

                      </div>



                      <div style="flex: 1; text-align: right; padding: 2.5em 1.25em; ">
                        
                        <a class="klp-btn klp-btn--primary klp-btn--large" href="bestilling-velgfond-ferdigvalgt-med_sum.html">
                          <span class="klp-btn__text">Start fondssparing</span>
                        </a>

                      </div>
                    </div>

                  </div>

 
                  <div style="font-size: .9em; margin: 1.5em -2.5em -2.5em; border-top: 1px solid #efefef; background: #fff; padding: .5em 2.5em 1.5em;">

                    <div class="composition--alpa calculator__resxrults" style="display: flex;">
                      <div>                    
                        <p>* Tallene er basert på historisk avkastning på 8 % fond og en bankrente på 2,4 %. Historisk avkastning er ingen garanti for fremtidig avkastning.</p>
                      </div>

                      <div style="text-align: center; padding-top: 1em;">
                        
                        <a class="toggle-link">
                          <i class="klp-icon klp-icon--inline klp-iconsize--base klp-fonticon klp-fonticon--info-circle"></i>
                          <span>Grunnlag for beregning</span>
                        </a>

                        <div class="toggle_hide">

                          <div class="toggle__wrap">
                            
                            <div class="toggle__content info">

                              <p>Med lik avkastning i andre fond får du mer penger hos KLP pga. våre lave kostnader. Det vil si at du sitter igjen med mer penger selv!</p>

                            </div>

                          </div>

                        </div> <!-- / toggle -->


                      </div>
                    </div>


                  </div>
   
                
              </div>


            </li>
            
          </ol>

          <a style="float: right; margin-bottom: 1.5em;" class="link hide" href="#" id="nullstill">Lukk</a>

        </div>

      </section>
    


    




<script>

$('.more__toggle').click(function(){
  $('.more').toggleClass('more__hide');
})
</script>





  <script>

  /*!
   * classie - class helper functions
   * from bonzo https://github.com/ded/bonzo
   * 
   * classie.has( elem, 'my-class' ) -> true/false
   * classie.add( elem, 'my-new-class' )
   * classie.remove( elem, 'my-unwanted-class' )
   * classie.toggle( elem, 'my-class' )
   */

  /*jshint browser: true, strict: true, undef: true */
  /*global define: false */

  ( function( window ) {

  'use strict';

  // class helper functions from bonzo https://github.com/ded/bonzo

  function classReg( className ) {
    return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
  }

  // classList support for class management
  // altho to be fair, the api sucks because it won't accept multiple classes at once
  var hasClass, addClass, removeClass;

  if ( 'classList' in document.documentElement ) {
    hasClass = function( elem, c ) {
      return elem.classList.contains( c );
    };
    addClass = function( elem, c ) {
      elem.classList.add( c );
    };
    removeClass = function( elem, c ) {
      elem.classList.remove( c );
    };
  }
  else {
    hasClass = function( elem, c ) {
      return classReg( c ).test( elem.className );
    };
    addClass = function( elem, c ) {
      if ( !hasClass( elem, c ) ) {
        elem.className = elem.className + ' ' + c;
      }
    };
    removeClass = function( elem, c ) {
      elem.className = elem.className.replace( classReg( c ), ' ' );
    };
  }

  function toggleClass( elem, c ) {
    var fn = hasClass( elem, c ) ? removeClass : addClass;
    fn( elem, c );
  }

  var classie = {
    // full names
    hasClass: hasClass,
    addClass: addClass,
    removeClass: removeClass,
    toggleClass: toggleClass,
    // short names
    has: hasClass,
    add: addClass,
    remove: removeClass,
    toggle: toggleClass
  };

  // transport
  if ( typeof define === 'function' && define.amd ) {
    // AMD
    define( classie );
  } else {
    // browser global
    window.classie = classie;
  }

  })( window );






  (function() {
    // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
    if (!String.prototype.trim) {
      (function() {
        // Make sure we trim BOM and NBSP
        var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
        String.prototype.trim = function() {
          return this.replace(rtrim, '');
        };
      })();
    }

    [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
      // in case the input is already filled..
      if( inputEl.value.trim() !== '' ) {
        classie.add( inputEl.parentNode, 'input--filled' );
      }

      // events:
      inputEl.addEventListener( 'focus', onInputFocus );
      inputEl.addEventListener( 'blur', onInputBlur );
    } );

    function onInputFocus( ev ) {
      classie.add( ev.target.parentNode, 'input--filled' );
    }

    function onInputBlur( ev ) {
      if( ev.target.value.trim() === '' ) {
        classie.remove( ev.target.parentNode, 'input--filled' );
      }
    }
  })();

  $(function () {
    $('#belop_engangs, #belop_fast').on('keyup', function() {
      if (this.value.length > 2) {
        $('.field_2').removeClass('hide').addClass('show');
        $('#nullstill').removeClass('hide').addClass('show');


        $('html, body').animate({
          scrollTop: $("#field_1").offset().top
        }, 1000);
      }

      else {
        $('.field_2,.field_3').removeClass('show').addClass('hide');

      }
    });


    $("#nullstill").on("click", function() {
      $('.input #belop_engangs, .input #belop_fast').val('');

      $(".input--filled").removeClass("input--filled");
   

      $('.field_2,.field_3').removeClass('show').addClass('hide');
        $('html, body').animate({
          scrollTop: $("#field_1").offset().top - 100
        }, 1000);

      // console.log('nullstill');
      // $("#tid").val('0');
      // $("#tid_output").val('0');
    });    


    $('#button-show-result').click(function(){ 
      $('.field_3').removeClass('hide').addClass('show');

      $('html, body').animate({
          scrollTop: $("#field_3").offset().top
      }, 1000);
    });

    

    $('#tid').on('keyup change', function() {
      console.log(tid.value);
      if (tid.value >= 3) {
        // $('.field_3').removeClass('hide').addClass('show');

      }
      else if (tid.value <= 3) {
        $('.sparekontoinfo').removeClass('hide').addClass('info show');
      }
      else {
        $('.field_3').removeClass('show').addClass('hide');
      }
    });

  });

    $('#tid').on('keyup change', function() {
      if (tid.value > 3) {
        $('.sparekontoinfo').removeClass('hide info').addClass('show ');

      }
    });


  $('#field_2 #tid').on('keyup change', function() {

    if (tid.value >= 3) {
        // If over 3 years show sparekontoinfo

        $('.sparekontoinfo').removeClass('show').addClass('hide');
        console.log('over 3 years');

    } else {
        // If over 3 years hide field_3
        $('#field_3').removeClass('show').addClass('hide');
    }
  });


  $('#tid').on('keyup change', function() {
    if (tid.value >= 3) {
      $('.field_3').removeClass('show').addClass('hide');
    }
  });





    // Recommendation


  $( ".velg-fond" ).change(function() {

    var value = $( this ).val();

    $( ".calculator__result" ).replaceWith( '<span class="calculator__result">' + value + ' kr</span>' );

    $( "#calculator__secondOption h2" ).replaceWith( '<h2 class="klp-font--semibold" style="font-size: 22px; color: black;">' + value + '</h2>' );

    // Recommendation
    if(value !== "200") {
        $( "#calculator__recommended" ).addClass('collapsed');
        $( "#calculator__secondOption" ).removeClass('hidden');
    } else {
        $( "#calculator__recommended" ).removeClass('collapsed');
        $( "#calculator__secondOption" ).addClass('hidden');
    }

  });




  $(document).ready(function() {
    $('#resizing_select').change(function(){
      $("#width_tmp_option").html($('#resizing_select option:selected').text()); 
      $(this).width($("#width_tmp_select").width() + 20 + 'px');  
    });
  });


  $('.velg-fond--tilbake').click(function(){ 
      $('.velg-fond').val($(this).data('val')).trigger('change');
  });

</script>







    <script>
      (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
          (function() {
            // Make sure we trim BOM and NBSP
            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
            String.prototype.trim = function() {
              return this.replace(rtrim, '');
            };
          })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
          // in case the input is already filled..
          if( inputEl.value.trim() !== '' ) {
            classie.add( inputEl.parentNode, 'input--filled' );
          }

          // events:
          inputEl.addEventListener( 'focus', onInputFocus );
          inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
          classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
          if( ev.target.value.trim() === '' ) {
            classie.remove( ev.target.parentNode, 'input--filled' );
          }
        }
      })();
    </script>



<script>

  $('.toggle-link').click(function(){
    console.log("click");
    $(this).next('.toggle_hide').toggleClass('toggle_show');
  });
  
</script>

