                <section style="width: 100%;" class="card card__fund card__fund--horizonal card__fund--index">

                    <div class="card__content" style="border: 1px solid #ddd; ">


                      <div class="composition--zeta" style="text-align: left;">
                        <div>
                          <span class="symbol"><img src="images/graph-index.svg"></span>
                          
                          <h2>KLP AksjeNorge Indeks II</h2>


                        </div>
                        <div>

                          <div class="composition--beta">

                            <div>
                              <div class="">

                                <section class="bgcolor-6">
                                  <span class="input input--juro">
                                    <input class="input__field input__field--juro" type="numbers" id="belop_fast" />
                                    <label class="input__label input__label--juro" for="input-28">
                                      <span class="input__label-content input__label-content--juro">Månedsbeløp</span>
                                    </label>
                                  </span>
                                </section>
                            
                              </div>
                            </div>

                            <div style="text-align: center; padding: 1em 0;">
                              og/eller
                            </div>
                            
                            <div>
                              <section class="bgcolor-6">
                                <span class="input input--juro">
                                  <input class="input__field input__field--juro" type="numbers" id="belop_engangs" />
                                  <label class="input__label input__label--juro" for="input-28">
                                    <span class="input__label-content input__label-content--juro">Engangsbeløp</span>
                                  </label>
                                </span>
                              </section>
                            </div>

                          </div>

                          
                        </div>




                    </div>
                      
                          <a class="toggle-link klp-fontsize--small" style="width: auto; margin-top: -2em; position: absolute;">
                            <i class="klp-icon klp-icon--inline klp-iconsize--small klp-fonticon klp-fonticon--angle-down"></i>
                            <span>Vis detaljer</span>
                          </a>

                          <div class="toggle_hide">

                            <div class="toggle__wrap">
                              
                              <div class="toggle__content">

                              <div class="composition--zeta" style="margin-top: .5em;">
                                <div>

                                <div class="numbers ">
                                    <div>
                                        <label>Sparehorisont</label>
                                        <span class="number">3–5 år</span>
                                        <br><br>
                                    </div>
                                    <div>
                                        <label>Type</label>
                                        <div class="number">Aksjefond</div>
                                        <br>
                                    </div>
                                    <div>
                                        <label>Risiko</label>
                                        
                                        <div style="clear: both; padding: .6em 0 0;">
                                            <div style="float: left; width: 11%; height: 1.1em; display: block; background: #333; margin-right: 1px;"></div>
                                            <div style="float: left; width: 11%; height: 1.1em; display: block; background: #333; margin-right: 1px;"></div>
                                            <div style="float: left; width: 11%; height: 1.1em; display: block; background: #333; margin-right: 1px;"></div>
                                            <div style="float: left; width: 11%; height: 1.1em; display: block; background: #ddd; margin-right: 1px;"></div>
                                            <div style="float: left; width: 11%; height: 1.1em; display: block; background: #ddd; margin-right: 1px;"></div>
                                            <div style="float: left; width: 11%; height: 1.1em; display: block; background: #ddd; margin-right: 1px;"></div>
                                            <div style="float: left; width: 11%; height: 1.1em; display: block; background: #ddd; margin-right: 1px;"></div>
                                        </div>
                                    </div>
                                </div>

                                </div>

                                <div style="">

                                

                                <p>KLP Kombinasjon er et fond i fond som investerer i KLP AksjeNorge Indeks (ca. 30 %), KLP AksjeGlobal Indeks II (ca. 30 %), KLP Obligasjon 5 år (ca. 20 %) og KLP Obligasjon Global (ca. 20 %). Fordelingen mellom aksjefond og obligasjonsfond er 60/40 i gjennomsnitt, men kan svinge med inntil +/- 6 prosentpoeng.</p>

                                <p>Fondet egner seg for deg som har en sparehorisont på 5-10 år.</p>

                                </div>
                                </div>

                              </div>

                            </div>

                          </div> <!-- / toggle -->
                        



                </section>