<section class="feedback container">
	
	<div class="container--article">

		<h1 class="klp-fontsize--medium">Fant du det du lette etter?</h1>

		<div class="row">

			<label class="klp-radio-label">
			  <input name="feedback" type="radio">
			  <span></span>
			  Ja
			</label>

			<label class="klp-radio-label">
			  <input name="feedback" type="radio">
			  <span></span>
			  Nei
			</label>

			<br>

			<textarea style="width: 100%;" placeholder="Hva lette du etter?" type="text" name="feedback"></textarea>

			<br>

	        <a class="klp-btn klp-btn--secondary"><span class="klp-btn__text">Svar</span></a>

		</div>


	</div>

</section>