  <section class="section order__navigation">

    <div>

      <div class="">

        <div style="margin: 0; float: left; display: inline-block;">
          <a class="klp-btn klp-btn--primary" href="bestilling-{{ next }}"><span class="klp-btn__text">Neste steg</span></a>
        </div>

        <div style="margin: 0; display: inline-block; padding: .5em 1em;">
          <a class="link" href="#"><span class="klp-btn__text">Tilbake</span></a>
        </div>

        <div style="margin: 0; display: inline-block; float: right; padding: .5em 1em;">
          <a href="#id01" class="link"><i class="klp-icon klp-icon--inline klp-iconsize--base klp-fonticon klp-fonticon--mail_outline"></i> Fortsett senere</a>
        </div>

      </div>

    </div>


    <div id="id01" class="modal">
      
      <div class="modal-dialog">

        <div class="modal-content">

          <div class="container">

            <header>
              <a href="#" class="closebtn">×</a>
              <h2 style="margin-top: 0; padding-top: 0;" class="klp-font--semibold">Fortsett senere</h2>
            </header>

            <p>Passer det bedre senere? Legg igjen e-postadressen din her, så sender vi deg en link der du kan fortsette bestillingen.</p>

            <section class="bgcolor-6">
                <span class="input input--juro">
                  <input class="input__field input__field--juro" type="text"  />
                  <label class="input__label input__label--juro" for="input-28">
                    <span class="input__label-content input__label-content--juro">Din e-postadresse</span>
                  </label>
                </span>
            </section>

            <br>

            <a style="display: block; text-align: center;" class="klp-btn klp-btn--primary" href="#"><span class="klp-btn__text">Fortsett senere</span></a>

          </div>

        </div>

      </div>

    </div>

  </section>
  