<section class="section">

  <div class="container">

    <div class="composition--beta">

      <div class="text-center">
        <a href="sparing.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
          <div class="klp-gizmo__body">

            <img style="max-height: 80px;" src="images/icon-diagram.png"><br>

            <h4 class="klp-gizmo__subtitle">
                Sparing i bank vs. fond
            </h4>

          </div>
        </a>
      </div>

      <div class="text-center">
        <a href="learn.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
          <div class="klp-gizmo__body">

            <img style="max-height: 80px;" src="images/icon-graph.png"><br>

            <h4 class="klp-gizmo__subtitle">
                Lær om fond
            </h4>

          </div>
        </a>
      </div>
      

      <div class="text-center">
        <a href="samfunnsansvar.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
          <div class="klp-gizmo__body">

            <img style="max-height: 80px;" src="images/icon-etikk.png"><br>

            <h4 class="klp-gizmo__subtitle">
                Etikk og samfunnsansvar
            </h4>

          </div>
        </a>
      </div>

      <div class="text-center">
        <a href="alle-fond.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
          <div class="klp-gizmo__body">

            <img style="max-height: 80px;" src="images/icon-see.png"><br>

            <h4 class="klp-gizmo__subtitle">
                Se alle fond og sammenlikn dem
            </h4>

          </div>
        </a>
      </div>
    
      <div class="text-center">
        <a href="bestilling-velgfond.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
          <div class="klp-gizmo__body">
              
            <img style="max-height: 80px;" src="images/icon-start.png"><br>

            <h4 class="klp-gizmo__subtitle">
                Start fondssparing
            </h4>

          </div>
        </a>
      </div>

      <div class="text-center">
        <a href="gavesparing.html" class="klp-gizmo klp-gizmo--fill klp-gizmo--shadow">
          <div class="klp-gizmo__body">

            <img style="max-height: 80px;" src="images/gift.png"><br>

            <h4 class="klp-gizmo__subtitle">
                Gi fond i gave
            </h4>

          </div>
        </a>
      </div>

    </div>

    <style>
    .submenu {
      display: inline-block;
      margin: 0 auto;
      list-style: none;
      padding: 0;
    }
    .submenu li {
      float: left;
      margin: 1.5em 2em 0 0;
    }
    </style>

    <ul class="submenu">
      <li><a href="#" class="link">Rapporter</a></li>
      <li><a href="#" class="link">Retningslinjer</a></li>
      <li><a href="#" class="link">Hellidagskalender</a></li>
      <li><a href="#" class="link">Ofte stilte spørsmål</a></li>
      <li><a href="#" class="link">Kostnadsoversikt</a></li>
    </ul>

  </div>

</section>
