<section class="more-links" style="background: #fafafa; padding: 2em 1em; margin: 3.5em 0;">

	<div class="container">

		<div class="container--article">

		<div class="composition--delta">

			<div>

				<h1 class="klp-fontsize--medium">Mer informasjon:</h1>

			</div>

			<div>

				<ul style="line-height: 2em; list-style: none; margin: 0; padding: 0; ">
					<li>
						<a href="#" class="link">Mer om ansvarlige investeringer</a>
					</li>
					<li>
						<a href="#" class="link">Om samfunnsansvar i KLP</a>
					</li>
					<li>
						<a href="#" class="link">Se alle KLP-fondene</a>
					</li>
				</ul>

			</div>

		</div>
		
		</div>


	</div>

</section>