            <div class="order__summary__content" style="padding-bottom: 0;">
              <h2>Din bestilling</h2>
            </div>

            <div class="order__summary__total" style="z-index: 99999;">
              Engangsbeløp: 9000 kr<br>
              Månedlig sparing: 800 kr
            </div>


            <div class="order__summary__content">

              <a class="toggle-link">
                <i class="klp-icon klp-icon--inline klp-iconsize--base klp-fonticon klp-fonticon--info-circle"></i>
                <span>Se detaljer</span>
              </a>

              <div class="toggle_hide">

                <div class="toggle__wrap">
                  

                  <div class="toggle__content ">

                    <label class="klp-font--bold">Engangsbeløp</label><br>
                    KLP AksjeNorge Indeks IV: 3000 kr<br>
                    KLP AksjeFremv. Indeks III: 6000 kr<br>

                    <br>

                    <label class="klp-font--bold">Månedlig sparing</label><br>

                    KLP AksjeVerden Indeks: 800 kr/md.

                  </div>

                </div>

              </div>

            </div>
